@using System.Security.Claims;
@using System.Globalization;
@model FMB_CIS.Models.Office
@{
    var baseurl = ViewBag.BaseUrl;
    ViewBag.Title = "Office Management";
}

<div class="modal modal-sheet fade  bg-body-secondary p-4 py-md-5" id="updateOfficeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Update Office</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="">
                    <input type="hidden" class="form-control rounded-3" id="officeId" asp-for="@Model.id">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="officeName" placeholder="" asp-for="@Model.office_name">
                        <label for="officeName">Office Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control form-select rounded-3"
                                asp-items="ViewBag.OfficeTypeData"
                                id="department" asp-for="@Model.department"></select>
                        @*onchange="loadProvince(this)"*@
                        @*<input type="text" class="form-control rounded-3" id="department" placeholder="" />*@
                        <label for="department">Department</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control form-select rounded-3"
                                asp-items="ViewBag.RegionData"
                                id="region_id" asp-for="@Model.region_id"></select>
                        <label for="region_id">Region Id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control form-select rounded-3" asp-items="ViewBag.ProvinceData" id="province_id" asp-for="@Model.province_id"></select>
                        <label for="province_id">Province Id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control form-select rounded-3" asp-items="ViewBag.CityData" id="city_id" asp-for="@Model.city_id"></select>
                        @*onchange="loadBrgy(this)"*@
                        <label for="city_id">City Id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="company_name" placeholder="" asp-for="@Model.company_name" />
                        <label for="company_name">Company Name</label>
                    </div>
                    <button id="btnUpdate" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button">Update</button>
                    <small class="text-body-secondary">By clicking Update, the office will be updated on the system.</small>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#cancelBtn").click(function () {
        closeModal();
    });

    $("#btnUpdate").click(function () {
        console.log("btnUpdate");
        updateOffice();
    });

    $("#region_id").change(function () {
        loadProvince(this.value);
        loadCity(-1);
    });

    $("#province_id").change(function () {
        loadCity(this.value);
    });
    
    function updateOffice() {

        let id = document.getElementById("officeId").value;
        let parameters = {
            id: id,
            office_name: document.getElementById("officeName").value,
            department: document.getElementById("department").value,
            region_id: document.getElementById("region_id").value,
            province_id: document.getElementById("province_id").value ? document.getElementById("province_id").value : 0,
            city_id: document.getElementById("city_id").value ? document.getElementById("city_id").value : 0,
            company_name: document.getElementById("company_name").value
        };
        console.log(parameters);
        $.ajax({
            url: '/OfficeManagement/OfficeUpdate/' + id,
            type: 'PUT',
            data: parameters,
            success: function (data) {
                // NOTE: TO DO better way of calling callback function from parent
                
                closeModal();

                Swal.fire({
                    title: "Success!",
                    icon: "success",
                    confirmButtonText: "Ok",
                    confirmButtonColor: '#14984a'
                });

                $('#officeListPartialContainer').load('/OfficeManagement/OfficeListPartialView');
            }, error: function(e) {
                console.log(e);
            }
        });
    }

    function closeModal() {
        $("#updateOfficeModal").modal("hide");
        let elem = document.querySelector('#updateOfficeModal');
        elem.parentNode.removeChild(elem);
    }

    //loadProvince
    $(document).ready(function () {
        var a = 0;
    });
    function loadProvince(value) {
        var url = "@baseurl";

        $.post(url + "Account/GetProvinceByRegionId", { tbl_region_id: value }, function (data) {
            PopulateProvinceDropDown("#province_id", data);
        });
    }

    function PopulateProvinceDropDown(dropDownId, list, selectedId) {
        $(dropDownId).empty();
        $(dropDownId).append("<option selected disabled value='0'>--Please Select a Province--</option>")
        $.each(list, function (index, row) {
            $(dropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    //loadCity
    $(document).ready(function () {
        var a = 0;
        //$("#region_id").change();
    });
    function loadCity(value) {
        var url = "@baseurl";

        $.post(url + "Account/GetCityByProvinceId", { tbl_province_id: value }, function (data) {
            PopulateCityDropDown("#city_id", data);
        });
    }

    function PopulateCityDropDown(ctDropDownId, list, selectedId) {
        $(ctDropDownId).empty();
        $(ctDropDownId).append("<option selected disabled value='0'>--Please Select a City--</option>")
        $.each(list, function (index, row) {
            $(ctDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }
</script>               