@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Report Generation";
}

<div id="card-container" style="overflow-y: scroll; height:800px;">
    <div id="card">
        <div class="c-info">
            <div class="card">
                @*<img src="..." class="card-img-top" alt="...">*@@*
                <div class="card-head card-head-image">
                </div>*@
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@Url.Action("Index", "Home")" class="me-auto" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>Report Generation
                    </h5>
                    <p class="card-text">Used to manage reports for all permit types.</p>
                   @* <button id="btnCreateWorkflow" onclick="OpenCreateModal()" class="btn btn-primary">Create New Workflow</button>*@
                </div>
            </div>
        </div>
        <div class="c-content" id="workflowListPartialContainer">

            <div class="list-group list-group-style1">
                @*<div href="#" class="list-group-item list-group-item-action flex-column align-items-start search-box-container">
                     <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-2">
                            <input type="text" id="accessRightsSearch" class="search-box" placeholder="SEARCH" />
                        </h5>
                        <small class="text-muted clickable" onclick="ClearSearch()">Clear</small>
                    </div>
                    </div>*@
                <div id="accessRights">
                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Permit to Import Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to Importing Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedImportPermit", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingImportPermit", "ReportGeneration")">Pending Applications</a></small>
                    </div>

                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Permit to Sell Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to Selling Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedPermitToSell", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingPermitToSell", "ReportGeneration")">Pending Applications</a></small>
                    </div>

                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Permit to Purchase Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to Purchasing/Buying Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedPermitToPurchase", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingPermitToPurchase", "ReportGeneration")">Pending Applications</a></small>
                    </div>
                    

                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                           <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> Certificate Of Registration Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards Chainsaw Certifacte of Registration</p>

                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedCertificateOfRegistration", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingCertificateOfRegistration", "ReportGeneration")">Pending Applications</a></small>
                    </div>
                        
                   
                  
                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Authority to Lease Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to Leasing Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedPermitToLease", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingPermitToLease", "ReportGeneration")">Pending Applications</a></small>
                    </div>
                      
                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Authority to Rent Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to Renting Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedPermitToRent", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingPermitToRent", "ReportGeneration")">Pending Applications</a></small>
                    </div>
                  
                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Authority to Lend Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to Lending Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedPermitToLend", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingPermitToLend", "ReportGeneration")">Pending Applications</a></small>
                    </div>
                    
                     <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="item-73">
                       <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Permit to Resell / Transfer of Ownership Report</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">All report regards to reselling/transferring ownership of Chainsaw</p>
                        <p class="c-hidden">81</p>
                        <small><a class="btnUpdateWorkflow" href="@Url.Action("GetCompletedPermitToResellAndTransferOfOwnership", "ReportGeneration")">Completed Applications</a></small>
                        <small><a class="btnDeleteWorkflow" href="@Url.Action("GetPendingPermitToResellAndTransferOfOwnership", "ReportGeneration")">Pending Applications</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<style>
    .c-info {
        width: 25%;
        float: left;
        padding: 12px;
    }

    .c-content {
        width: 75%;
        float: left;
        padding: 12px;
    }

    .card-head {
        width: 100%;
        height: 30px;
    }

    .card-head-image {
        width: 100%;
        height: 30px;
    }

    .card-body {
    }

    .card-margin {
        margin: 12px;
    }

    .list-group-style1 {
    }

        .list-group-style1 .list-group-item {
            margin-bottom: 12px;
        }

            .list-group-style1 .list-group-item + .list-group-item {
                border-top-width: 1px;
            }

    small a {
        color: #14984a;
        padding: 3px 0;
        border: none;
        border-bottom: solid 1px #14984a;
        margin-right: 12px;
        background: none;
        box-shadow: unset !important;
        outline: 0 !important;
        margin: 0 !important;
        margin-right: 12px !important;
        margin-top: 12px !important;
        text-decoration: none;
        cursor: pointer;
    }

    .search-box-container, .search-box-container:hover {
        background-color: #FFFFFF;
    }

        .search-box-container small {
            padding: 13px 0;
        }

    .search-box {
        border: none;
        font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        padding: 8px 0;
    }

        .search-box:focus {
            outline: none;
        }

    .c-hidden, .c-hidden-inline {
        display: none;
    }

    .c-show-hidden .c-hidden-inline {
        display: inline-block;
    }

    .c-show-hidden .c-hidden {
        display: block;
    }

    .c-show-hidden .c-hidden-on-show {
        display: none;
    }

    .clickable {
        cursor: pointer;
    }
</style>

