@using System.Security.Claims;
@using Services.Utilities;
@{
    var currentUrl = Context.Request.Path.ToString();
    ViewBag.UserRights = ((ClaimsIdentity)User.Identity).FindAll("userRights");
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");
    ViewBag.AccessRights = ((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value;
    var usrRoleList = ((ClaimsIdentity)User.Identity).FindFirst("userRoleList").Value.Split(",");
    var test = "";
}
<!DOCTYPE html>
<style>
    .close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: 0.25em 0.25em;
        color: #000;
        background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
        border: 0;
        border-radius: 0.25rem;
        opacity: .5;
    }


    button {
  cursor: pointer;
}

    a {
        cursor: pointer;
    }

    /* styles for data tables */

    .dataTables_wrapper > div.dt-buttons > button {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        margin: 0;
        font-family: inherit;
        text-transform: none;
        -webkit-appearance: button;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;        
        background-color: #14984a;
        border-color: #14984a;
        cursor: pointer;
    }

    .dataTables_filter > label {
        padding: 15px;
    }


    #tableBody > tr > td:nth-child(11) > button {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        margin: 0;
        font-family: inherit;
        text-transform: none;
        -webkit-appearance: button;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        float: right !important;
        background-color: #14984a;
        border-color: #14984a;
        cursor: pointer;
    }


</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMB-CIS @ViewData["Title"]</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/main-page-layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/datatables.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/font-awesome/css/v4-shims.css" />
    <link href="/bootstrap-fileinput-master/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
    <!--SELECTIZE-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css" integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/scss/_close.scss" /> *@
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
    <div id="header">
        <div id="header-top-container">
            <div class="row h-100 d-flex align-items-center ps-2 ms-2 pe-1 me-3">
                @*<div class="col-md-1">
                    <span id="toggle-btn" class="cursor-pointer" title="toggle menu"><i data-feather="align-justify"></i></span>
                </div>*@
                <div class="col-md-12 d-flex justify-content-end d-flex align-items-center gap-2">

                    <span class="fw-bold">@(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)</span>
                    
                    <span>@(((ClaimsIdentity)User.Identity).FindFirst("userRole").Value)</span>
                  
                    <span><img src="/assets/images/default-avatar.png" class="border rounded-circle bg-white" height="40" width="40" /></span>
                </div>
            </div>
        </div>
        <div id="header-bottom-container">
            <div class="ps-4 ms-1 py-2">
                <h4>@ViewBag.Title</h4>
                <div class="small fw-bold d-flex gap-3">
                    <span>Main</span> 
                    <span class="d-flex gap-3">
                        <span>&rsaquo;</span>
                        <span>@ViewBag.Title</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="side-bar">
        <div class="side-bar-container">
            <div class="side-bar-header w-100 p-2">
                <div class="row">
                    <div id="systemImg" class="col-md-6 pe-0 text-center">
                        <img src="~/assets/images/logo-only.png" />
                    </div>
                    <div class="col-md-6 lh-1 small fw-bold text-secondary pt-1 ps-0">
                        <span id="systemTitle">CHAINSAW INFORMATION SYSTEM (CIS)</span>
                    </div>
                    <div id="menu-items">
                        <ul class="list-unstyled text-secondary fw-bold">
                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_dashboard"))
                            {
                                <li id="dashboardMenuItem">
                                    <a href="@Url.Action("Index", "Dashboard")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/dashboard.png" title="dashboard" />
                                        </div>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                            } 
                            @* @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_applications"))//ViewBag.UserType.Contains("DENR") == false
                            {
                                <li id="applicationMenuItem">
                                    <a href="#" id="applicationSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/application.png" />
                                        </div>
                                        <span>Manage Applications</span>
                                    </a>
                                    
                                    <ul id="authorityToLeaseDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_authority_to_lease"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                            <li id="authorityToLease" class="mb-3">
                                                <a href="@Url.Action("LeasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Authority to Lease</span>
                                                </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_authority_to_rent"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                        <li id="authorityToRent" class="mb-3">
                                                <a href="@Url.Action("RentPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Rent</span>
                                                    </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_authority_to_lend"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                                <li id="authorityToLend" class="mb-3">
                                                <a href="@Url.Action("LendPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Lend</span>
                                                    </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_certification_of_registration"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                                <li id="certificationOfRegistration" class="mb-3">
                                                <a href="@Url.Action("RegistrationPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Certification of Registration</span>
                                                    </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_permit_to_resell"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                                <li id="permitToResellTransferOwnership" class="mb-3">
                                                <a href="@Url.Action("ResellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Resell/Transfer Ownership</span>
                                                    </a>
                                                </li>
                                            }

                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_permit_to_sell"))//ViewBag.UserType.Contains("Seller") == true
                                            {
                                                <li id="permitToSell" class="mb-3">
                                                    <a href="@Url.Action("SellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Sell</span>
                                                    </a>
                                                </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_permit_to_purchase"))//ViewBag.UserType.Contains("Seller") == true
                                        {
                                                <li id="permitToPurchase" class="mb-3">
                                                    <a href="@Url.Action("PurchasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Purchase</span>
                                                    </a>
                                                </li>
                                            }
                                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_permit_to_import"))//ViewBag.UserType.Contains("Importer") == true
                                            {
                                                <li id="permitToImport" class="mb-3">
                                                    <a href="@Url.Action("ImportPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Import</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                </li>
                            } *@
                            
                            @*@if ()*@
                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_import_applications"))// || usrRoleList.Contains("Chainsaw Importer")
                            {
                                <li id="chainsawImporterMenuItem">
                                    <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                        </div>
                                        <span>Chainsaw Importer</span>
                                    </a>
                                    <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_permit_to_import"))// || usrRoleList.Contains("Chainsaw Importer")
                                        {
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("ImportPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Import</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }

                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_sell_applications"))// || usrRoleList.Contains("Chainsaw Importer")
                            {
                                <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_permit_to_sell"))// || usrRoleList.Contains("Chainsaw Importer")
                                        {
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("SellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Sell</span>
                                                </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_permit_to_purchase"))// || usrRoleList.Contains("Chainsaw Importer")
                                        {
                                            <li id="permitToPurchaseApplication" class="my-0">
                                                <a href="@Url.Action("PurchasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Purchase</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>                                
                            }

                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_own_applications"))// || usrRoleList.Contains("Chainsaw Importer")
                            {
                                <li id="chainsawOwnerMenuItem">
                                    <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                        </div>
                                        <span>Chainsaw Owner</span>
                                    </a>
                                    <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_chainsaw_registration"))// || usrRoleList.Contains("Chainsaw Importer")
                                        {
                                        <li id="newChainsawRegistrationMenuItem">
                                                <a href="@Url.Action("RegistrationPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Chainsaw Registration</span>
                                            </a>
                                        </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_authority_to_lease"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                            <li id="authorityToLease" class="mb-3">
                                                <a href="@Url.Action("LeasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Authority to Lease</span>
                                                </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_authority_to_rent"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                            <li id="authorityToRent" class="mb-3">
                                                <a href="@Url.Action("RentPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Authority to Rent</span>
                                                </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_authority_to_lend"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                            <li id="authorityToLend" class="mb-3">
                                                <a href="@Url.Action("LendPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Authority to Lend</span>
                                                </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_permit_to_resell"))//ViewBag.UserType.Contains("Owner") == true
                                        {
                                            <li id="permitToResellTransferOwnership" class="mb-3">
                                                <a href="@Url.Action("ResellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Resell/Transfer Ownership</span>
                                                </a>
                                            </li>
                                        }
                                        @* @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_other_permits"))// || usrRoleList.Contains("Chainsaw Importer")
                                        {
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>

                                                    <span>Other Permits</span>
                                                </a>
                                            </li>
                                        } *@
                                    </ul>
                                </li>
                            }

                            @if (
                            AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_approve_reject_applications")
                           @* usrRoleList.Contains("DENR CENRO")
                            || usrRoleList.Contains("DENR Inspector")
                            || usrRoleList.Contains("DENR Regional Executive Director (RED)")
                            || usrRoleList.Contains("DENR Implementing PENRO")*@
                            )
                            {
                                <li id="chainsawImporterMenuItem">
                                    <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                        </div>
                                        <span>Chainsaw Importer</span>
                                    </a>
                                    <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="chainsawImporterApplication" class="my-0">
                                            <a href="@Url.Action("ChainsawImporterApplicantsList", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Application</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="chainsawSellerMenuItem">
                                    <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                        </div>
                                        <span>Chainsaw Seller</span>
                                    </a>
                                    <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="chainsawSellerApplication" class="my-0">
                                            <a href="@Url.Action("ChainsawSellerApplicantsList", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Application</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="chainsawOwnerMenuItem">
                                    <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                        </div>
                                        <span>Chainsaw Owner</span>
                                    </a>
                                    <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="chainsawOwnerApplication" class="my-0">
                                            <a href="@Url.Action("ChainsawOwnerApplicantsList", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>

                                                <span>Application</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            
                            @* <li id="renewalMenuItem">
                                <a href="@Url.Action("Index", "Renewal")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/renewal.png" />
                                    </div>
                                    <span>Renewal</span>
                                </a>
                            </li> *@
                            @* <li id="profileManagementMenuItem">
                                <a href="@Url.Action("Index", "ProfileManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/profile-management.png" />
                                    </div>
                                    <span>Profile Management</span>
                                </a>
                            </li> *@
                            @* Only allow CENRO/Implementing PENRO/RED/Admin/Super Admin to access this *@
                            @* @if (ViewBag.UserType.Contains("DENR") == true) *@
                        @*    @if (ViewBag.UserType.Contains("CENRO") == true || ViewBag.UserType.Contains("Implementing") == true || ViewBag.UserType.Contains("RED") == true || ViewBag.UserType.Contains("Administrator") == true || ViewBag.UserType.Contains("Super Admin") == true)
                            {*@
                                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_account_management") || AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_profile"))
                                {
                                <li id="accountManagementMenuItem">
                                    <a href="#" id="accountManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/account-management.png" />
                                        </div>
                                        <span>Account Management</span>
                                    </a>
                                    <ul id="accountManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                         @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_users")) {
                                        <li id="RegisteredAccountsMenuItem">
                                            <a href="@Url.Action("Index", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Users</span>
                                            </a>
                                        </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_requests"))
                                        {
                                            <li id="accountInfoMenuItem">
                                                <a href="@Url.Action("RequestToChangeAcctInfoList", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Manage Requests</span>
                                                </a>
                                            </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_profile"))
                                        {
                                            <li id="ManageProfileMenuItem">
                                                <a href="@Url.Action("RequestToChangeAccountInfo", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Manage Profile</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                          @*  @if (ViewBag.UserType.Contains("Administrator") == true)
                            {*@
                                
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_monitoring"))
                                        {
                            <li id="monitoringMenuItem">
                                <a href="@Url.Action("Index", "Monitoring")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/monitoring.png" />
                                    </div>
                                    <span>Monitoring</span>
                                </a>
                            </li>

                                @*@if (((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Chainsaw")!=true)
                            {*@
                                @* <li id="creationOfNewDenrOfficeMenuItem">
                                    <a href="@Url.Action("Index", "CreationOfNewDenrOffice")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/creation-of-new-denr-office.png" />
                                        </div>
                                        <span>Creation of New DENR Office</span>
                                    </a>
                                </li>
                                
                                <li id="announcementTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "AnnouncementTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/announcement-templates.png" />
                                        </div>
                                        <span>Announcement Templates</span>
                                    </a>
                                </li>
                                <li id="emailTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "EmailTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/email-templates.png" />
                                        </div>
                                        <span>Email Templates</span>
                                    </a>
                                </li> *@
                            }
                        @*    @if (ViewBag.UserType.Contains("Super Admin") == true)
                            {*@
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_office_management"))
                                        {
                                <li id="officeManagementMenuItem">
                                    <a href="#" id="officeManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/creation-of-new-denr-office.png" />
                                        </div>
                                        <span>Office Management</span>
                                    </a>
                                    <ul id="officeManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_office_types"))
                                        {
                                        <li id="officeTypeListMenuItem">
                                            <a href="@Url.Action("OfficeTypeList", "OfficeManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Office Types</span>
                                            </a>
                                        </li>
                                        }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_offices"))
                                        {
                                            <li id="officeListMenuItem">
                                                <a href="@Url.Action("OfficeList", "OfficeManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Manage Offices</span>
                                                </a>
                                            </li>
                                        }
                                        @*            <li id="creationOfNewDenrOfficeMenuItem">
                                            <a href="@Url.Action("Index", "CreationOfNewDenrOffice")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Offices (original)</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>
                                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_access_rights_management"))
                                {
                                    <li id="accessRightsManagementMenuItem">
                                        <a href="#" id="accessRightsManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/account-management.png" />
                                            </div>
                                            <span>Access Rights Management</span>
                                        </a>
                                        <ul id="accessRightsManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_assign_access_rights"))
                                            {
                                            <li id="assignAccessRightsListMenuItem">
                                                <a href="@Url.Action("UserTypeAccessRightsList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Assign Access Rights</span>
                                                </a>
                                            </li>
                                            }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_access_rights"))
                                        {
                                            <li id="accessRightsListMenuItem">
                                                <a href="@Url.Action("AccessRightsList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Manage Access Rights</span>
                                                </a>
                                                </li>
                                            }
                                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_user_types"))
                                            {
                                            <li id="userTypeListMenuItem">
                                                <a href="@Url.Action("UserTypeList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Manage User Types</span>
                                                </a>
                                            </li>
                                            }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_assign_user_types"))
                                            {
                                                <li id="userTypeListMenuItem">
                                                    <a href="@Url.Action("UserTypeUserList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Assign User Types</span>
                                                </a>
                                            </li>}
                                        </ul>
                                    </li>
                                }

                                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_workflow_management"))
                                {
                                    <li id="workflowManagementMenuItem">
                                        <a href="#" id="workflowManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/account-management.png" />
                                            </div>
                                            <span>Workflow Management</span>
                                        </a>
                                        <ul id="workflowManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="workflowListMenuItem">
                                                <a href="@Url.Action("WorkflowList", "WorkflowManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Workflow Management</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    @*}*@
                                }

                                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_announcement_management"))
                                {
                                    <li id="announcementTemplatesMenuItem">
                                        <a href="@Url.Action("Index", "AnnouncementTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/announcement-templates.png" />
                                            </div>
                                            <span>Announcement Templates</span>
                                        </a>
                                    </li>
                                }
                                        @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_email_management"))
                                        {
                                <li id="emailTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "EmailTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/email-templates.png" />
                                        </div>
                                        <span>Email Templates</span>
                                    </a>
                                </li>
                                }
                                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_checklist_management"))
                                {
                                    <li id="checklistManagementMenuItem">
                                        <a href="@Url.Action("Index", "ChecklistManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/checklist-management.png" />
                                            </div>
                                            <span>Checklist Management</span>
                                        </a>
                                    </li>
                                }
                            }
                            <hr class="me-4 my-4" />
                            <li>
                                @Html.ActionLink("Logout", "Signout", "Home", new { area = "" }, new { @class = "text-decoration-none" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="main">
        @RenderBody()
    </main>

    @if (currentUrl.Contains("ChainsawImporter") || (currentUrl.Contains("ChainsawImporterApproval")))
    {
        <partial name="~/Views/Modals/ChainsawImporterModal.cshtml" />
    }
    else if (currentUrl.Contains("ChainsawSeller"))
    {
        <partial name="~/Views/Modals/ChainsawSellerModal.cshtml" />
    }
    else if (currentUrl.Contains("ChainsawOwner") || currentUrl.Contains("NewChainsawRegistration"))
    {
        <partial name="~/Views/Modals/ChainsawOwnerModal.cshtml" />
    }
    else if (currentUrl.Contains("RequestToChangeAcctInfoApproval"))
    {
        <partial name="~/Views/Modals/RequestToChangeAcctInfoApprovalModal.cshtml" />
    }
    else if (currentUrl.Contains("AccountsApproval"))
    {
        <partial name="~/Views/Modals/AccountsApprovalModal.cshtml" />
    }
    else if (currentUrl.Contains("AccountManagement") || (currentUrl.Contains("EditAccount") || (currentUrl.Contains("AddAccount"))))
    {
        <partial name="~/Views/Modals/AccountManagementModal.cshtml" />
    }
    else if (currentUrl.Contains("CreationOfNewDenrOffice"))
    {
        <partial name="~/Views/Modals/CreationOfNewDenrOfficeModal.cshtml" />
    }
    else if (currentUrl.Contains("OfficeTypeList"))
    {
        <div id="officeTypeCreateModalContainer"></div>
        <div id="officeTypeUpdateModalContainer"></div>
        <div id="officeTypeDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("OfficeList"))
    {
        <div id="officeCreateModalContainer"></div>
        <div id="officeUpdateModalContainer"></div>
        <div id="officeDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("UserTypeAccessRightsList"))
    {
        <div id="userTypeAccessRightsCreateModalContainer"></div>
        <div id="userTypeAccessRightsUpdateModalContainer"></div>
        <div id="userTypeAccessRightsDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("AccessRightsList"))
    {
        <div id="accessRightsCreateModalContainer"></div>
        <div id="accessRightsUpdateModalContainer"></div>
        <div id="accessRightsDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("UserTypeList"))
    {
        <div id="userTypeCreateModalContainer"></div>
        <div id="userTypeUpdateModalContainer"></div>
        <div id="userTypeDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("WorkflowList"))
    {
        <div id="workflowCreateModalContainer"></div>
        <div id="workflowUpdateModalContainer"></div>
        <div id="workflowDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("EditApplication"))
    {
        <partial name="~/Views/Modals/EditApplicationModal.cshtml" />
    }
    else if (currentUrl.Contains("EmailTemplates"))
    {
        <partial name="~/Views/Modals/EmailTemplateModal.cshtml" />
    }
    else if (currentUrl.Contains("AnnouncementTemplates"))
    {
        <partial name="~/Views/Modals/AnnouncementTemplateModal.cshtml" />
    }
    else if (currentUrl.Contains("LeasePermits") || currentUrl.Contains("RentPermits") || currentUrl.Contains("LendPermits") || currentUrl.Contains("RegistrationPermits") || currentUrl.Contains("ResellPermits") || currentUrl.Contains("SellPermits") || currentUrl.Contains("PurchasePermits") || currentUrl.Contains("ImportPermits"))
    {
        <partial name="~/Views/Modals/ManageApplicationModal.cshtml" />
    }
    else if (currentUrl.Contains("ChecklistManagement"))
    {
        <partial name="~/Views/Modals/ChecklistManagementModal.cshtml" />
    }
    <footer>
         2023 DENR-FMB CIS. All rights reserved. <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-light-gray text-decoration-none">Privacy Policy | Terms & Conditions.</a>
    </footer>

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/datatables-custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/plug-ins/1.13.7/sorting/datetime-moment.js" type="text/javascript"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script> *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> *@
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    @* <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script> *@

    <script src="/bootstrap-fileinput-master/js/plugins/piexif.min.js" type="text/javascript"></script>
    <script src="/bootstrap-fileinput-master/js/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap-fileinput-master/js/fileinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();


        $.fn.dataTable.moment('DD/MM/YYYY h:mm:ss a');

        $('.dataTable').DataTable({
            destroy: true,
            order: [[0, 'desc']],
            dom: 'Bfrtip',
            buttons: ['csv', 'excel']
        });




           // table.clear();
           // table.destroy();
            // var table = $.fn.dataTable.isDataTable('#applicationTable');
            //table.clear();
            //table.destroy();

            //var table = $('#applicationTable').DataTable({
            //    order: [[0, 'desc']],
            //    dom: 'Bfartip',
            //    buttons: ['csv']
            //});
        


        function toggleDropdown(menuItem, dropdown) {
            $(dropdown).toggleClass("active");
            const isOpen = $(dropdown).hasClass("active");
            sessionStorage.setItem(menuItem + "DropdownState", isOpen ? "open" : "closed");
        }

        function setupDropdown(menuItemID, dropdownID) {
            const menuItem = $("#" + menuItemID);
            const dropdown = $("#" + dropdownID);

            menuItem.click(function (e) {
                e.preventDefault();
                toggleDropdown(menuItemID, dropdown);
            });

            const storedState = sessionStorage.getItem(menuItemID + "DropdownState");
            if (storedState === "open") {
                dropdown.addClass("active");
            }
        }

        setupDropdown("chainsawImporterSubMenuItem", "chainsawImporterDropdown");

        setupDropdown("chainsawSellerSubMenuItem", "chainsawSellerDropdown");

        setupDropdown("chainsawOwnerSubMenuItem", "chainsawOwnerDropdown");

        setupDropdown("applicationSubMenuItem", "authorityToLeaseDropdown");

        setupDropdown("accountManagementSubMenuItem", "accountManagementDropdown");

        setupDropdown("officeManagementSubMenuItem", "officeManagementDropdown");

        setupDropdown("accessRightsManagementSubMenuItem", "accessRightsManagementDropdown");

        setupDropdown("workflowManagementSubMenuItem", "workflowManagementDropdown");



        function setActiveMenuItem(menuItemId) {
            const menuItems = document.querySelectorAll('#menu-items ul li');
            menuItems.forEach((item) => {
                item.classList.remove('active-menu-item');
            });

            document.getElementById(menuItemId).classList.add('active-menu-item');
        }

        const currentPage = window.location.pathname;

        const pageToMenuItemMap = {
            "/Dashboard": "dashboardMenuItem",
            "/Application": "applicationMenuItem",
            "/Application/ManageApplications": "applicationMenuItem",
            "/Application/LeasePermits": "authorityToLease",
            "/Application/RentPermits": "authorityToRent",
            "/Application/LendPermits": "authorityToLend",
            "/Application/RegistrationPermits": "newChainsawRegistrationMenuItem",
            "/Application/ResellPermits": "permitToResellTransferOwnership",
            "/Application/SellPermits": "chainsawSellerApplication",
            "/Application/PurchasePermits": "permitToPurchaseApplication",
            "/Application/ImportPermits": "chainsawImporterApplication",
            "/ChainsawImporter": "chainsawImporterApplication",
            "/ChainsawImporter/ChainsawImporterApplicantsList": "chainsawImporterApplication",
            "/ChainsawSeller": "chainsawSellerApplication",
            "/ChainsawSeller/PermitToPurchase": "permitToPurchaseApplication",
            "/ChainsawSeller/ChainsawSellerApplicantsList": "chainsawSellerApplication",
            //"/ChainsawOwner": "chainsawOwnerApplication",
            "/NewChainsawRegistration": "newChainsawRegistrationMenuItem",
            "/ChainsawOwner/ChainsawOwnerApplicantsList": "chainsawOwnerApplication",
            "/ChainsawImporter/ChainsawImporterApproval": "chainsawImporterApplication",
            "/ChainsawSeller/ChainsawSellerApproval": "chainsawSellerApplication",
            "/ChainsawOwner/ChainsawOwnerApproval": "chainsawOwnerApplication",
            "/Renewal": "renewalMenuItem",
            "/ProfileManagement": "profileManagementMenuItem",
            "/AccountManagement": "RegisteredAccountsMenuItem",
            "/AccountManagement/RequestToChangeAcctInfoList": "accountInfoMenuItem",
            "/AccountManagement/RequestToChangeAccountInfo": "ManageProfileMenuItem",
            "/AccountManagement/AddAccount": "accountManagementMenuItem",
            "/AccountManagement/EditAccount": "accountManagementMenuItem",
            "/OfficeManagement/OfficeList": "officeListMenuItem",
            "/OfficeManagement/OfficeTypeList": "officeTypeListMenuItem",
            "/AccessRightsManagement/UserTypeList": "userTypeListMenuItem",
            "/AccessRightsManagement/AccessRightsList": "accessRightsListMenuItem",
            "/AccessRightsManagement/UserTypeAccessRightsList": "assignAccessRightsListMenuItem",
            "/WorkflowManagement/WorkflowList": "workflowListMenuItem",
            "/Monitoring": "monitoringMenuItem",
            "/CreationOfNewDenrOffice": "creationOfNewDenrOfficeMenuItem",
            "/AnnouncementTemplates": "announcementTemplatesMenuItem",
            "/EmailTemplates": "emailTemplatesMenuItem",
            "/ChecklistManagement": "checklistManagementMenuItem",
        };

        if (currentPage.startsWith("/AccountManagement/ViewAccount/")) {
            const urlParts = currentPage.split("/");
            const id = urlParts[urlParts.length - 1];
            setActiveMenuItem(pageToMenuItemMap["/AccountManagement"]);
        } else if (pageToMenuItemMap[currentPage]) {
            setActiveMenuItem(pageToMenuItemMap[currentPage]);
        }

        const activeMenuItemId = document.querySelector('.active-menu-item').id;
        localStorage.setItem('activeMenuItem', activeMenuItemId);

        const storedActiveMenuItem = localStorage.getItem('activeMenuItem');
        if (storedActiveMenuItem) {
            setActiveMenuItem(storedActiveMenuItem);
        }

        // toggle filter
        //var asideElement = $("#side-bar");

        //if (asideElement.length > 0) {
        //    var btnToggler = $('#toggle-btn');
        //    var togglerStatus = localStorage.getItem('toggler');

        //    if (localStorage.getItem('toggler') === null || localStorage.getItem('toggler') === 'true') {
        //        asideElement.removeClass("slide-left");
        //        $("#header-top-container").css({ "margin-left": "300px" });
        //        $("#header-bottom-container").css({ "margin-left": "300px" });
        //        $("#main").css({ "margin-left": "300px" });
        //        $("#card-container").css({ "margin-right": "330px" });
        //        $("#systemTitle").css({ "display": "block" });
        //        $("#systemImg").addClass("col-md-6 text-center").removeClass("col-md-12 text-end");
        //    } else {
        //        asideElement.addClass("slide-left");
        //        $("#header-top-container").css({ "margin-left": "100px" });
        //        $("#header-bottom-container").css({ "margin-left": "100px" });
        //        $("#main").css({ "margin-left": "100px" });
        //        $("#card-container").css({ "margin-right": "130px" });
        //        $("#systemTitle").css({ "display": "none" });
        //        $("#systemImg").removeClass("col-md-6 text-center").addClass("col-md-12 text-end");

        //    }

        //    btnToggler.click(function () {
        //        asideElement.toggleClass("slide-left");

        //        var currentStatus = localStorage.getItem('toggler');
        //        var newStatus = currentStatus === 'true' ? 'false' : 'true';
        //        localStorage.setItem('toggler', newStatus);

        //        if (newStatus === 'true') {
        //            $("#header-top-container").css({ "margin-left": "300px" });
        //            $("#header-bottom-container").css({ "margin-left": "300px" });
        //            $("#main").css({ "margin-left": "300px" });
        //            $("#card-container").css({ "margin-right": "330px" });
        //            $("#systemTitle").css({ "display": "block" });
        //            $("#systemImg").addClass("col-md-6 text-center").removeClass("col-md-12 text-end");
        //        } else {
        //            $("#header-top-container").css({ "margin-left": "100px" });
        //            $("#header-bottom-container").css({ "margin-left": "100px" });
        //            $("#main").css({ "margin-left": "100px" });
        //            $("#card-container").css({ "margin-right": "130px" });
        //            $("#systemTitle").css({ "display": "none" });
        //            $("#systemImg").removeClass("col-md-6 text-center").addClass("col-md-12 text-end");

        //        }
        //    });
        //}
    });
</script>