@using System.Security.Claims;

@{
    var currentUrl = Context.Request.Path.ToString();
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMB-CIS @ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/main-page-layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/datatables.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/font-awesome/css/v4-shims.css" />
</head>
<body>
    <div id="header">
        <div id="header-top-container">
            <div class="row h-100 d-flex align-items-center ps-2 ms-2 pe-1 me-3">
                <div class="col-md-1">
                    <span id="toggle-btn" class="cursor-pointer" title="toggle menu"><i data-feather="align-justify"></i></span>
                </div>
                <div class="col-md-11 d-flex justify-content-end d-flex align-items-center gap-2">

                    <span class="fw-bold">@(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)</span>
                    
                    <span>@(((ClaimsIdentity)User.Identity).FindFirst("userRole").Value)</span>
                  
                    <span><img src="/assets/images/default-avatar.png" class="border rounded-circle bg-white" height="40" width="40" /></span>
                </div>
            </div>
        </div>
        <div id="header-bottom-container">
            <div class="ps-4 ms-1 py-2">
                <h4>@ViewBag.Title</h4>
                <div class="small fw-bold d-flex gap-3">
                    <span>Main</span> 
                    <span class="d-flex gap-3">
                        <span>&rsaquo;</span>
                        <span>@ViewBag.Title</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="side-bar">
        <div class="side-bar-container">
            <div class="side-bar-header w-100 p-2">
                <div class="row">
                    <div class="col-md-6 pe-0 text-center">
                        <img src="~/assets/images/logo-only.png" />
                    </div>
                    <div class="col-md-6 lh-1 small fw-bold text-secondary pt-1 ps-0">
                        CHAINSAW INFORMATION SYSTEM (CIS)
                    </div>
                    <div id="menu-items">
                        <ul class="list-unstyled text-secondary fw-bold">
                            <li id="dashboardMenuItem">
                                <a href="@Url.Action("Index", "Dashboard")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/dashboard.png" />
                                    </div>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            @if (ViewBag.UserType.Contains("DENR") == false)
                            {
                                <li id="applicationMenuItem">
                                    <a href="#" id="applicationSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/application.png" />
                                        </div>
                                        <span>Manage Applications</span>
                                    </a>
                                    @if (ViewBag.UserType.Contains("Owner") == true)
                                        {
                                            <ul id="authorityToLeaseDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                                <li id="authorityToLease" class="mb-3">
                                                <a href="@Url.Action("ManageApplications", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Lease</span>
                                                    </a>
                                                </li>
                                                <li id="authorityToRent" class="mb-3">
                                                <a href="@Url.Action("ManageApplications", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Rent</span>
                                                    </a>
                                                </li>
                                                <li id="authorityToLend" class="mb-3">
                                                <a href="@Url.Action("ManageApplications", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Lend</span>
                                                    </a>
                                                </li>
                                                <li id="certificationOfRegistration" class="mb-3">
                                                <a href="@Url.Action("ManageApplications", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Certification of Registration</span>
                                                    </a>
                                                </li>
                                                <li id="permitToResellTransferOwnership" class="mb-3">
                                                <a href="@Url.Action("ManageApplications", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Resell/Transfer Ownership</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    @if (ViewBag.UserType.Contains("Seller") == true)
                                    {
                                        <ul id="SellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="permitToSell" class="mb-3">
                                                <a href="@Url.Action("SellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Sell</span>
                                                </a>
                                            </li>
                                            <li id="permitToPurchase" class="mb-3">
                                                <a href="@Url.Action("PurchasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Purchase</span>
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                    @if (ViewBag.UserType.Contains("Importer") == true)
                                    {
                                        <ul id="ImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="permitToImport" class="mb-3">
                                                <a href="@Url.Action("ImportPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Import</span>
                                                </a>
                                            </li>
                                            </ul>
                                    }
                                </li>
                            }
                            @switch(((ClaimsIdentity)User.Identity).FindFirst("userRole").Value)
                            {
                                case "Chainsaw Importer":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;

                                case "Chainsaw Seller":
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Owner":
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Importer and Seller":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>

                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Importer and Owner":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Seller and Owner":
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Importer, Owner, and Seller" or "DENR CENRO" or "DENR Inspector":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                default:

                                    break;
                            }
                            @if (ViewBag.UserType.Contains("Owner") == true){
                            <li id="newChainsawRegistrationMenuItem">
                                <a href="@Url.Action("Index", "NewChainsawRegistration")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/new-chainsaw-registration.png" />
                                    </div>
                                    <span>New Chainsaw Registration</span>
                                </a>
                            </li>}
                            <li id="renewalMenuItem">
                                <a href="@Url.Action("Index", "Renewal")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/renewal.png" />
                                    </div>
                                    <span>Renewal</span>
                                </a>
                            </li>
                            <li id="profileManagementMenuItem">
                                <a href="@Url.Action("Index", "ProfileManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/profile-management.png" />
                                    </div>
                                    <span>Profile Management</span>
                                </a>
                            </li>
                            @if (ViewBag.UserType.Contains("DENR") == true)
                            {
                                <li id="accountManagementMenuItem">
                                    <a href="@Url.Action("Index", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/account-management.png" />
                                        </div>
                                        <span>Account Management</span>
                                    </a>
                                </li>
                            }
                            @if (ViewBag.UserType.Contains("Administration") == true)
                            {
                            <li id="monitoringMenuItem">
                                <a href="@Url.Action("Index", "Monitoring")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/monitoring.png" />
                                    </div>
                                    <span>Monitoring</span>
                                </a>
                            </li>

                                


                                @*@if (((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Chainsaw")!=true)
                            {*@
                                <li id="creationOfNewDenrOfficeMenuItem">
                                    <a href="@Url.Action("Index", "CreationOfNewDenrOffice")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/creation-of-new-denr-office.png" />
                                        </div>
                                        <span>Creation of New DENR Office</span>
                                    </a>
                                </li>
                                @*}*@
                                <li id="announcementTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "AnnouncementTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/announcement-templates.png" />
                                        </div>
                                        <span>Announcement Templates</span>
                                    </a>
                                </li>
                                <li id="emailTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "EmailTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/email-templates.png" />
                                        </div>
                                        <span>Email Templates</span>
                                    </a>
                                </li>
                            }
                            <hr class="me-4 my-4" />
                            <li>
                                @Html.ActionLink("Logout", "Signout", "Home", new { area = "" }, new { @class = "text-decoration-none" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="main">
        @RenderBody()
    </main>

    @if (currentUrl.Contains("ChainsawImporter") || (currentUrl.Contains("ChainsawImporterApproval")))
    {
        <partial name="~/Views/Modals/ChainsawImporterModal.cshtml" />
    }
    else if (currentUrl.Contains("ChainsawSeller"))
    {
        <partial name="~/Views/Modals/ChainsawSellerModal.cshtml" />
    }
    else if (currentUrl.Contains("ChainsawOwner"))
    {
        <partial name="~/Views/Modals/ChainsawOwnerModal.cshtml" />
    }
    else if (currentUrl.Contains("AccountsApproval"))
    {
        <partial name="~/Views/Modals/AccountsApprovalModal.cshtml" />
    }
    else if (currentUrl.Contains("AccountManagement") || (currentUrl.Contains("EditAccount") || (currentUrl.Contains("AddAccount"))))
    {
        <partial name="~/Views/Modals/AccountManagementModal.cshtml" />
    }
    else if (currentUrl.Contains("CreationOfNewDenrOffice"))
    {
        <partial name="~/Views/Modals/CreationOfNewDenrOfficeModal.cshtml" />
    }
    else if (currentUrl.Contains("EditApplication"))
    {
        <partial name="~/Views/Modals/EditApplicationModal.cshtml" />
    }
    <footer>
        © 2023 DENR-FMB CIS. All rights reserved. <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-light-gray text-decoration-none">Privacy Policy | Terms & Conditions.</a>
    </footer>

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/datatables-custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();
        $('.dataTable').DataTable({
            destroy: true,
            order: [[0, 'desc']]
        });
        function toggleDropdown(menuItem, dropdown) {
            $(dropdown).toggleClass("active");
            const isOpen = $(dropdown).hasClass("active");
            sessionStorage.setItem(menuItem + "DropdownState", isOpen ? "open" : "closed");
        }

        function setupDropdown(menuItemID, dropdownID) {
            const menuItem = $("#" + menuItemID);
            const dropdown = $("#" + dropdownID);

            menuItem.click(function (e) {
                e.preventDefault();
                toggleDropdown(menuItemID, dropdown);
            });

            const storedState = sessionStorage.getItem(menuItemID + "DropdownState");
            if (storedState === "open") {
                dropdown.addClass("active");
            }
        }

        setupDropdown("chainsawImporterSubMenuItem", "chainsawImporterDropdown");

        setupDropdown("chainsawSellerSubMenuItem", "chainsawSellerDropdown");

        setupDropdown("chainsawOwnerSubMenuItem", "chainsawOwnerDropdown");

        setupDropdown("applicationSubMenuItem", "authorityToLeaseDropdown");

        function setActiveMenuItem(menuItemId) {
            const menuItems = document.querySelectorAll('#menu-items ul li');
            menuItems.forEach((item) => {
                item.classList.remove('active-menu-item');
            });

            document.getElementById(menuItemId).classList.add('active-menu-item');
        }

        const currentPage = window.location.pathname;

        const pageToMenuItemMap = {
            "/Dashboard": "dashboardMenuItem",
            "/Application": "applicationMenuItem",
            "/Application/ManageApplications": "applicationMenuItem",
            "/ChainsawImporter": "chainsawImporterApplication",
            "/ChainsawSeller": "chainsawSellerApplication",
            "/ChainsawOwner": "chainsawOwnerApplication",
            "/NewChainsawRegistration": "newChainsawRegistrationMenuItem",
            "/Renewal": "renewalMenuItem",
            "/ProfileManagement": "profileManagementMenuItem",
            "/AccountManagement": "accountManagementMenuItem",
            "/AccountManagement/AddAccount": "accountManagementMenuItem",
            "/AccountManagement/EditAccount": "accountManagementMenuItem",
            "/Monitoring": "monitoringMenuItem",
            "/CreationOfNewDenrOffice": "creationOfNewDenrOfficeMenuItem",
            "/AnnouncementTemplates": "announcementTemplatesMenuItem",
            "/EmailTemplates": "emailTemplatesMenuItem",
        };

        if (currentPage.startsWith("/AccountManagement/ViewAccount/")) {
            const urlParts = currentPage.split("/");
            const id = urlParts[urlParts.length - 1];
            setActiveMenuItem(pageToMenuItemMap["/AccountManagement"]);
        } else if (pageToMenuItemMap[currentPage]) {
            setActiveMenuItem(pageToMenuItemMap[currentPage]);
        }

        const activeMenuItemId = document.querySelector('.active-menu-item').id;
        localStorage.setItem('activeMenuItem', activeMenuItemId);

        const storedActiveMenuItem = localStorage.getItem('activeMenuItem');
        if (storedActiveMenuItem) {
            setActiveMenuItem(storedActiveMenuItem);
        }
    });
</script>