@using System.Security.Claims;
@using Services.Utilities;
@{
    var currentUrl = Context.Request.Path.ToString();
    ViewBag.UserRights = ((ClaimsIdentity)User.Identity).FindAll("userRights");
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");
    ViewBag.AccessRights = ((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMB-CIS @ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/main-page-layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/datatables.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/font-awesome/css/v4-shims.css" />
</head>
<body>
    <div id="header">
        <div id="header-top-container">
            <div class="row h-100 d-flex align-items-center ps-2 ms-2 pe-1 me-3">
                <div class="col-md-1">
                    <span id="toggle-btn" class="cursor-pointer" title="toggle menu"><i data-feather="align-justify"></i></span>
                </div>
                <div class="col-md-11 d-flex justify-content-end d-flex align-items-center gap-2">

                    <span class="fw-bold">@(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)</span>
                    
                    <span>@(((ClaimsIdentity)User.Identity).FindFirst("userRole").Value)</span>
                  
                    <span><img src="/assets/images/default-avatar.png" class="border rounded-circle bg-white" height="40" width="40" /></span>
                </div>
            </div>
        </div>
        <div id="header-bottom-container">
            <div class="ps-4 ms-1 py-2">
                <h4>@ViewBag.Title</h4>
                <div class="small fw-bold d-flex gap-3">
                    <span>Main</span> 
                    <span class="d-flex gap-3">
                        <span>&rsaquo;</span>
                        <span>@ViewBag.Title</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="side-bar">
        <div class="side-bar-container">
            <div class="side-bar-header w-100 p-2">
                <div class="row">
                    <div id="systemImg" class="col-md-6 pe-0 text-center">
                        <img src="~/assets/images/logo-only.png" />
                    </div>
                    <div class="col-md-6 lh-1 small fw-bold text-secondary pt-1 ps-0">
                        <span id="systemTitle">CHAINSAW INFORMATION SYSTEM (CIS)</span>
                    </div>
                    <div id="menu-items">
                        <ul class="list-unstyled text-secondary fw-bold">
                            @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_dashboard"))
                            {
                                <li id="dashboardMenuItem">
                                    <a href="@Url.Action("Index", "Dashboard")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/dashboard.png" title="dashboard" />
                                        </div>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                            }
                            @if (ViewBag.UserType.Contains("DENR") == false)
                            {
                                <li id="applicationMenuItem">
                                    <a href="#" id="applicationSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/application.png" />
                                        </div>
                                        <span>Manage Applications</span>
                                    </a>
                                    
                                    <ul id="authorityToLeaseDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        @if (ViewBag.UserType.Contains("Owner") == true)
                                            {
                                                <li id="authorityToLease" class="mb-3">
                                                <a href="@Url.Action("LeasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Lease</span>
                                                    </a>
                                                </li>
                                                <li id="authorityToRent" class="mb-3">
                                                <a href="@Url.Action("RentPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Rent</span>
                                                    </a>
                                                </li>
                                                <li id="authorityToLend" class="mb-3">
                                                <a href="@Url.Action("LendPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Authority to Lend</span>
                                                    </a>
                                                </li>
                                                <li id="certificationOfRegistration" class="mb-3">
                                                <a href="@Url.Action("RegistrationPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Certification of Registration</span>
                                                    </a>
                                                </li>
                                                <li id="permitToResellTransferOwnership" class="mb-3">
                                                <a href="@Url.Action("ResellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Resell/Transfer Ownership</span>
                                                    </a>
                                                </li>
                                            }

                                            @if (ViewBag.UserType.Contains("Seller") == true)
                                            {
                                                <li id="permitToSell" class="mb-3">
                                                    <a href="@Url.Action("SellPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Sell</span>
                                                    </a>
                                                </li>
                                                <li id="permitToPurchase" class="mb-3">
                                                    <a href="@Url.Action("PurchasePermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Purchase</span>
                                                    </a>
                                                </li>
                                            }
                                            @if (ViewBag.UserType.Contains("Importer") == true)
                                            {
                                                <li id="permitToImport" class="mb-3">
                                                    <a href="@Url.Action("ImportPermits", "Application")" class="d-flex gap-2 text-decoration-none fs-6">
                                                        <div>
                                                            <img src="~/assets/images/menu-icons/line.png" />
                                                        </div>
                                                        <span>Permit to Import</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                </li>
                            }
                            @switch(((ClaimsIdentity)User.Identity).FindFirst("userRole").Value)
                            {
                                case "Chainsaw Importer":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;

                                case "Chainsaw Seller":
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Sell</span>
                                                </a>
                                            </li>
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("PermitToPurchase", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Purchase</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Owner":
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="newChainsawRegistrationMenuItem">
                                                <a href="@Url.Action("Index", "NewChainsawRegistration")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Chainsaw Registration</span>
                                                </a>
                                            </li>
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>

                                                    <span>Other Permits</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Importer and Seller":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>

                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Sell</span>
                                                </a>
                                            </li>
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("PermitToPurchase", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Purchase</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Importer and Owner":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="newChainsawRegistrationMenuItem">
                                                <a href="@Url.Action("Index", "NewChainsawRegistration")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Chainsaw Registration</span>
                                                </a>
                                            </li>
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>

                                                    <span>Other Permits</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Seller and Owner":
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Sell</span>
                                                </a>
                                            </li>
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("PermitToPurchase", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Purchase</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="newChainsawRegistrationMenuItem">
                                                <a href="@Url.Action("Index", "NewChainsawRegistration")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Chainsaw Registration</span>
                                                </a>
                                            </li>
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>

                                                    <span>Other Permits</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                case "Chainsaw Importer, Owner, and Seller":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Sell</span>
                                                </a>
                                            </li>
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("PermitToPurchase", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Permit to Purchase</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="newChainsawRegistrationMenuItem">
                                                <a href="@Url.Action("Index", "NewChainsawRegistration")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Chainsaw Registration</span>
                                                </a>
                                            </li>
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>

                                                    <span>Other Permits</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;

                                case "DENR CENRO" or "DENR Inspector" or "DENR Regional Executive Director (RED)" or "DENR Implementing PENRO":
                                    <li id="chainsawImporterMenuItem">
                                        <a href="#" id="chainsawImporterSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-importer.png" />
                                            </div>
                                            <span>Chainsaw Importer</span>
                                        </a>
                                        <ul id="chainsawImporterDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawImporterApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawImporter")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawSellerMenuItem">
                                        <a href="#" id="chainsawSellerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-seller.png" />
                                            </div>
                                            <span>Chainsaw Seller</span>
                                        </a>
                                        <ul id="chainsawSellerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawSellerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawSeller")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>
                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="chainsawOwnerMenuItem">
                                        <a href="#" id="chainsawOwnerSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                            <div>
                                                <img src="~/assets/images/menu-icons/chainsaw-owner.png" />
                                            </div>
                                            <span>Chainsaw Owner</span>
                                        </a>
                                        <ul id="chainsawOwnerDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                            <li id="chainsawOwnerApplication" class="my-0">
                                                <a href="@Url.Action("Index", "ChainsawOwner")" class="d-flex gap-2 text-decoration-none fs-6">
                                                    <div>
                                                        <img src="~/assets/images/menu-icons/line.png" />
                                                    </div>

                                                    <span>Application</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    break;
                                    default:

                                    break;
                            }
                            
                            <li id="renewalMenuItem">
                                <a href="@Url.Action("Index", "Renewal")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/renewal.png" />
                                    </div>
                                    <span>Renewal</span>
                                </a>
                            </li>
                            @* <li id="profileManagementMenuItem">
                                <a href="@Url.Action("Index", "ProfileManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/profile-management.png" />
                                    </div>
                                    <span>Profile Management</span>
                                </a>
                            </li> *@
                            @* Only allow CENRO/Implementing PENRO/RED/Admin/Super Admin to access this *@
                            @* @if (ViewBag.UserType.Contains("DENR") == true) *@
                            @if (ViewBag.UserType.Contains("CENRO") == true || ViewBag.UserType.Contains("Implementing") == true || ViewBag.UserType.Contains("RED") == true || ViewBag.UserType.Contains("Administrator") == true || ViewBag.UserType.Contains("Super Admin") == true)
                            {
                                <li id="accountManagementMenuItem">
                                    <a href="#" id="accountManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/account-management.png" />
                                        </div>
                                        <span>Account Management</span>
                                    </a>
                                    <ul id="accountManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="RegisteredAccountsMenuItem">
                                            <a href="@Url.Action("Index", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Users</span>
                                            </a>
                                        </li>
                                        <li id="accountInfoMenuItem">
                                            <a href="@Url.Action("RequestToChangeAcctInfoList", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Requests</span>
                                            </a>
                                        </li>
                                        <li id="myAccountInfoMenuItem">
                                            <a href="@Url.Action("RequestToChangeAccountInfo", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Profile</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (ViewBag.UserType.Contains("Administrator") == true)
                            {
                            <li id="monitoringMenuItem">
                                <a href="@Url.Action("Index", "Monitoring")" class="d-flex gap-2 text-decoration-none fs-6">
                                    <div>
                                        <img src="~/assets/images/menu-icons/monitoring.png" />
                                    </div>
                                    <span>Monitoring</span>
                                </a>
                            </li>

                                @*@if (((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Chainsaw")!=true)
                            {*@
                                @* <li id="creationOfNewDenrOfficeMenuItem">
                                    <a href="@Url.Action("Index", "CreationOfNewDenrOffice")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/creation-of-new-denr-office.png" />
                                        </div>
                                        <span>Creation of New DENR Office</span>
                                    </a>
                                </li>
                                
                                <li id="announcementTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "AnnouncementTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/announcement-templates.png" />
                                        </div>
                                        <span>Announcement Templates</span>
                                    </a>
                                </li>
                                <li id="emailTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "EmailTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/email-templates.png" />
                                        </div>
                                        <span>Email Templates</span>
                                    </a>
                                </li> *@
                            }
                            @if (ViewBag.UserType.Contains("Super Admin") == true)
                            {
                                <li id="officeManagementMenuItem">
                                    <a href="#" id="officeManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/creation-of-new-denr-office.png" />
                                        </div>
                                        <span>Office Management</span>
                                    </a>
                                    <ul id="officeManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="officeTypeListMenuItem">
                                            <a href="@Url.Action("OfficeTypeList", "OfficeManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Office Types</span>
                                            </a>
                                        </li>
                                        <li id="officeListMenuItem">
                                            <a href="@Url.Action("OfficeList", "OfficeManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Offices</span>
                                            </a>
                                        </li>
                            @*            <li id="creationOfNewDenrOfficeMenuItem">
                                            <a href="@Url.Action("Index", "CreationOfNewDenrOffice")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Offices (original)</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>
                                <li id="accessRightsManagementMenuItem">
                                    <a href="#" id="accessRightsManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/account-management.png" />
                                        </div>
                                        <span>Access Rights Management</span>
                                    </a>
                                    <ul id="accessRightsManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="assignAccessRightsListMenuItem">
                                            <a href="@Url.Action("UserTypeAccessRightsList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Assign Access Rights</span>
                                            </a>
                                        </li>
                                        <li id="accessRightsListMenuItem">
                                            <a href="@Url.Action("AccessRightsList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Access Rights</span>
                                            </a>
                                        </li>
                                        <li id="userTypeListMenuItem">
                                            <a href="@Url.Action("UserTypeList", "AccessRightsManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage User Types</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                @*}*@
                                <li id="announcementTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "AnnouncementTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/announcement-templates.png" />
                                        </div>
                                        <span>Announcement Templates</span>
                                    </a>
                                </li>
                                <li id="emailTemplatesMenuItem">
                                    <a href="@Url.Action("Index", "EmailTemplates")" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/email-templates.png" />
                                        </div>
                                        <span>Email Templates</span>
                                    </a>
                                </li>
                            }
                            @* @if (ViewBag.UserType.Contains("Chainsaw") == true) *@
                            @if (ViewBag.UserType.Contains("CENRO") == false && ViewBag.UserType.Contains("Implementing") == false && ViewBag.UserType.Contains("RED") == false && ViewBag.UserType.Contains("Administrator") == false && ViewBag.UserType.Contains("Super Admin") == false)
                            {
                                <li id="accountManagementMenuItem">
                                    <a href="#" id="accountManagementSubMenuItem" class="d-flex gap-2 text-decoration-none fs-6">
                                        <div>
                                            <img src="~/assets/images/menu-icons/account-management.png" />
                                        </div>
                                        <span>Account Management</span>
                                    </a>
                                    <ul id="accountManagementDropdown" class="list-unstyled text-secondary fw-bold ms-2 ps-2">
                                        <li id="requestToChangeAccountInfoMenuItem">
                                            <a href="@Url.Action("RequestToChangeAccountInfo", "AccountManagement")" class="d-flex gap-2 text-decoration-none fs-6">
                                                <div>
                                                    <img src="~/assets/images/menu-icons/line.png" />
                                                </div>
                                                <span>Manage Profile</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <hr class="me-4 my-4" />
                            <li>
                                @Html.ActionLink("Logout", "Signout", "Home", new { area = "" }, new { @class = "text-decoration-none" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="main">
        @RenderBody()
    </main>

    @if (currentUrl.Contains("ChainsawImporter") || (currentUrl.Contains("ChainsawImporterApproval")))
    {
        <partial name="~/Views/Modals/ChainsawImporterModal.cshtml" />
    }
    else if (currentUrl.Contains("ChainsawSeller"))
    {
        <partial name="~/Views/Modals/ChainsawSellerModal.cshtml" />
    }
    else if (currentUrl.Contains("ChainsawOwner") || currentUrl.Contains("NewChainsawRegistration"))
    {
        <partial name="~/Views/Modals/ChainsawOwnerModal.cshtml" />
    }
    else if (currentUrl.Contains("RequestToChangeAcctInfoApproval"))
    {
        <partial name="~/Views/Modals/RequestToChangeAcctInfoApprovalModal.cshtml" />
    }
    else if (currentUrl.Contains("AccountsApproval"))
    {
        <partial name="~/Views/Modals/AccountsApprovalModal.cshtml" />
    }
    else if (currentUrl.Contains("AccountManagement") || (currentUrl.Contains("EditAccount") || (currentUrl.Contains("AddAccount"))))
    {
        <partial name="~/Views/Modals/AccountManagementModal.cshtml" />
    }
    else if (currentUrl.Contains("CreationOfNewDenrOffice"))
    {
        <partial name="~/Views/Modals/CreationOfNewDenrOfficeModal.cshtml" />
    }
    else if (currentUrl.Contains("OfficeTypeList"))
    {
        <div id="officeTypeCreateModalContainer"></div>
        <div id="officeTypeUpdateModalContainer"></div>
        <div id="officeTypeDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("OfficeList"))
    {
        <div id="officeCreateModalContainer"></div>
        <div id="officeUpdateModalContainer"></div>
        <div id="officeDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("UserTypeAccessRightsList"))
    {
        <div id="userTypeAccessRightsCreateModalContainer"></div>
        <div id="userTypeAccessRightsUpdateModalContainer"></div>
        <div id="userTypeAccessRightsDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("AccessRightsList"))
    {
        <div id="accessRightsCreateModalContainer"></div>
        <div id="accessRightsUpdateModalContainer"></div>
        <div id="accessRightsDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("UserTypeList"))
    {
        <div id="userTypeCreateModalContainer"></div>
        <div id="userTypeUpdateModalContainer"></div>
        <div id="userTypeDeleteModalContainer"></div>
    }
    else if (currentUrl.Contains("EditApplication"))
    {
        <partial name="~/Views/Modals/EditApplicationModal.cshtml" />
    }
    else if (currentUrl.Contains("EmailTemplates"))
    {
        <partial name="~/Views/Modals/EmailTemplateModal.cshtml" />
    }
    else if (currentUrl.Contains("AnnouncementTemplates"))
    {
        <partial name="~/Views/Modals/AnnouncementTemplateModal.cshtml" />
    }
    else if (currentUrl.Contains("LeasePermits") || currentUrl.Contains("RentPermits") || currentUrl.Contains("LendPermits") || currentUrl.Contains("RegistrationPermits") || currentUrl.Contains("ResellPermits") || currentUrl.Contains("SellPermits") || currentUrl.Contains("PurchasePermits") || currentUrl.Contains("ImportPermits"))
    {
        <partial name="~/Views/Modals/ManageApplicationModal.cshtml" />
    }
    <footer>
         2023 DENR-FMB CIS. All rights reserved. <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-light-gray text-decoration-none">Privacy Policy | Terms & Conditions.</a>
    </footer>

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/datatables-custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();
        $('.dataTable').DataTable({
            destroy: true,
            order: [[0, 'desc']]
        });
        function toggleDropdown(menuItem, dropdown) {
            $(dropdown).toggleClass("active");
            const isOpen = $(dropdown).hasClass("active");
            sessionStorage.setItem(menuItem + "DropdownState", isOpen ? "open" : "closed");
        }

        function setupDropdown(menuItemID, dropdownID) {
            const menuItem = $("#" + menuItemID);
            const dropdown = $("#" + dropdownID);

            menuItem.click(function (e) {
                e.preventDefault();
                toggleDropdown(menuItemID, dropdown);
            });

            const storedState = sessionStorage.getItem(menuItemID + "DropdownState");
            if (storedState === "open") {
                dropdown.addClass("active");
            }
        }

        setupDropdown("chainsawImporterSubMenuItem", "chainsawImporterDropdown");

        setupDropdown("chainsawSellerSubMenuItem", "chainsawSellerDropdown");

        setupDropdown("chainsawOwnerSubMenuItem", "chainsawOwnerDropdown");

        setupDropdown("applicationSubMenuItem", "authorityToLeaseDropdown");

        setupDropdown("accountManagementSubMenuItem", "accountManagementDropdown");

        setupDropdown("officeManagementSubMenuItem", "officeManagementDropdown");

        setupDropdown("accessRightsManagementSubMenuItem", "accessRightsManagementDropdown");



        function setActiveMenuItem(menuItemId) {
            const menuItems = document.querySelectorAll('#menu-items ul li');
            menuItems.forEach((item) => {
                item.classList.remove('active-menu-item');
            });

            document.getElementById(menuItemId).classList.add('active-menu-item');
        }

        const currentPage = window.location.pathname;

        const pageToMenuItemMap = {
            "/Dashboard": "dashboardMenuItem",
            "/Application": "applicationMenuItem",
            "/Application/ManageApplications": "applicationMenuItem",
            "/ChainsawImporter": "chainsawImporterApplication",
            "/ChainsawSeller": "chainsawSellerApplication",
            "/ChainsawOwner": "chainsawOwnerApplication",
            "/NewChainsawRegistration": "newChainsawRegistrationMenuItem",
            "/Renewal": "renewalMenuItem",
            "/ProfileManagement": "profileManagementMenuItem",
            "/AccountManagement": "RegisteredAccountsMenuItem",
            "/AccountManagement/RequestToChangeAcctInfoList": "accountInfoMenuItem",
            "/AccountManagement/RequestToChangeAccountInfo": "myAccountInfoMenuItem",
            "/AccountManagement/AddAccount": "accountManagementMenuItem",
            "/AccountManagement/EditAccount": "accountManagementMenuItem",
            "/OfficeManagement/OfficeList": "officeListMenuItem",
            "/OfficeManagement/OfficeTypeList": "officeTypeListMenuItem",
            "/AccessRightsManagement/UserTypeList": "userTypeListMenuItem",
            "/AccessRightsManagement/AccessRightsList": "accessRightsListMenuItem",
            "/AccessRightsManagement/UserTypeAccessRightsList": "assignAccessRightsListMenuItem",
            "/Monitoring": "monitoringMenuItem",
            "/CreationOfNewDenrOffice": "creationOfNewDenrOfficeMenuItem",
            "/AnnouncementTemplates": "announcementTemplatesMenuItem",
            "/EmailTemplates": "emailTemplatesMenuItem",
        };

        if (currentPage.startsWith("/AccountManagement/ViewAccount/")) {
            const urlParts = currentPage.split("/");
            const id = urlParts[urlParts.length - 1];
            setActiveMenuItem(pageToMenuItemMap["/AccountManagement"]);
        } else if (pageToMenuItemMap[currentPage]) {
            setActiveMenuItem(pageToMenuItemMap[currentPage]);
        }

        const activeMenuItemId = document.querySelector('.active-menu-item').id;
        localStorage.setItem('activeMenuItem', activeMenuItemId);

        const storedActiveMenuItem = localStorage.getItem('activeMenuItem');
        if (storedActiveMenuItem) {
            setActiveMenuItem(storedActiveMenuItem);
        }

        // toggle filter
        //var asideElement = $("#side-bar");

        //if (asideElement.length > 0) {
        //    var btnToggler = $('#toggle-btn');
        //    var togglerStatus = localStorage.getItem('toggler');

        //    if (localStorage.getItem('toggler') === null || localStorage.getItem('toggler') === 'true') {
        //        asideElement.removeClass("slide-left");
        //        $("#header-top-container").css({ "margin-left": "300px" });
        //        $("#header-bottom-container").css({ "margin-left": "300px" });
        //        $("#main").css({ "margin-left": "300px" });
        //        $("#card-container").css({ "margin-right": "330px" });
        //        $("#systemTitle").css({ "display": "block" });
        //        $("#systemImg").addClass("col-md-6 text-center").removeClass("col-md-12 text-end");
        //    } else {
        //        asideElement.addClass("slide-left");
        //        $("#header-top-container").css({ "margin-left": "100px" });
        //        $("#header-bottom-container").css({ "margin-left": "100px" });
        //        $("#main").css({ "margin-left": "100px" });
        //        $("#card-container").css({ "margin-right": "130px" });
        //        $("#systemTitle").css({ "display": "none" });
        //        $("#systemImg").removeClass("col-md-6 text-center").addClass("col-md-12 text-end");

        //    }

        //    btnToggler.click(function () {
        //        asideElement.toggleClass("slide-left");

        //        var currentStatus = localStorage.getItem('toggler');
        //        var newStatus = currentStatus === 'true' ? 'false' : 'true';
        //        localStorage.setItem('toggler', newStatus);

        //        if (newStatus === 'true') {
        //            $("#header-top-container").css({ "margin-left": "300px" });
        //            $("#header-bottom-container").css({ "margin-left": "300px" });
        //            $("#main").css({ "margin-left": "300px" });
        //            $("#card-container").css({ "margin-right": "330px" });
        //            $("#systemTitle").css({ "display": "block" });
        //            $("#systemImg").addClass("col-md-6 text-center").removeClass("col-md-12 text-end");
        //        } else {
        //            $("#header-top-container").css({ "margin-left": "100px" });
        //            $("#header-bottom-container").css({ "margin-left": "100px" });
        //            $("#main").css({ "margin-left": "100px" });
        //            $("#card-container").css({ "margin-right": "130px" });
        //            $("#systemTitle").css({ "display": "none" });
        //            $("#systemImg").removeClass("col-md-6 text-center").addClass("col-md-12 text-end");

        //        }
        //    });
        //}
    });
</script>