@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model IEnumerable<FMB_CIS.Models.tbl_application> *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Seller";
    var loggedUsrRole = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<div id="card-container">
    <div id="card">
                <table class="table dataTable" id="tblUserHistory">
            <thead>
                <tr>
                    <th>
                        Reference Number
                    </th>
                    <th>
                        Name of Applicant
                    </th>
                    <th>
                        Application Date
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.full_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.applicationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.permit_status)
                        </td>
                        <td>
                            @* @Html.ActionLink("Take Action", "ChainsawImporterApproval?uid="+ item.tbl_user_id + "&appid=" + item.id) *@
                            <a href="ChainsawSellerApproval?uid=@item.tbl_user_id&appid=@item.id">View</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">

</script>