﻿@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel

@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Seller";
}

<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="Index" method="post" enctype="multipart/form-data" id="SellerRegForm">
        <a href="@Url.Action("Index", "Dashboard")" class="mx-2" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <div class="row m-0 my-4">
            @*<div class="col-md-6">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Seller Details</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            First Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_fname" class="form-control" placeholder="Enter first name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Middle Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_mname" class="form-control" placeholder="Enter middle name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Last Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_lname" class="form-control" placeholder="Enter last name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Suffix
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_suffix" class="form-control" placeholder="Enter suffix (if any)" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Address
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.supplier_address" placeholder="Enter address"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Email
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_email" class="form-control" placeholder="Enter email" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Contact No.
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_contact_no" class="form-control" placeholder="Enter contact number" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                </div> *@
            <div class="col-md-12">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Permit to Sell</h2>
                    <div class="form-group mb-3">
                        @* <label class="text-secondary fw-bold">
                            Permit To Sell
                        </label> *@
                            @* <select class="form-select" asp-for="tbl_Application.tbl_permit_type_id" aria-label="Permit Type" onchange="permitSelection(this)" required="required">
                                <option selected disabled>- Select Permit Type -</option>
                                <option value="2" selected>Permit to Purchase</option>
                                <option value="3">Permit to Sell</option>
                            </select> *@
                            <input type="number" asp-for="tbl_Application.tbl_permit_type_id" class="form-control" hidden value="3" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Number of chainsaws to be sold
                        </label>
                            <input type="number" asp-for="tbl_Application.qty" class="form-control" placeholder="Enter number of chainsaws to be sold" required="required" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Specification
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.tbl_specification_id" placeholder="Enter specification" required="required"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Purpose
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.purpose" placeholder="Enter purpose" required="required"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                                Already coordinated w/ Enforcement Division?
                        </label>
                        <br />
                        <label>
                            <input type="radio" asp-for="tbl_Application.coordinatedWithEnforcementDivision" value="true" required/>
                            Yes
                        </label>
                        <label>
                            <input type="radio" asp-for="tbl_Application.coordinatedWithEnforcementDivision" value="false" />
                            No
                        </label>
                    </div>
                    @*<div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Set Date of Inspection
                        </label>
                            <input type="date" asp-for="tbl_Application.date_of_inspection" class="form-control" />
                        <span class="text-danger"></span>
                        </div>*@
                </div>
            </div>
        </div>


            <div class="row m-0 mb-4">
                <div class="col-md-12">
                    <div class="p-4 shadow h-100">
                        <div class="mb-4" id="PermitToSellRequirements">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList_PermitToSell</span>
                        </div>
                        @* <div class="mb-4" style="display:none" id="PermitToSellRequirements">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList_PermitToSell</span>
                        </div>
                        <div class="mb-4" style="display:none" id="PermitToPurchaseRequirements">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList_PermitToPurchase</span>
                        </div> *@
                        <div class="d-flex gap-4 mb-5">
                            <h2 class="text-secondary fw-bold m-0">Attach Required Documents</h2>
                            <label asp-for="filesUpload.Files" class="btn btn-primary custom-file-upload">
                                <i data-feather="upload"></i> Upload
                            </label>
                            <input type="file" asp-for="filesUpload.Files" class="form-control file" accept="application/pdf" multiple hidden />
                            @* <button type="button" class="btn btn-primary"><i data-feather="upload"></i> Upload</button>*@
                        </div>
                        <div class="d-flex mb-4 gap-3 output">
                            @*Cards for files*@
                            <p id="files-area">
                                <span id="filesList">
                                    <span id="files-names"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mb-4">
                <small class="text-secondary fw-bold fst-italic">
                    By submitting this form, you agree to our <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-decoration-none">Privacy Policy and Terms & Conditions.</a>
                </small>
            </div>
        <div class="d-flex justify-content-end pe-2 me-1">
            <button type="button" id="btnSubmit" class="btn btn-primary mb-4">Submit</button>
        </div>
        </form>
    </div>
</div>





<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">

    //Things to change depending on Permit Selection
    // function permitSelection(that) {
    //     if (that.value == 2) {
    //         //Permit To Sell is Selected
    //         document.getElementById("PermitToSellRequirements").style.display = "block";
    //         document.getElementById("PermitToPurchaseRequirements").style.display = "none";
    //     }

    //     else if (that.value == 3) {
    //         //Permit To Purchase is Selected
    //         document.getElementById("PermitToPurchaseRequirements").style.display = "block";
    //         document.getElementById("PermitToSellRequirements").style.display = "none";
    //     }
    // }

    $(document).ready(function () {

        //FILE UPLOAD
        const dt = new DataTransfer();

        $(".file").on("change", function (e) {



            // Get the selected file(s)
            console.log($('#filesUpload.Files').val());
            var selectedFiles = $(this).prop("files");
            console.log(selectedFiles);
            var fafile = "";
            // Clear the previous output
            //$(".output").empty();

            var duplicatedFiles = [];

            var validFiles = [];


            // Display file information in the specified format
            for (var i = 0; i < this.files.length; i++) {

                var hasdup = false;

                for (var x = 0; x < dt.files.length; x++) {

                    if (dt.files[x].name == selectedFiles[i].name) {
                        //Swal.fire({
                        //    title: "Duplicate File",
                        //    text: "You have uploaded a duplicate file " + dt.files[0].name,
                        //    icon: "error"
                        //});
                        duplicatedFiles.push(selectedFiles[i].name)
                        //  selectedFiles.splice(i, 1);
                        hasdup = true;
                    }
                }

                if (!hasdup) {
                    validFiles.push(selectedFiles[i]);
                }

            }

            if (duplicatedFiles.length > 0) {


                var errorsHtml = "";
                const list = document.createElement('ul');
                for (var x = 0; x < duplicatedFiles.length; x++) {

                    const listItem = document.createElement('li');
                    listItem.innerHTML = duplicatedFiles[x] + "<br/>";
                    list.appendChild(listItem);
                }

                Swal.fire({
                    title: "Duplicate File",
                    text: "You have uploaded a duplicate file " + dt.files[0].name,
                    icon: "error",
                    html: list,
                    confirmButtonColor: '#14984a'
                });
            }




            // Display file information in the specified format
            for (var i = 0; i < validFiles.length; i++) {
                //ifelse for fa-file type
                if (validFiles[i].type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                    fafile = "fa-file-word"
                }
                else if (validFiles[i].type == "application/pdf") {
                    fafile = "fa-file-pdf"
                }
                else if (validFiles[i].type == "image/jpeg") {
                    fafile = "fa-file-image"
                }
                else {
                    fafile = "fa-file"
                }
                // Create div elements and set their classes and content
                var cardDiv = $("<div>").addClass("card mw-18rem ").attr('id', validFiles[i].name);
                var fileDiv = $("<div>").addClass("card-body");
                var fileIcon = $("<i>").addClass("fas " + fafile + " text-light-green fs-1 mb-3");
                var dropdownIcon = $("<i>").addClass("fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary").attr({
                    "data-bs-toggle": "dropdown",
                    "aria-expanded": "false"
                });
                var dropdownMenu = $("<ul>").addClass("dropdown-menu").append(
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("View")),
                    $("<li>").append($("<a>").addClass("dropdown-item file-delete").attr("href", "#").text("Delete")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Download"))
                );
                var fileName = $("<h6>").addClass("card-title text-secondary").text(validFiles[i].name);
                var fileInfoList = $("<ul>").addClass("list-unstyled small mb-0").append(
                    $("<li>").append($("<span>").addClass("text-muted").text("type: " + validFiles[i].type)),
                    $("<li>").append($("<span>").addClass("text-muted").text("size: " + (validFiles[i].size / 1024).toFixed(2) + "kb")),
                    $("<li>").append($("<span>").addClass("text-muted").text("uploaded: " + new Date().toLocaleDateString()))
                );

                // Append created elements to the fileDiv
                fileDiv.append(fileIcon, dropdownIcon, dropdownMenu, fileName, fileInfoList);

                // Append the fileDiv to the cardDiv
                cardDiv.append(fileDiv);

                // Append the cardDiv to the output div
                $(".output").append(cardDiv);
            }
            for (let file of validFiles) {
                dt.items.add(file);
            }

            selectedFiles = dt.files;
            console.log(selectedFiles);


            $('.file-delete').click(function () {
                let name = $(this).closest('.card').attr('id');
                // Supprimer l'affichage du nom de fichier
                //$(this).parent().remove();
                document.getElementById(name).remove()
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                selectedFiles = dt.files;
            });

            this.value = null;
        });

        //END FOR FILE UPLOAD

        const permitToSellRegform = document.getElementById('SellerRegForm');
        $("#btnSubmit").click(function () {
            
            //Check if user selected some files
            //If user doesn't select any files
            if (dt.files.length == 0) {
                console.log("dt.files.length = 0");
                Swal.fire({
                    title: "No File Selected",
                    text: "Please upload the required documents to proceed with the application.",
                    icon: "error",
                    confirmButtonColor: '#14984a'
                });
            }
            //If User selected a file
            else {
                //Check if required fields are filled up
                if ($("#SellerRegForm")[0].checkValidity()) {
                    $('#confirmSubmitModal').modal("show"); //proceed to submit modal
                    var formFiles = document.forms['SellerRegForm']['filesUpload.Files'];
                    ////console.log("old", formFiles);
                    formFiles.files = dt.files;
                }
                //If fields are not filled up
                else {
                    //Validate Form
                    $("#SellerRegForm")[0].reportValidity();
                }
            }
        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            permitToSellRegform.submit();
            $("#confirmSuccessModal").modal("show");
        });
    });
    // const form = document.getElementById('SellerRegForm');
    // const showModalButton = document.getElementById('btnSubmit');
    // const confirmationModal = document.getElementById('confirmSubmitModal');
    // const confirmButton = document.getElementById('confirmBtn');

    // // Function to display the modal
    // // function showModal() {
    // //     confirmationModal.style.display = 'block';
    // // }

    // // Function to hide the modal
    // function hideModal() {
    //     confirmationModal.style.display = 'none';
    // }

    // // Event listener for the "Submit" button
    // //showModalButton.addEventListener('click', showModal);

    // // Event listener for the "Confirm" button
    // confirmButton.addEventListener('click', function () {
    //     // Submit the form when the "Confirm" button is clicked
    //     form.submit();
    // });

    // // Close the modal when the user clicks outside of it
    // window.addEventListener('click', function (event) {
    //     if (event.target === confirmationModal) {
    //         hideModal();
    //     }
    // });

</script>

<style>
    textarea {
        resize: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>