@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model IEnumerable<FMB_CIS.Models.tbl_application> *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Owner";
    var loggedUsrRole = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<div id="card-container">
    <div id="card">
                <table class="table dataTable" id="tblUserHistory">
            <thead>
                <tr>
                    <th>
                        Reference Number
                    </th>
                    <th>
                        Name of Applicant
                    </th>
                    <th>
                        Application Date
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        @* <td>
                            @if (item.date_due_for_officers != null)
                            {

                                if (loggedUsrRole == "DENR CENRO" || loggedUsrRole == "DENR Implementing PENRO" || loggedUsrRole == "DENR Regional Executive Director (RED)")
                                {
                                    if (item.permit_status == "Approved (Inspector) - For Cenro Approval" || item.permit_status == "Payment Verification (CENRO)")
                                    {
                                        @Html.DisplayFor(modelItem => item.date_due_for_officers)
                                    }
                                    else
                                    {
                                        <div class="bg-secondary text-white px-3 pb-2 pt-1 rounded-pill w-105">
                                            Inspector
                                        </div>
                                    }
                                }
                                else if (loggedUsrRole == "DENR Inspector")
                                {
                                    if (item.permit_status == "For Inspector Approval" || item.permit_status == "Payment Verification (Inspector)")
                                    {
                                        @Html.DisplayFor(modelItem => item.date_due_for_officers)
                                    }
                                    else if (item.permit_status == "Approved (Inspector) - For Cenro Approval" || item.permit_status == "Payment Verification (CENRO)")
                                    {
                                        <div class="bg-secondary text-white px-3 pb-2 pt-1 rounded-pill w-105">
                                            CENRO
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                if (item.permit_status.Contains("Rejected") == true)
                                {
                                    <div class="bg-secondary text-white px-3 pb-2 pt-1 rounded-pill w-105">
                                        Applicant
                                    </div>
                                }
                                else if (item.permit_status == "For Payment")
                                {
                                    <div class="bg-secondary text-white px-3 pb-2 pt-1 rounded-pill w-105">
                                        Applicant
                                    </div>
                                }
                                else if (item.permit_status == "Payment and Application Approved (Inspector and CENRO)")
                                {
                                    <div class="bg-success text-white px-3 pb-2 pt-1 rounded-pill w-105">
                                        Done
                                    </div>
                                }
                            }
                        </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.full_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.applicationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.permit_status)
                        </td>
                        <td>
                            @* @Html.ActionLink("Take Action", "ChainsawImporterApproval?uid="+ item.tbl_user_id + "&appid=" + item.id) *@
                            <a href="ChainsawOwnerApproval?uid=@item.tbl_user_id&appid=@item.id">View</a>

                            <a href =""></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">

</script>