@using System.Security.Claims;
@using System.Globalization;
@model FMB_CIS.Models.ViewModel
@{
  
}

<div class="row d-flex justify-content-center m-0">
    <h5 class="text-secondary">Please match your uploaded file based on the checklist of requirements.</h5>
    <table class="table dataTable" id="tblApplicantFiles" style="width:100%">
        <thead>
            <tr>
                <th>
                    Required Document
                </th>
                <th>
                    Uploaded Document
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (tbl_document_checklist item in Model.tbl_Document_Checklist)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                        @* <a href="#" data-fileID="@item.tbl_files_id" data-fileName="@item.filename" onclick="DocHistory(this)">@item.filename</a> *@
                    </td>
                    <input type="hidden" asp-for="fileChecklistViewModel[i].tbl_document_checklist_id" value="@item.id" />
                    <td>
                        <select class="form-select fileListDropDown" id="fileListDropDown_@i" data-prevVal="" data-curVal="" onchange="fileSelected(this)" asp-for="fileChecklistViewModel[i].FileNames" multiple required>
                        </select>
                    </td>
                    @{
                        i++;
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@* <script src="/js/jquery-3.7.1.min.js"></script>

<script>
    $(document).ready(function () {
        //Multiple Select
        $('.form-select.fileListDropDown').each(function () {
            //Initialize Selectize on the select element with the specified class

            var $select = $(this).selectize({
                create: true,
                placeholder: 'Please select your uploaded file',
                plugins: ['remove_button'], // Enable the remove button
            })[0].selectize;


            $('.file').on('change', function (event) {
                var files = event.target.files;
                //var formFiles = document.forms['OwnerRegForm']['filesUpload.Files'];

                $select.clear();
                // Clear existing options
                $select.clearOptions();
                $select.addOption({ value: "N/A", text: "N/A" });
                // Loop through each selected file
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // Get the file name
                    var fileName = file.name;

                    // Add options based on the file name
                    //var options = fileName.split('.')[0].split('_');
                    var options = fileName.split('_');
                    options.forEach(function (option) {
                        option = option.trim();
                        if (option !== '') {
                            $select.addOption({ value: option, text: option });
                        }
                    });
                }

                // Refresh the Selectize control to update the UI
                //$select.refreshOptions();
            });

            //If files were placed using drag and drop feature
            $(document).on('drop', '.file-drop-zone.clearfix', function () {
                console.log("dropped");
                $select.clear();
                $select.clearOptions();

                var formFiles = document.forms['OwnerRegForm']['filesUpload.Files'];
                var files = formFiles.files;

                $select.addOption({ value: "N/A", text: "N/A" });
                // Loop through each selected file
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // Get the file name
                    var fileName = file.name;

                    // Add options based on the file name
                    var options = fileName.split('_');
                    options.forEach(function (option) {
                        option = option.trim();
                        if (option !== '') {
                            $select.addOption({ value: option, text: option });
                        }
                    });
                }

            });

            //If remove button of files will be clicked
            $(document).on('click', '.fileinput-remove-button', function () {
                console.log("remove button clicked");
                $select.clear();
                $select.clearOptions();
            });

        });

        //End of Multiple Select
    });
</script> *@



@* <div>
    <table class="table dataTable">
        <thead>
            <tr>
                <th>
                    Permit Type
                </th>
                <th>
                    Required Document Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    is_active
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.checklistManagementModels)
            {
                <tr>
                    <td>
                        @item.tbl_permit_type_name
                    </td>
                    <td>
                        @item.tbl_document_checklist_name
                        <a href="#" data-fileID="@item.tbl_files_id" data-fileName="@item.filename" onclick="DocHistory(this)">@item.filename</a>
                    </td>
                    <td>
                        @item.tbl_document_checklist_description
                    </td>
                    <td>
                        @item.is_active

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" asp-for="@item.is_active" onclick="enableDisableReq(@item.tbl_document_checklist_id, this)">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </td>
                    <td>
                        <a href="#" data-reqDocName="@item.tbl_document_checklist_name" onclick="EditReq(@item.tbl_document_checklist_id, this)">Edit</a>
                        <br>
                        @if (item.is_active)
                        {
                            <a href="#" data-reqDocName="@item.tbl_document_checklist_name" onclick="disableReq(@item.tbl_document_checklist_id, this)">Disable</a>
                        }
                        else
                        {
                            <a href="#" data-reqDocName="@item.tbl_document_checklist_name" onclick="enableReq(@item.tbl_document_checklist_id, this)">Enable</a>
                        }
                        <br>
                        <a href="#" data-reqDocName="@item.tbl_document_checklist_name" onclick="DeleteReq(@item.tbl_document_checklist_id, this)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> *@

