
﻿@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel

@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Owner";
}


<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="Index" method="post" enctype="multipart/form-data" id="OwnerRegForm">
        <a href="@Url.Action("Index", "Dashboard")" class="mx-2" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <div class="row m-0 my-4">
            @*<div class="col-md-6">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Seller Details</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            First Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_fname" class="form-control" placeholder="Enter first name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Middle Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_mname" class="form-control" placeholder="Enter middle name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Last Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_lname" class="form-control" placeholder="Enter last name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Suffix
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_suffix" class="form-control" placeholder="Enter suffix (if any)" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Address
                        </label>
                            <textarea asp-for="tbl_Application.supplier_address" class="form-control" placeholder="Enter address"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Email
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_email" class="form-control" placeholder="Enter email" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Contact No.
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_contact_no" class="form-control" placeholder="Enter contact number" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                </div>*@
            <div class="col-md-12">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Permit</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Permit Type
                        </label>
                            <select class="form-select" asp-for="tbl_Application.tbl_permit_type_id" aria-label="Permit Type" onchange="permitSelection(this)" required>
                                <option value="" selected disabled>- Select Permit Type -</option>
                                <option value="5">Authority to Lease</option>
                                <option value="6">Authority to Rent</option>
                                <option value="7">Authority to Lend</option>
                                <option value="14">Permit to Re-sell/Transfer Ownership</option>
                            </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Number of chainsaws to be issued
                        </label>
                            <input type="number" asp-for="tbl_Application.qty" class="form-control" placeholder="Enter number of chainsaws to be issued" required="required" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Specification
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.tbl_specification_id" placeholder="Enter specification" required="required"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Purpose
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.purpose" placeholder="Enter purpose" required="required"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    @*<div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Set Date of Inspection
                        </label>
                            <input type="date" asp-for="tbl_Application.date_of_inspection" class="form-control" />
                        <span class="text-danger"></span>
                    </div>*@
                </div>
            </div>
        </div>

            <div class="row m-0 mb-4">
                <div class="col-md-12">
                    <div class="p-4 shadow h-100">
                        <div class="mb-4" style="display:none" id="PermitToLeaseRentLendRequirements">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList_PermitToLeaseRentLend</span>
                        </div>
                        <div class="mb-4" style="display:none" id="TransferOfOwnershipRequirements">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList_TransferOfOwnership</span>
                        </div>
                        <div class="gap-4 mb-5">
                            <h2 class="text-secondary fw-bold m-0">Attach Required Documents</h2>
                            <input asp-for="filesUpload.Files" type="file" class="file" multiple data-allowed-file-extensions='["pdf"]' accept="application/pdf" data-show-upload="false" data-show-caption="true" data-msg-placeholder="Select {files} for upload..." onchange="fileChange(this)">
                        </div>                                               
                    </div>
                </div>
            </div>

            <div id="requiredDocForOwnerPermitsPartialContainer">
            </div>

            <div class="text-center mb-4">
                <small class="text-secondary fw-bold fst-italic">
                    By submitting this form, you agree to our <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-decoration-none">Privacy Policy and Terms & Conditions.</a>
                </small>
            </div>
        <div class="d-flex justify-content-end pe-2 me-1">
                <button id="btnSubmit" type="button" class="btn btn-primary mb-4">Submit</button>
        </div>
        </form>
    </div>
</div>



<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    //Things to change depending on Permit Selection
    function permitSelection(that) {
        console.log("that.value: ", that.value);
        var permitTypeID = that.value;
        console.log("permitTypeID: ", permitTypeID);
        $('#requiredDocForOwnerPermitsPartialContainer').load('/ChainsawOwner/ChecklistForChainsawOwnerPartialView?permitTypeID=' + permitTypeID);

        //remove files when changing permit type
        const removeFileButton = document.querySelector('.fileinput-remove-button');
        removeFileButton.click();

        if (that.value == 5 || that.value == 6 || that.value == 7) {
            //Authority To Lease/Rent/Lend is Selected
            document.getElementById("PermitToLeaseRentLendRequirements").style.display = "block";
            document.getElementById("TransferOfOwnershipRequirements").style.display = "none";
        }

        else if (that.value == 14) {
            //Permit To Re-sell/Transfer of Ownership is Selected
            document.getElementById("TransferOfOwnershipRequirements").style.display = "block";
            document.getElementById("PermitToLeaseRentLendRequirements").style.display = "none";
        }
    }

    $(document).ready(function () {
                
        //MODAL FORM SUBMISSION CONFIRMATIONS
        const ownerPermitsRegform = document.getElementById('OwnerRegForm');
        $("#btnSubmit").click(function () {
            //Check if required fields are filled up
            if ($("#OwnerRegForm")[0].checkValidity()) {
                var formFiles = document.forms['OwnerRegForm']['filesUpload.Files'];

                if (formFiles.files.length == 0) {
                    Swal.fire({
                        title: "No File Selected",
                        text: "Please upload the required documents to proceed with the application.",
                        icon: "error",
                        confirmButtonColor: '#14984a'
                    });
                }
                else {
                    $('#confirmSubmitModal').modal("show"); //proceed to submit modal
                }
            }
            //If fields are not filled up
            else {
                //Validate Form
                $("#OwnerRegForm")[0].reportValidity();
            }
        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            ownerPermitsRegform.submit();
            $("#confirmSuccessModal").modal("show");
        });
        //END FOR MODAL FORM SUBMISSION CONFIRMATION


        //$("#btnSubmit").click(function () {
          //  $("#confirmSubmitModal").modal("show");
        //});

        // $("#backBtn").click(function () {
        //     $("#confirmSubmitModal").modal("hide");
        // });

        // $("#confirmBtn").click(function () {
        //     $("#confirmSubmitModal").modal("hide");
        //     $("#confirmSuccessModal").modal("show");
        // });
    });


    //FOR CHECKLIST OF DOCUMENTS
    function fileChange(that) {
        var formFiles = document.forms['OwnerRegForm']['filesUpload.Files'];
        //console.log("that: ", that);
        //console.log("that.value: ", that.value);
        // console.log("formFiles.files: ", formFiles.files);
        // console.log("formFiles.files.length: ", formFiles.files.length);
        // console.log("formFiles.files[0].name: ", formFiles.files[0].name);
        //console.log("filesUpload.Files", $('#filesUpload.Files').val());
        // for (let i = 0; i < formFiles.files.length; i++) {
        //     console.log("formFiles.files["+i+"].name: ", formFiles.files[i].name);
        // }
        PopulateFileDropDown(".fileListDropDown", formFiles.files);
    }

    function PopulateFileDropDown(fileDropDownClass, list) {
        $(fileDropDownClass).empty();
        $(fileDropDownClass).append("<option value=\"\" selected disabled>--Please select your uploaded file--</option>")
        $(fileDropDownClass).append("<option value=\"N/A\" >N/A</option>")
        $.each(list, function (index, row) {
            $(fileDropDownClass).append("<option value=\"" + row.name + "\"id=\"uploadedFile_" + index + "\">" + row.name + "</option>")
        });
    }

    function fileSelected(that) {
        var curval = that.dataset.curval;
        document.getElementById(that.id).setAttribute("data-prevVal", curval);
        document.getElementById(that.id).setAttribute("data-curVal", that.value);

        // var selectClass = document.getElementsByClassName('fileListDropDown');
        // for (let i = 0; i < selectClass.length; i++) {
        //     if (selectClass[i].id != that.id) {

        //         //CODE TO DISABLE OPTIONS
        //         var selectedFileList = document.getElementById(selectClass[i].id);
        //         for (let j = 0; j < selectedFileList.options.length; j++) {
        //             if (selectedFileList.options[j].value == that.value) {
        //                 if (that.value != "N/A") {
        //                     //Disable options with the same selected value
        //                     selectedFileList.options[j].disabled = true;
        //                 }
        //             }
        //             if (selectedFileList.options[j].value == that.dataset.prevval) {
        //                 //Enable options based on prev value
        //                 selectedFileList.options[j].disabled = false;
        //             }
        //         }
        //     }
        // }
    }
        //END FOR CHECKLIST OF DOCUMENTS
    //const formOwner = document.getElementById('OwnerRegForm');
    //const showModalButton = document.getElementById('btnSubmit');
    //const confirmationModal = document.getElementById('confirmSubmitModal');
    //const confirmButton = document.getElementById('confirmBtn');

    // Function to display the modal
    // function showModal() {
    //     confirmationModal.style.display = 'block';
    // }

    // // Function to hide the modal
    // function hideModal() {
    //     confirmationModal.style.display = 'none';
    // }

    // // Event listener for the "Submit" button
    // showModalButton.addEventListener('click', showModal);

    // // Event listener for the "Confirm" button
    // confirmButton.addEventListener('click', function () {
    //     // Submit the form when the "Confirm" button is clicked
    //     formOwner.submit();
    // });

    // // Close the modal when the user clicks outside of it
    // window.addEventListener('click', function (event) {
    //     if (event.target === confirmationModal) {
    //         hideModal();
    //     }
    // });

</script>

<style>
    textarea {
        resize: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>