@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model FMB_CIS.Models.ApplicantListViewModel *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");
}

<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="EditApplication" method="post" enctype="multipart/form-data" id="EditApplicationForm">
            <div class="row m-0">
                <input asp-for="applicantViewModels.id" value="@Model.applicantViewModels.id" type="hidden" />
                <input asp-for="applicantViewModels.tbl_user_id" value="@Model.applicantViewModels.tbl_user_id" type="hidden" />
                <input asp-for="applicantViewModels.email" value="@Model.applicantViewModels.email" type="hidden" />
                @* @Html.HiddenFor(model => model.applicantViewModels.id)
                @Html.HiddenFor(model => model.applicantViewModels.tbl_user_id)
                @Html.HiddenFor(model => model.applicantViewModels.email) *@
                <div class="form-group d-flex flex-column gap-1">
                    <label class="text-secondary small">
                        Permit Status
                    </label>
                    <span class="fw-bold">
                        @* @Html.DisplayFor(model => model.user_type) *@
                        <label asp-for="applicantViewModels.permit_status" value="@Model.applicantViewModels.permit_status">@Model.applicantViewModels.permit_status</label>
                        @* @Html.DisplayFor(modelItem => item.Engine) *@
                        @* Chainsaw Importer *@
                    </span>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    @if (Model.applicantViewModels.permit_status.Contains("Approved") == false && Model.applicantViewModels.permit_status.Contains("Payment") == false)
                    {
                        @* <input id="saveBtn" class="btn btn-primary w-105" name="SubmitButton" type="submit" value="Save" /> *@
                        <button id="btnSave" class="btn btn-primary w-105" type="button">Submit</button>
                    }
                    
                </div>
            </div>
            <hr />
            <div id="profileSection" class="row m-0">
                <div class="col-md-3">
                    <div class="d-flex justify-content-center gap-1">
                        <img src="/assets/images/default-avatar.png" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row mb-5">
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            User Type
                                        </label>
                                        <span class="fw-bold">
                                            @* @Html.DisplayFor(model => model.user_type) *@
                                            <label asp-for="applicantViewModels.user_type" value="@Model.applicantViewModels.user_type">@Model.applicantViewModels.user_type</label>     
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Name
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="applicantViewModels.full_name" value="@Model.applicantViewModels.full_name">@Model.applicantViewModels.full_name</label>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Address
                                        </label>
                                        <span class="fw-bold">

                                            <label asp-for="applicantViewModels.full_address" value="@Model.applicantViewModels.full_address">@Model.applicantViewModels.full_address</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Permit Type
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="applicantViewModels.permit_type" value="@Model.applicantViewModels.permit_type">@Model.applicantViewModels.permit_type</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Permit Application Details-->
                            <div class="row mb-5">
                                @if (Model.applicantViewModels.permit_type != "Certificate of Registration")
                                {
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Number of Chainsaws
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.qty" value="@Model.applicantViewModels.qty">@Model.applicantViewModels.qty</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.qty" value="@Model.applicantViewModels.qty" class="form-control" type="number" />
                                                }

                                            </span>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Specification
                                        </label>
                                        <span class="fw-bold">
                                            @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                            {
                                                <label asp-for="applicantViewModels.specification" value="@Model.applicantViewModels.specification">@Model.applicantViewModels.specification</label>
                                            }
                                            else
                                            {
                                                <input asp-for="applicantViewModels.specification" value="@Model.applicantViewModels.specification" class="form-control" type="text" />
                                            }                                          
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @if (Model.applicantViewModels.inspectionDate != null)
                            {
                                @if (Model.applicantViewModels.permit_type == "Permit to Sell" || Model.applicantViewModels.permit_type == "Certificate of Registration")
                                {
                                    <div class="row mb-5">
                                        <div class="col-md-5">
                                            <div class="form-group d-flex flex-column gap-1">
                                                <label class="text-secondary small">
                                                    Inspection Date
                                                </label>
                                                <span class="fw-bold">
                                                    <label asp-for="applicantViewModels.inspectionDate" value="@Model.applicantViewModels.inspectionDate">@Model.applicantViewModels.inspectionDate</label>
                                                </span>
                                            </div>
                                        </div>
                                        @if (Model.applicantViewModels.permit_type == "Certificate of Registration")
                                        {
                                            <div class="col-md-5">
                                                <div class="form-group d-flex flex-column gap-1">
                                                    <label class="text-secondary small">
                                                        Date of Purchase
                                                    </label>
                                                    <span class="fw-bold">
                                                        @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                        {
                                                            <label asp-for="applicantViewModels.date_purchase" value="@Model.applicantViewModels.date_purchase">@Model.applicantViewModels.date_purchase</label>
                                                        }
                                                        else
                                                        {
                                                            @* <input asp-for="applicantViewModels.date_purchase" value="@Model.applicantViewModels.date_purchase" class="form-control" type="date" /> *@
                                                            <input type="date" asp-for="applicantViewModels.date_purchase" class="form-control" />
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    </div>                                    
                                }
                            }
                            @* <div class="row mb-5">
                                @if (Model.applicantViewModels.permit_type == "Permit to Sell" || Model.applicantViewModels.permit_type == "Permit to Purchase")
                                {
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Already coordinated w/ Enforcement Division?
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    if (Model.applicantViewModels.coordinatedWithEnforcementDivision == true)
                                                    {
                                                        <label>Yes</label>
                                                    }
                                                    else
                                                    {
                                                        <label>No</label>
                                                    }
                                                }
                                                else
                                                {                                                    
                                                    <label>
                                                        <input type="radio" asp-for="applicantViewModels.coordinatedWithEnforcementDivision" value="true" />
                                                        Yes
                                                    </label>
                                                    <label>
                                                        <input type="radio" asp-for="applicantViewModels.coordinatedWithEnforcementDivision" value="false" />
                                                        No
                                                    </label>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div> *@


                            @if (Model.applicantViewModels.status == 11)
                            {
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Date of Permit Registration
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.applicantViewModels.date_of_registration)
                                                @Html.HiddenFor(model => model.applicantViewModels.date_of_registration)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Date of Permit Expiration
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.applicantViewModels.date_of_expiration)
                                                @Html.HiddenFor(model => model.applicantViewModels.date_of_expiration)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.applicantViewModels.permit_type == "Certificate of Registration")
                            {
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Chainsaw Brand
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.chainsawBrand" value="@Model.applicantViewModels.chainsawBrand">@Model.applicantViewModels.chainsawBrand</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.chainsawBrand" value="@Model.applicantViewModels.chainsawBrand" class="form-control" type="text" />
                                                }
                                            </span>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Chainsaw Model
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.chainsawModel" value="@Model.applicantViewModels.chainsawModel">@Model.applicantViewModels.chainsawModel</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.chainsawModel" value="@Model.applicantViewModels.chainsawModel" class="form-control" type="text" />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Chainsaw Engine
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.Engine" value="@Model.applicantViewModels.Engine">@Model.applicantViewModels.Engine</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.Engine" value="@Model.applicantViewModels.Engine" class="form-control" type="text" />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Chainsaw Power Source
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.powerSource" value="@Model.applicantViewModels.powerSource">@Model.applicantViewModels.powerSource</label>
                                                }
                                                else
                                                {
                                                    @* <input asp-for="applicantViewModels.powerSource" value="@Model.applicantViewModels.powerSource" class="form-control" type="text" /> *@
                                                    <select asp-for="applicantViewModels.powerSource" class="form-select" onchange="powerClassification(this)">
                                                        <option value="Electric">Electric</option>
                                                        <option value="Gas">Gas</option>
                                                        <option value="Battery">Battery</option>
                                                    </select>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                            {
                                                if (Model.applicantViewModels.powerSource == "Gas")
                                                {
                                                    <label class="text-secondary small">
                                                        Horsepower
                                                    </label>
                                                    <span class="fw-bold">
                                                        <label asp-for="applicantViewModels.hp" value="@Model.applicantViewModels.hp">@Model.applicantViewModels.hp</label>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <label class="text-secondary small">
                                                        Watt
                                                    </label>
                                                    <span class="fw-bold">
                                                        <label asp-for="applicantViewModels.Watt" value="@Model.applicantViewModels.Watt">@Model.applicantViewModels.Watt</label>
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                if (Model.applicantViewModels.powerSource == "Gas")
                                                {
                                                    <div id="HorsepowerDiv">
                                                        <label class="text-secondary small">
                                                            Horsepower
                                                        </label>
                                                        <span class="fw-bold">

                                                            <input asp-for="applicantViewModels.hp" value="@Model.applicantViewModels.hp" class="form-control" type="text" />

                                                        </span>
                                                    </div>
                                                    <div id="WattDiv" style="display:none">
                                                        <label class="text-secondary small">
                                                            Watt
                                                        </label>
                                                        <span class="fw-bold">

                                                            <input asp-for="applicantViewModels.Watt" value="@Model.applicantViewModels.Watt" class="form-control" type="text" />

                                                        </span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="WattDiv">
                                                        <label class="text-secondary small">
                                                            Watt
                                                        </label>
                                                        <span class="fw-bold">

                                                            <input asp-for="applicantViewModels.Watt" value="@Model.applicantViewModels.Watt" class="form-control" type="text" />

                                                        </span>
                                                    </div>
                                                    <div id="HorsepowerDiv" style="display:none">
                                                        <label class="text-secondary small">
                                                            Horsepower
                                                        </label>
                                                        <span class="fw-bold">

                                                            <input asp-for="applicantViewModels.hp" value="@Model.applicantViewModels.hp" class="form-control" type="text" />

                                                        </span>
                                                    </div>

                                                }
                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Length of Guidebar
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.gb" value="@Model.applicantViewModels.gb">@Model.applicantViewModels.gb</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.gb" value="@Model.applicantViewModels.gb" class="form-control" type="text" />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Chainsaw Serial Number
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.chainsaw_serial_number" value="@Model.applicantViewModels.chainsaw_serial_number">@Model.applicantViewModels.chainsaw_serial_number</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.chainsaw_serial_number" value="@Model.applicantViewModels.chainsaw_serial_number" class="form-control" type="text" />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Chainsaw Supplier
                                            </label>
                                            <span class="fw-bold">
                                                @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                                                {
                                                    <label asp-for="applicantViewModels.chainsawSupplier" value="@Model.applicantViewModels.chainsawSupplier">@Model.applicantViewModels.chainsawSupplier</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="applicantViewModels.chainsawSupplier" value="@Model.applicantViewModels.chainsawSupplier" class="form-control" type="text" />
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            @* @if (@Model.applicantViewModels.permit_type == "Permit to Import")
            {
                <hr />
                <h4 class="text-secondary fw-bold mb-4">Bureau of Customs</h4>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of arrival
                            </label>
                            @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                            {
                                <label asp-for="applicantViewModels.expectedTimeArrived" value="@Model.applicantViewModels.expectedTimeArrived">@Model.applicantViewModels.expectedTimeArrived</label>
                            }
                            else
                            {
                            <input type="date" asp-for="applicantViewModels.expectedTimeArrived" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of release
                            </label>
                            @if (Model.applicantViewModels.permit_status != "For Inspector Approval" && Model.applicantViewModels.permit_status != "Rejected (Inspector)" && Model.applicantViewModels.permit_status != "Rejected (CENRO)")
                            {
                                <label asp-for="applicantViewModels.expectedTimeRelease" value="@Model.applicantViewModels.expectedTimeRelease">@Model.applicantViewModels.expectedTimeRelease</label>
                            }
                            else
                            {
                                <input type="date" asp-for="applicantViewModels.expectedTimeRelease" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
            } *@

            
            <hr/>
            <div class="row d-flex justify-content-center m-0">
                <table class="table dataTable" id="tblApplicantFiles">
                    <thead>
                        <tr>
                            <th>
                                Requirement
                            </th>
                            <th>
                                Uploaded Document
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Comment
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (FilesWithComments item in Model.filesWithComments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_document_checklist_name)
                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.filename) *@
                                    @if(item.filename!="N/A")
                                    {
                                        @* <a href="#" data-fileID="@item.tbl_files_id" data-fileName="@item.filename" onclick="DocHistory(this)">@item.filename</a> *@
                                        @item.filename
                                    }
                                    else
                                    {
                                        @item.filename
                                    }
                                </td>

                                <td>
                                    @if (item.tbl_files_status == "Complied")
                                    {
                                        @* <div class="bg-success text-white px-3 pb-2 pt-1 rounded-pill w-105"> *@
                                        <div class="text-success px-3 pb-2 pt-1" style="font-weight: bold">
                                            @item.tbl_files_status
                                        </div>
                                    }
                                    else if (item.tbl_files_status == "Not Complied")
                                    {
                                        @* <div class="bg-danger text-white px-3 pb-2 pt-1 rounded-pill w-105"> *@
                                        <div class="text-danger px-3 pb-2 pt-1" style="font-weight: bold">
                                            @item.tbl_files_status
                                        </div>
                                    }
                                    else @* if (item.tbl_files_status == "Pending") *@
                                    {
                                        @* <div class="bg-secondary text-white px-3 pb-2 pt-1 rounded-pill w-105"> *@
                                        <div class="text-secondary px-3 pb-2 pt-1" style="font-weight: bold">
                                            @item.tbl_files_status
                                        </div>
                                    }
                                </td>
                                <td>                                    
                                    @Html.DisplayFor(modelItem => item.comment)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <hr />
                <div class="row d-flex justify-content-center px-0 mb-5">
                    <div class="col-md-12 d-flex flex-column gap-2">
                        <div class="d-flex gap-4">
                            <h2><h2 class="text-secondary fw-bold m-0">Uploaded Documents</h2></h2>
                        </div>
                    </div>
                    <br /> <br />
                    <div class="d-flex mb-4 gap-3">
                        @foreach (tbl_files file in Model.tbl_Files)
                        {
                            <div class="card mw-18rem">
                                <div class="card-body">
                                    @if (file.tbl_file_type_id == ".pdf")
                                    {
                                        <i class="fas fa-file-pdf text-light-green fs-1 mb-3"></i>
                                    }
                                    else if (file.tbl_file_type_id == ".docx")
                                    {
                                        <i class="fas fa-file-word text-light-green fs-1 mb-3"></i>
                                    }
                                    else if (file.tbl_file_type_id == ".jpg")
                                    {
                                        <i class="fas fa-file-image text-light-green fs-1 mb-3"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-file text-light-green fs-1 mb-3"></i>
                                    }
                                    <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="~/Files/UserDocs/@file.filename" target="_blank">View</a></li>
                                    @* <li><a class="dropdown-item" href="#">Delete</a></li> *@
                                        <li><a href="@Url.Action("DownloadFile", new { filename = file.filename, path = file.path })" class="dropdown-item" href="#">Download</a></li>
                                    </ul>
                                    <h6 class="card-title text-secondary">@file.filename</h6>
                                    <ul class="list-unstyled small mb-0">
                                        <li><span class="text-muted">type: @file.tbl_file_type_id</span></li>
                                        <li><span class="text-muted">size: @(file.file_size / 1024) kB</span></li>
                                        <li><span class="text-muted">uploaded: @file.date_created.ToString("MMM dd yyyy")</span></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (Model.applicantViewModels.status >= 7)
            {
                <hr />
                <div class="row d-flex justify-content-center m-0">
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-12 d-flex flex-column gap-2">
                            <h2 class="text-secondary fw-bold m-0">Attached Proof of Payment</h2>
                        </div>
                        <div class="d-flex mb-4 gap-3">
                            @foreach (tbl_files file in Model.proofOfPaymentFiles)
                            {
                                <div class="card mw-18rem">
                                    <div class="card-body">
                                        @if (file.tbl_file_type_id == ".pdf")
                                        {
                                            <i class="fas fa-file-pdf text-light-green fs-1 mb-3"></i>
                                        }
                                        else if (file.tbl_file_type_id == ".docx")
                                        {
                                            <i class="fas fa-file-word text-light-green fs-1 mb-3"></i>
                                        }
                                        else if (file.tbl_file_type_id == ".jpg")
                                        {
                                            <i class="fas fa-file-image text-light-green fs-1 mb-3"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-file text-light-green fs-1 mb-3"></i>
                                        }
                                        <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="~/Files/UserDocs/@file.filename" target="_blank">View</a></li>
                                            @* <li><a class="dropdown-item" href="#">Delete</a></li> *@
                                            <li><a href="@Url.Action("DownloadFile", new { filename = file.filename, path = file.path })" class="dropdown-item" href="#">Download</a></li>
                                        </ul>
                                        <h6 class="card-title text-secondary">@file.filename</h6>
                                        <ul class="list-unstyled small mb-0">
                                            <li><span class="text-muted">type: @file.tbl_file_type_id</span></li>
                                            <li><span class="text-muted">size: @(file.file_size / 1024) kB</span></li>
                                            <li><span class="text-muted">uploaded: @file.date_created.ToString("MMM dd yyyy")</span></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (Model.applicantViewModels.permit_status == "For Inspector Approval" || Model.applicantViewModels.permit_status == "Rejected (Inspector)" || Model.applicantViewModels.permit_status == "Rejected (CENRO)") @* (@Model.applicantViewModels.permit_status != "Approved") *@
            {
                <hr/>
                <div class="row d-flex justify-content-center m-0">
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="mb-4">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList</span>
                        </div>
                        <div class="gap-4 mb-5">
                            <h2 class="text-secondary fw-bold m-0">Attach Required Documents</h2>
                            <input asp-for="filesUpload.Files" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" data-msg-placeholder="Select {files} for upload...">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-11 d-flex flex-column gap-2">
                            <span>
                                Purpose
                            </span>
                            <textarea asp-for="applicantViewModels.purpose" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            }            
        </form>
        <hr />
        <form id="commentSection" asp-action="CommentSection">
            <div class="row d-flex justify-content-center px-0 mb-5 mt-3">
                <div class="col-md-12 d-flex flex-column px-4 gap-2">
                    <input asp-for="uid" type="hidden" />
                    <input asp-for="appid" type="hidden" />
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <span class="text-secondary">
                                Please select who you want to address a comment.
                            </span>
                            @* Dropdown to select which user is addressed in the comment *@
                            <select asp-for="tbl_Comments.comment_to" class="form-select mb-4">
                                <option value="User To Inspector">Inspector</option>
                                <option value="User To CENRO">CENRO</option>
                            </select>
                            <textarea asp-for="tbl_Comments.comment" class="form-control mb-4" placeholder="Add comments here."></textarea>
                            <button type="submit" id="commentBtn" class="btn btn-primary w-110">Add Comment</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        @* Conversation with Inspector *@
        <div class="row d-flex justify-content-center px-0 mb-5">
            <label class="text-secondary small">Conversation with Inspector</label>
            @foreach (CommentsViewModel item in Model.commentsViewModelsList)
            {
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div class="px-2 py-1">
                            <div class="border px-3 py-2">
                                <div class="row d-flex justify-content-between mb-1">
                                    <div class="col-md-6 fs-6 fw-bold text-secondary">
                                        @item.commenterName
                                    </div>
                                    <div class="col-md-6 text-end">
                                        @item.date_created
                                    </div>
                                </div>
                                <div class="row d-flex mb-3">
                                    <div class="col-md-12 fst-normal fs-6">
                                        @item.comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @* Conversation with CENRO *@
        <div class="row d-flex justify-content-center px-0 mb-5">
            <label class="text-secondary small">Conversation with CENRO</label>
            @foreach (CommentsViewModel item in Model.commentsViewModels2ndList)
            {
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div class="px-2 py-1">
                            <div class="border px-3 py-2">
                                <div class="row d-flex justify-content-between mb-1">
                                    <div class="col-md-6 fs-6 fw-bold text-secondary">
                                        @item.commenterName
                                    </div>
                                    <div class="col-md-6 text-end">
                                        @item.date_created
                                    </div>
                                </div>
                                <div class="row d-flex mb-3">
                                    <div class="col-md-12 fst-normal fs-6">
                                        @item.comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">

    const form = document.getElementById('EditApplicationForm');
    // const showModalButton = document.getElementById('btnSave');
    // const confirmationModal = document.getElementById('confirmSaveModal');
    // const confirmButton = document.getElementById('confirmSaveBtn');

    $(document).ready(function () {
                
        $("#btnSave").click(function () {
            $("#confirmSaveModal").modal("show");
        });

        $("#backSaveBtn").click(function () {
            $("#confirmSaveModal").modal("hide");
        });

        $("#confirmSaveBtn").click(function () {
            $("#confirmSaveModal").modal("hide");
            // var formFiles = document.forms['EditApplicationForm']['filesUpload.Files'];
            // formFiles.files = dt.files;
            form.submit();
            $("#confirmSaveSuccessModal").modal("show");
        });
    });

    // // Function to display the modal
    // function showModal() {
    //     confirmationModal.style.display = 'block';
    // }

    // // Function to hide the modal
    // function hideModal() {
    //     confirmationModal.style.display = 'none';
    // }

    // // Event listener for the "Submit" button
    // showModalButton.addEventListener('click', showModal);

    // // Event listener for the "Confirm" button
    // confirmButton.addEventListener('click', function () {
    //     // Submit the form when the "Confirm" button is clicked
    //     form.submit();
    // });

    // // Close the modal when the user clicks outside of it
    // window.addEventListener('click', function (event) {
    //     if (event.target === confirmationModal) {
    //         hideModal();
    //     }
    // });

    function powerClassification(that) {
        if (that.value == "Gas") {
            document.getElementById("HorsepowerDiv").style.display = "block";
            document.getElementById("WattDiv").style.display = "none";
        }

        else {
            document.getElementById("HorsepowerDiv").style.display = "none";
            document.getElementById("WattDiv").style.display = "block";
        }
    }
    

</script>
<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>