@using System.Security.Claims;
@model FMB_CIS.Models.ApplicantListViewModel
@* @model FMB_CIS.Models.ApplicantListViewModel *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");
}

<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="EditApplication" method="post" enctype="multipart/form-data">
            <div class="row m-0">
                <input asp-for="id" value="@Model.id" type="hidden" />
                <input asp-for="tbl_user_id" value="@Model.tbl_user_id" type="hidden" />
                <input asp-for="email" value="@Model.email" type="hidden" />
                <div class="d-flex justify-content-end gap-2">
                    @if (@Model.permit_status != "Approved")
                    {
                        <input id="saveBtn" class="btn btn-primary w-105" name="SubmitButton" type="submit" value="Save" />
                    }
                    

                </div>
            </div>
            <hr />
            <div id="profileSection" class="row m-0">
                <div class="col-md-3">
                    <div class="d-flex justify-content-center gap-1">
                        <img src="/assets/images/default-avatar.png" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row mb-5">
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            User Type
                                        </label>
                                        <span class="fw-bold">
                                            @* @Html.DisplayFor(model => model.user_type) *@
                                            <label asp-for="user_type" value="@Model.user_type">@Model.user_type</label>
                                            @* @Html.DisplayFor(modelItem => item.Engine) *@
                                            @* Chainsaw Importer *@
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Name
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="full_name" value="@Model.full_name">@Model.full_name</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Permit Type
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="permit_type" value="@Model.permit_type">@Model.permit_type</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Number of Chainsaws
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="qty" value="@Model.qty">@Model.qty</label>
                                            }
                                            else
                                            {
                                                <input asp-for="qty" name="qty" value="@Model.qty" class="form-control" type="text" />
                                            }
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Specification
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="specification" value="@Model.specification">@Model.specification</label>
                                            }
                                            else
                                            {
                                                <input asp-for="specification" name="specification" value="@Model.specification" class="form-control" type="text" />
                                            }
                                            

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Address
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="address" value="@Model.address">@Model.address</label>
                                            }
                                            else
                                            {
                                            <input asp-for="address" name="address" value="@Model.address" class="form-control" type="text" />
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Inspection Date
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="inspectionDate" value="@Model.inspectionDate">@Model.inspectionDate</label>
                                            }
                                            else
                                            {
                                            <input asp-for="inspectionDate" name="inspectionDate" value="@Model.inspectionDate" class="form-control" type="text" />
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            @if (@Model.permit_type == "Permit to Import")
            {
                <hr />
                <h4 class="text-secondary fw-bold mb-4">Bureau of Customs</h4>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of arrival
                            </label>
                            @if (@Model.permit_status == "Approved")
                            {
                                <label asp-for="expectedTimeArrived" value="@Model.expectedTimeArrived">@Model.expectedTimeArrived</label>
                            }
                            else
                            {
                            <input type="date" asp-for="expectedTimeArrived" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of release
                            </label>
                            @if (@Model.permit_status == "Approved")
                            {
                            <label asp-for="expectedTimeRelease" value="@Model.expectedTimeRelease">@Model.expectedTimeRelease</label>
                            }
                            else
                            {
                            <input type="date" asp-for="expectedTimeRelease" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
            }
            
            <hr/>
            @if (@Model.permit_status != "Approved")
            {
                <div class="row d-flex justify-content-center m-0">
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-12 d-flex flex-column gap-2">
                            <div class="d-flex gap-4">
                                <h2><h2 class="text-secondary fw-bold m-0">Attach Documents</h2></h2>
                                <label asp-for="filesUpload.Files" class="btn btn-primary custom-file-upload">
                                    <i data-feather="upload"></i> Upload
                                </label>
                            </div>

                            <input type="file" asp-for="filesUpload.Files" class="form-control file" accept="application/pdf" multiple hidden />
                            @* <button type="button" class="btn btn-primary"><i data-feather="upload"></i> Upload</button>*@
                        </div>
                        <div class="d-flex mb-4 gap-3 output">
                            @*Cards for files*@
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-11 d-flex flex-column gap-2">
                            <span>
                                Purpose
                            </span>
                            <textarea asp-for="purpose" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            }
            
        </form>

    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        const dt = new DataTransfer();
        $(".file").on("change", function (e) {
            // Get the selected file(s)
            var selectedFiles = $(this).prop("files");
            var fafile = "";
            // Clear the previous output
            //$(".output").empty();

            // Display file information in the specified format
            for (var i = 0; i < this.files.length; i++) {
                //ifelse for fa-file type
                if (selectedFiles[i].type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                    fafile = "fa-file-word"
                }
                else if (selectedFiles[i].type == "application/pdf") {
                    fafile = "fa-file-pdf"
                }
                else if (selectedFiles[i].type == "image/jpeg") {
                    fafile = "fa-file-image"
                }
                else {
                    fafile = "fa-file"
                }
                // Create div elements and set their classes and content
                var cardDiv = $("<div>").addClass("card mw-18rem ").attr('id', selectedFiles[i].name);
                var fileDiv = $("<div>").addClass("card-body");
                var fileIcon = $("<i>").addClass("fas " + fafile + " text-light-green fs-1 mb-3");
                var dropdownIcon = $("<i>").addClass("fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary").attr({
                    "data-bs-toggle": "dropdown",
                    "aria-expanded": "false"
                });
                var dropdownMenu = $("<ul>").addClass("dropdown-menu").append(
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("View")),
                    $("<li>").append($("<a>").addClass("dropdown-item file-delete").attr("href", "#").text("Delete")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Download"))
                );
                var fileName = $("<h6>").addClass("card-title text-secondary").text(selectedFiles[i].name);
                var fileInfoList = $("<ul>").addClass("list-unstyled small mb-0").append(
                    $("<li>").append($("<span>").addClass("text-muted").text("type: " + selectedFiles[i].type)),
                    $("<li>").append($("<span>").addClass("text-muted").text("size: " + (selectedFiles[i].size / 1024).toFixed(2) + "kb")),
                    $("<li>").append($("<span>").addClass("text-muted").text("uploaded: " + new Date().toLocaleDateString()))
                );

                // Append created elements to the fileDiv
                fileDiv.append(fileIcon, dropdownIcon, dropdownMenu, fileName, fileInfoList);

                // Append the fileDiv to the cardDiv
                cardDiv.append(fileDiv);

                // Append the cardDiv to the output div
                $(".output").append(cardDiv);
            }
            for (let file of this.files) {
                dt.items.add(file);
            }

            selectedFiles = dt.files;
            console.log(selectedFiles);
            $('.file-delete').click(function () {
                let name = $(this).closest('.card').attr('id');
                // Supprimer l'affichage du nom de fichier
                //$(this).parent().remove();
                document.getElementById(name).remove()
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                selectedFiles = dt.files;
            });


        });

        $('#approveBtn').click(function () {
            $('#confirmApproveModal').modal("show");
        });

        $('#saveBtn').click(function () {
            $('#confirmApproveModal').modal("show");
        });

        $("#backApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
        });

        $("#confirmApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
            $('#confirmSuccessApproveModal').modal("show");
        });
        
        $('#declineBtn').click(function () {
            $('#confirmDeclineModal').modal("show");
        });

        $('#backDeclineBtn').click(function () {
            $('#confirmDeclineModal').modal("hide");
        });

        $("#confirmDeclineBtn").click(function () {
            $("#confirmDeclineModal").modal('hide');
            $('#confirmSuccessDeclineModal').modal("show");
        });
    });
    var x = document.getElementById("commentFromDB").value;
    document.getElementById('commentToPass').value = x;

    var y = document.getElementById("myEmailAdd").value;
    document.getElementById('emailCopy').value = y;
    

</script>
<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>