@using System.Security.Claims;
@model FMB_CIS.Models.ApplicantListViewModel
@* @model FMB_CIS.Models.ApplicantListViewModel *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");
}

<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="EditApplication" method="post" enctype="multipart/form-data">
            <div class="row m-0">
                <input asp-for="id" value="@Model.id" type="hidden" />
                <input asp-for="tbl_user_id" value="@Model.tbl_user_id" type="hidden" />
                <input asp-for="email" value="@Model.email" type="hidden" />
                <div class="d-flex justify-content-end gap-2">
                    @if (@Model.permit_status != "Approved")
                    {
                        <input id="saveBtn" class="btn btn-primary w-105" name="SubmitButton" type="submit" value="Save" />
                    }
                    

                </div>
            </div>
            <hr />
            <div id="profileSection" class="row m-0">
                <div class="col-md-3">
                    <div class="d-flex justify-content-center gap-1">
                        <img src="/assets/images/default-avatar.png" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row mb-5">
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            User Type
                                        </label>
                                        <span class="fw-bold">
                                            @* @Html.DisplayFor(model => model.user_type) *@
                                            <label asp-for="user_type" value="@Model.user_type">@Model.user_type</label>
                                            @* @Html.DisplayFor(modelItem => item.Engine) *@
                                            @* Chainsaw Importer *@
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Name
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="full_name" value="@Model.full_name">@Model.full_name</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Permit Type
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="permit_type" value="@Model.permit_type">@Model.permit_type</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Number of Chainsaws
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="qty" value="@Model.qty">@Model.qty</label>
                                            }
                                            else
                                            {
                                                <input asp-for="qty" name="qty" value="@Model.qty" class="form-control" type="text" />
                                            }
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Specification
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="specification" value="@Model.specification">@Model.specification</label>
                                            }
                                            else
                                            {
                                                <input asp-for="specification" name="specification" value="@Model.specification" class="form-control" type="text" />
                                            }
                                            

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Address
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="address" value="@Model.address">@Model.address</label>
                                            }
                                            else
                                            {
                                            <input asp-for="address" name="address" value="@Model.address" class="form-control" type="text" />
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Inspection Date
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.permit_status == "Approved")
                                            {
                                                <label asp-for="inspectionDate" value="@Model.inspectionDate">@Model.inspectionDate</label>
                                            }
                                            else
                                            {
                                            <input asp-for="inspectionDate" name="inspectionDate" value="@Model.inspectionDate" class="form-control" type="text" />
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            @if (@Model.permit_type == "Permit to Import")
            {
                <hr />
                <h4 class="text-secondary fw-bold mb-4">Bureau of Customs</h4>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of arrival
                            </label>
                            @if (@Model.permit_status == "Approved")
                            {
                                <label asp-for="expectedTimeArrived" value="@Model.expectedTimeArrived">@Model.expectedTimeArrived</label>
                            }
                            else
                            {
                            <input type="date" asp-for="expectedTimeArrived" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of release
                            </label>
                            @if (@Model.permit_status == "Approved")
                            {
                            <label asp-for="expectedTimeRelease" value="@Model.expectedTimeRelease">@Model.expectedTimeRelease</label>
                            }
                            else
                            {
                            <input type="date" asp-for="expectedTimeRelease" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
            }
            
            <hr/>
            @if (@Model.permit_status != "Approved")
            {
                <div class="row d-flex justify-content-center m-0">
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-11 d-flex flex-column gap-2">
                            <input type="file" asp-for="filesUpload.Files" class="form-control" multiple />
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-11 d-flex flex-column gap-2">
                            <span>
                                Purpose
                            </span>
                            <textarea asp-for="purpose" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            }
            
        </form>

    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#approveBtn').click(function () {
            $('#confirmApproveModal').modal("show");
        });

        $('#saveBtn').click(function () {
            $('#confirmApproveModal').modal("show");
        });

        $("#backApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
        });

        $("#confirmApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
            $('#confirmSuccessApproveModal').modal("show");
        });
        
        $('#declineBtn').click(function () {
            $('#confirmDeclineModal').modal("show");
        });

        $('#backDeclineBtn').click(function () {
            $('#confirmDeclineModal').modal("hide");
        });

        $("#confirmDeclineBtn").click(function () {
            $("#confirmDeclineModal").modal('hide');
            $('#confirmSuccessDeclineModal').modal("show");
        });
    });
    var x = document.getElementById("commentFromDB").value;
    document.getElementById('commentToPass').value = x;

    var y = document.getElementById("myEmailAdd").value;
    document.getElementById('emailCopy').value = y;
    

</script>