@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model FMB_CIS.Models.ApplicantListViewModel *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Cenro = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO");
    ViewBag.Inspector = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Inspector");
}

<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="EditApplication" method="post" enctype="multipart/form-data" id="EditApplicationForm">
            <div class="row m-0">
                <input asp-for="applicantViewModels.id" value="@Model.applicantViewModels.id" type="hidden" />
                <input asp-for="applicantViewModels.tbl_user_id" value="@Model.applicantViewModels.tbl_user_id" type="hidden" />
                <input asp-for="applicantViewModels.email" value="@Model.applicantViewModels.email" type="hidden" />
                @* @Html.HiddenFor(model => model.applicantViewModels.id)
                @Html.HiddenFor(model => model.applicantViewModels.tbl_user_id)
                @Html.HiddenFor(model => model.applicantViewModels.email) *@
                <div class="d-flex justify-content-end gap-2">
                    @if (@Model.applicantViewModels.permit_status != "Approved")
                    {
                        @* <input id="saveBtn" class="btn btn-primary w-105" name="SubmitButton" type="submit" value="Save" /> *@
                        <button id="btnSave" class="btn btn-primary w-105" type="button">Submit</button>
                    }
                    
                </div>
            </div>
            <hr />
            <div id="profileSection" class="row m-0">
                <div class="col-md-3">
                    <div class="d-flex justify-content-center gap-1">
                        <img src="/assets/images/default-avatar.png" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row mb-5">
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            User Type
                                        </label>
                                        <span class="fw-bold">
                                            @* @Html.DisplayFor(model => model.user_type) *@
                                            <label asp-for="applicantViewModels.user_type" value="@Model.applicantViewModels.user_type">@Model.applicantViewModels.user_type</label>
                                            @* @Html.DisplayFor(modelItem => item.Engine) *@
                                            @* Chainsaw Importer *@
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Name
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="applicantViewModels.full_name" value="@Model.applicantViewModels.full_name">@Model.applicantViewModels.full_name</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Permit Type
                                        </label>
                                        <span class="fw-bold">
                                            <label asp-for="applicantViewModels.permit_type" value="@Model.applicantViewModels.permit_type">@Model.applicantViewModels.permit_type</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Number of Chainsaws
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.applicantViewModels.permit_status == "Approved")
                                            {
                                                <label asp-for="applicantViewModels.qty" value="@Model.applicantViewModels.qty">@Model.applicantViewModels.qty</label>
                                            }
                                            else
                                            {
                                                <input asp-for="applicantViewModels.qty" value="@Model.applicantViewModels.qty" class="form-control" type="text" />
                                            }
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Specification
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.applicantViewModels.permit_status == "Approved")
                                            {
                                                <label asp-for="applicantViewModels.specification" value="@Model.applicantViewModels.specification">@Model.applicantViewModels.specification</label>
                                            }
                                            else
                                            {
                                                <input asp-for="applicantViewModels.specification" value="@Model.applicantViewModels.specification" class="form-control" type="text" />
                                            }
                                            

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Address
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.applicantViewModels.permit_status == "Approved")
                                            {
                                                <label asp-for="applicantViewModels.address" value="@Model.applicantViewModels.address">@Model.applicantViewModels.address</label>
                                            }
                                            else
                                            {
                                                <input asp-for="applicantViewModels.address" value="@Model.applicantViewModels.address" class="form-control" type="text" />
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Inspection Date
                                        </label>
                                        <span class="fw-bold">
                                            @if (@Model.applicantViewModels.permit_status == "Approved")
                                            {
                                                <label asp-for="applicantViewModels.inspectionDate" value="@Model.applicantViewModels.inspectionDate">@Model.applicantViewModels.inspectionDate</label>
                                            }
                                            else
                                            {
                                                <input asp-for="applicantViewModels.inspectionDate" value="@Model.applicantViewModels.inspectionDate" class="form-control" type="text" />
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            @if (@Model.applicantViewModels.permit_type == "Permit to Import")
            {
                <hr />
                <h4 class="text-secondary fw-bold mb-4">Bureau of Customs</h4>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of arrival
                            </label>
                            @if (@Model.applicantViewModels.permit_status == "Approved")
                            {
                                <label asp-for="applicantViewModels.expectedTimeArrived" value="@Model.applicantViewModels.expectedTimeArrived">@Model.applicantViewModels.expectedTimeArrived</label>
                            }
                            else
                            {
                            <input type="date" asp-for="applicantViewModels.expectedTimeArrived" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-secondary small">
                                Expected time of release
                            </label>
                            @if (@Model.applicantViewModels.permit_status == "Approved")
                            {
                                <label asp-for="applicantViewModels.expectedTimeRelease" value="@Model.applicantViewModels.expectedTimeRelease">@Model.applicantViewModels.expectedTimeRelease</label>
                            }
                            else
                            {
                                <input type="date" asp-for="applicantViewModels.expectedTimeRelease" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
            }
            
            <hr/>
            <div class="row d-flex justify-content-center m-0">
                <div class="row d-flex justify-content-center px-0 mb-5">
                    <div class="col-md-12 d-flex flex-column gap-2">
                        <div class="d-flex gap-4">
                            <h2><h2 class="text-secondary fw-bold m-0">Uploaded Documents</h2></h2>
                        </div>
                    </div>
                    <br /> <br />
                    <div class="d-flex mb-4 gap-3">
                        @foreach (tbl_files file in Model.tbl_Files)
                        {
                            <div class="card mw-18rem">
                                <div class="card-body">
                                    @if (file.tbl_file_type_id == ".pdf")
                                    {
                                        <i class="fas fa-file-pdf text-light-green fs-1 mb-3"></i>
                                    }
                                    else if (file.tbl_file_type_id == ".docx")
                                    {
                                        <i class="fas fa-file-word text-light-green fs-1 mb-3"></i>
                                    }
                                    else if (file.tbl_file_type_id == ".jpg")
                                    {
                                        <i class="fas fa-file-image text-light-green fs-1 mb-3"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-file text-light-green fs-1 mb-3"></i>
                                    }
                                    <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="~/Files/UserDocs/@file.filename" target="_blank">View</a></li>
                                    @* <li><a class="dropdown-item" href="#">Delete</a></li> *@
                                        <li><a href="@Url.Action("DownloadFile", new { filename = file.filename, path = file.path })" class="dropdown-item" href="#">Download</a></li>
                                    </ul>
                                    <h6 class="card-title text-secondary">@file.filename</h6>
                                    <ul class="list-unstyled small mb-0">
                                        <li><span class="text-muted">type: @file.tbl_file_type_id</span></li>
                                        <li><span class="text-muted">size: @(file.file_size / 1024) kB</span></li>
                                        <li><span class="text-muted">uploaded: @file.date_created.ToString("MMM dd yyyy")</span></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <hr/>
            @if (@Model.applicantViewModels.permit_status != "Approved")
            {
                <div class="row d-flex justify-content-center m-0">
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-12 d-flex flex-column gap-2">
                            <div class="d-flex gap-4">
                                <h2><h2 class="text-secondary fw-bold m-0">Attach Additional Documents</h2></h2>
                                <label asp-for="filesUpload.Files" class="btn btn-primary custom-file-upload">
                                    <i data-feather="upload"></i> Upload
                                </label>
                            </div>

                            <input type="file" asp-for="filesUpload.Files" class="form-control file" accept="application/pdf" multiple hidden />
                            @* <button type="button" class="btn btn-primary"><i data-feather="upload"></i> Upload</button>*@
                        </div>
                        <div class="d-flex mb-4 gap-3 output">
                            @*Cards for files*@
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-11 d-flex flex-column gap-2">
                            <span>
                                Purpose
                            </span>
                            <textarea asp-for="applicantViewModels.purpose" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            }            
        </form>
        <hr />
        <form id="commentSection" asp-action="CommentSection">
            <div class="row d-flex justify-content-center px-0 mb-5 mt-3">
                <div class="col-md-12 d-flex flex-column px-4 gap-2">
                    <input asp-for="uid" type="hidden" />
                    <input asp-for="appid" type="hidden" />
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <span class="text-secondary">
                                Please select who you want to address a comment.
                            </span>
                            @* Dropdown to select which user is addressed in the comment *@
                            <select asp-for="tbl_Comments.comment_to" class="form-select mb-4">
                                <option value="User To Inspector">Inspector</option>
                                <option value="User To CENRO">CENRO</option>
                            </select>
                            <textarea asp-for="tbl_Comments.comment" class="form-control mb-4" placeholder="Add comments here."></textarea>
                            <button type="submit" id="commentBtn" class="btn btn-primary w-110">Add Comment</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        @* Conversation with Inspector *@
        <div class="row d-flex justify-content-center px-0 mb-5">
            <label class="text-secondary small">Conversation with Inspector</label>
            @foreach (CommentsViewModel item in Model.commentsViewModelsList)
            {
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div class="px-2 py-1">
                            <div class="border px-3 py-2">
                                <div class="row d-flex justify-content-between mb-1">
                                    <div class="col-md-6 fs-6 fw-bold text-secondary">
                                        @item.commenterName
                                    </div>
                                    <div class="col-md-6 text-end">
                                        @item.date_created
                                    </div>
                                </div>
                                <div class="row d-flex mb-3">
                                    <div class="col-md-12 fst-normal fs-6">
                                        @item.comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @* Conversation with CENRO *@
        <div class="row d-flex justify-content-center px-0 mb-5">
            <label class="text-secondary small">Conversation with CENRO</label>
            @foreach (CommentsViewModel item in Model.commentsViewModels2ndList)
            {
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div class="px-2 py-1">
                            <div class="border px-3 py-2">
                                <div class="row d-flex justify-content-between mb-1">
                                    <div class="col-md-6 fs-6 fw-bold text-secondary">
                                        @item.commenterName
                                    </div>
                                    <div class="col-md-6 text-end">
                                        @item.date_created
                                    </div>
                                </div>
                                <div class="row d-flex mb-3">
                                    <div class="col-md-12 fst-normal fs-6">
                                        @item.comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">

    const form = document.getElementById('EditApplicationForm');
    const showModalButton = document.getElementById('btnSave');
    const confirmationModal = document.getElementById('confirmSaveModal');
    const confirmButton = document.getElementById('confirmSaveBtn');

    $(document).ready(function () {
        const dt = new DataTransfer();
        $(".file").on("change", function (e) {
            // Get the selected file(s)
            var selectedFiles = $(this).prop("files");
            var fafile = "";
            // Clear the previous output
            //$(".output").empty();

            // Display file information in the specified format
            for (var i = 0; i < this.files.length; i++) {
                //ifelse for fa-file type
                if (selectedFiles[i].type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                    fafile = "fa-file-word"
                }
                else if (selectedFiles[i].type == "application/pdf") {
                    fafile = "fa-file-pdf"
                }
                else if (selectedFiles[i].type == "image/jpeg") {
                    fafile = "fa-file-image"
                }
                else {
                    fafile = "fa-file"
                }
                // Create div elements and set their classes and content
                var cardDiv = $("<div>").addClass("card mw-18rem ").attr('id', selectedFiles[i].name);
                var fileDiv = $("<div>").addClass("card-body");
                var fileIcon = $("<i>").addClass("fas " + fafile + " text-light-green fs-1 mb-3");
                var dropdownIcon = $("<i>").addClass("fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary").attr({
                    "data-bs-toggle": "dropdown",
                    "aria-expanded": "false"
                });
                var dropdownMenu = $("<ul>").addClass("dropdown-menu").append(
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("View")),
                    $("<li>").append($("<a>").addClass("dropdown-item file-delete").attr("href", "#").text("Delete")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Download"))
                );
                var fileName = $("<h6>").addClass("card-title text-secondary").text(selectedFiles[i].name);
                var fileInfoList = $("<ul>").addClass("list-unstyled small mb-0").append(
                    $("<li>").append($("<span>").addClass("text-muted").text("type: " + selectedFiles[i].type)),
                    $("<li>").append($("<span>").addClass("text-muted").text("size: " + (selectedFiles[i].size / 1024).toFixed(2) + "kb")),
                    $("<li>").append($("<span>").addClass("text-muted").text("uploaded: " + new Date().toLocaleDateString()))
                );

                // Append created elements to the fileDiv
                fileDiv.append(fileIcon, dropdownIcon, dropdownMenu, fileName, fileInfoList);

                // Append the fileDiv to the cardDiv
                cardDiv.append(fileDiv);

                // Append the cardDiv to the output div
                $(".output").append(cardDiv);
            }
            for (let file of this.files) {
                dt.items.add(file);
            }

            selectedFiles = dt.files;
            console.log(selectedFiles);
            $('.file-delete').click(function () {
                let name = $(this).closest('.card').attr('id');
                // Supprimer l'affichage du nom de fichier
                //$(this).parent().remove();
                document.getElementById(name).remove()
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                selectedFiles = dt.files;
            });


        });

        $("#btnSave").click(function () {
            $("#confirmSaveModal").modal("show");
        });

        $("#backSaveBtn").click(function () {
            $("#confirmSaveModal").modal("hide");
        });

        $("#confirmSaveBtn").click(function () {
            $("#confirmSaveModal").modal("hide");
            form.submit();
            $("#confirmSaveSuccessModal").modal("show");
        });
    });

    // Function to display the modal
    function showModal() {
        confirmationModal.style.display = 'block';
    }

    // Function to hide the modal
    function hideModal() {
        confirmationModal.style.display = 'none';
    }

    // Event listener for the "Submit" button
    showModalButton.addEventListener('click', showModal);

    // Event listener for the "Confirm" button
    confirmButton.addEventListener('click', function () {
        // Submit the form when the "Confirm" button is clicked
        form.submit();
    });

    // Close the modal when the user clicks outside of it
    window.addEventListener('click', function (event) {
        if (event.target === confirmationModal) {
            hideModal();
        }
    });
    

</script>
<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>