@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Role = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<link rel="stylesheet" href="~/js/DataTable/dataTables.min.css">
<script src="~/js/jquery/jquery-3.7.1/jquery-3.7.1.js"></script>
<script src="~/js/DataTable/dataTables.min.js"></script>

<div id="card-container">
    <div id="card">
        <h2>Permit to Import</h2>

        <table class="table dataTable">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Email
                    </th>

                    <th>
                        Contact No.
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Application Date
                    </th>
                    <th>
                        Application Type
                    </th>
                    <th>
                        Permit Type
                    </th>
                    <th>
                        Permit Status
                    </th>
                    <th>
                        Proof of Payment
                    </th>
                    <th>
                        Action
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                {
                    @if (item.permit_type == "Permit to Import")
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.full_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.contact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.applicationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.application_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.permit_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.permit_status)
                            </td>
                            <td>
                                @if (item.permit_status == "For Payment" || item.permit_status == "Payment Rejected (Inspector)" || item.permit_status == "Payment Rejected (CENRO)")
                                {
                                    <div class="d-flex justify-content-center">
                                        <a href="#" id="uploadPOP" class="bg-green text-white pt-0 pb-1 px-2 rounded text-decoration-none" data-application-id="@item.id" onclick="uploadPaymentClicked(this)">
                                            <i data-feather="upload" class="data-feather-20"></i> Upload
                                        </a>
                                    </div>
                                }
                                else if (item.permit_status == "Payment Verification (Inspector)" || item.permit_status == "Payment Verification (CENRO)")
                                {
                                    <div class="d-flex justify-content-center">Payment Verification In Progress</div>
                                }
                                else if (item.permit_status == "Payment and Application Approved (Inspector and CENRO)")
                                {
                                    <div class="d-flex justify-content-center">Payment Approved</div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-center">Not Yet Approved for Payment</div>
                                }
                            </td>
                            <td>
                                @* <a href="ChainsawImporterApproval?uid=@item.tbl_user_id&appid=@item.id">Take Action</a> *@
                                @if (item.application_type.Contains("Importer"))
                                {
                                    <a href="../Application/EditApplication?uid=@item.tbl_user_id&appid=@item.id">Edit</a>
                                }
                                @if (item.application_type.Contains("Seller"))
                                {
                                    <a href="../Application/EditApplication?uid=@item.tbl_user_id&appid=@item.id">Edit</a>
                                }
                                @if (item.application_type.Contains("Owner"))
                                {
                                    <a href="../Application/EditApplication?uid=@item.tbl_user_id&appid=@item.id">Edit</a>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        const dt = new DataTransfer();
        $(".file").on("change", function (e) {
            // Get the selected file(s)
            var selectedFiles = $(this).prop("files");
            var fafile = "";
            // Clear the previous output
            //$(".output").empty();

            // Display file information in the specified format
            for (var i = 0; i < this.files.length; i++) {
                //ifelse for fa-file type
                if (selectedFiles[i].type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                    fafile = "fa-file-word"
                }
                else if (selectedFiles[i].type == "application/pdf") {
                    fafile = "fa-file-pdf"
                }
                else if (selectedFiles[i].type == "image/jpeg") {
                    fafile = "fa-file-image"
                }
                else {
                    fafile = "fa-file"
                }
                // Create div elements and set their classes and content
                var cardDiv = $("<div>").addClass("card mw-18rem ").attr('id', selectedFiles[i].name);
                var fileDiv = $("<div>").addClass("card-body");
                var fileIcon = $("<i>").addClass("fas " + fafile + " text-light-green fs-1 mb-3");
                var dropdownIcon = $("<i>").addClass("fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary").attr({
                    "data-bs-toggle": "dropdown",
                    "aria-expanded": "false"
                });
                var dropdownMenu = $("<ul>").addClass("dropdown-menu").append(
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("View")),
                    $("<li>").append($("<a>").addClass("dropdown-item file-delete").attr("href", "#").text("Delete")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Download"))
                );
                var fileName = $("<h6>").addClass("card-title text-secondary").text(selectedFiles[i].name);
                var fileInfoList = $("<ul>").addClass("list-unstyled small mb-0").append(
                    $("<li>").append($("<span>").addClass("text-muted").text("type: " + selectedFiles[i].type)),
                    $("<li>").append($("<span>").addClass("text-muted").text("size: " + (selectedFiles[i].size / 1024).toFixed(2) + "kb")),
                    $("<li>").append($("<span>").addClass("text-muted").text("uploaded: " + new Date().toLocaleDateString()))
                );

                // Append created elements to the fileDiv
                fileDiv.append(fileIcon, dropdownIcon, dropdownMenu, fileName, fileInfoList);

                // Append the fileDiv to the cardDiv
                cardDiv.append(fileDiv);

                // Append the cardDiv to the output div
                $(".output").append(cardDiv);
            }
            for (let file of this.files) {
                dt.items.add(file);
            }

            selectedFiles = dt.files;
            console.log(selectedFiles);
            $('.file-delete').click(function () {
                let name = $(this).closest('.card').attr('id');
                // Supprimer l'affichage du nom de fichier
                //$(this).parent().remove();
                document.getElementById(name).remove()
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                selectedFiles = dt.files;
            });

        });
        //END FOR FILE UPLOAD


        // $("#uploadPOP").click(function () {
        //     $("#uploadPOPModal").modal("show");
        // });

        $("#cancelBtn").click(function () {
            $("#uploadPOPModal").modal("hide");
        });
    });

    function uploadPaymentClicked(that) {
        //console.log("Test 1");
        $("#uploadPOPModal").modal("show");
        //console.log("Test 2");
        //console.log(that);
        //console.log(that.dataset.applicationId);
        var applicID = that.dataset.applicationId;
        document.getElementById("applicationID").value = applicID;
    }
</script>