@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model IEnumerable<FMB_CIS.Models.tbl_application> *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Role = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<div id="card-container">
    <div id="card">
        <h2>@ViewBag.Role</h2>
        @if (ViewBag.UserType.Contains("Owner") == true)
        {
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/LeasePermits.cshtml")
            </div>
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/RentPermits.cshtml")
            </div>
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/LendPermits.cshtml")
            </div>
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/RegistrationPermits.cshtml")
            </div>
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/ResellPermits.cshtml")
            </div>
        }
        @if (ViewBag.UserType.Contains("Seller") == true)
        {
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/SellPermits.cshtml")
            </div>
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/PurchasePermits.cshtml")
            </div>
        }
        @if (ViewBag.UserType.Contains("Importer") == true)
        {
            <hr>
            <div id="card">
                @Html.Partial("~/Views/Application/ImportPermits.cshtml")
            </div>
        }

    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">

</script>