@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Applications";
    ViewBag.Role = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<link rel="stylesheet" href="~/js/DataTable/dataTables.min.css">
<script src="~/js/jquery/jquery-3.7.1/jquery-3.7.1.js"></script>
<script src="~/js/DataTable/dataTables.min.js"></script>


<div id="card-container">
    <div id="card">
        <h2>Permit to Sell</h2>
        <table class="table dataTable">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Contact No.
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Application Date
                    </th>
                    <th>
                        Application Type
                    </th>
                    <th>
                        Permit Type
                    </th>
                    <th>
                        Permit Status
                    </th>
                    <th>
                        Proof of Payment
                    </th>
                    <th>
                        Action
                    </th>


                </tr>
            </thead>
            <tbody>

                @* <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Full Name
                    </td>
                    <td>
                        email@address.com
                    </td>
                    <td>
                        0999999999
                    </td>
                    <td>
                        Las Pinas
                    </td>
                    <td>
                        Oct 31, 2023
                    </td>
                    <td>
                        Chainsaw Seller
                    </td>
                    <td>
                        Permit to Sell
                    </td>
                    <td>
                        For Inspector Approval
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="#" id="uploadPOP" class="bg-green text-white pt-0 pb-1 px-2 rounded text-decoration-none">
                                <i data-feather="upload" class="data-feather-20"></i> Upload
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center gap-3">
                            <a href="#" class="bg-green text-white px-1 pb-1 rounded" title="edit">
                                <i data-feather="edit" class="data-feather-20"></i>
                            </a>
                        </div>
                    </td>
                </tr> *@

                @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                {
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.full_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.contact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.applicationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.application_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.permit_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.permit_status)
                            </td>
                            <td>
                                @if (item.permit_status == "For Payment" || item.permit_status == "Payment Rejected (Inspector)" || item.permit_status == "Payment Rejected (CENRO)")
                                {
                                    <div class="d-flex justify-content-center">
                                        <a href="#" id="uploadPOP" class="bg-green text-white pt-0 pb-1 px-2 rounded text-decoration-none" data-application-id="@item.id" onclick="uploadPaymentClicked(this)">
                                            <i data-feather="upload" class="data-feather-20"></i> Upload
                                        </a>
                                    </div>
                                }
                                else if (item.permit_status == "Payment Verification (Inspector)" || item.permit_status == "Payment Verification (CENRO)")
                                {
                                    <div class="d-flex justify-content-center">Payment Verification In Progress</div>
                                }
                                else if (item.permit_status == "Payment and Application Approved (Inspector and CENRO)")
                                {
                                    <div class="d-flex justify-content-center">Payment Approved</div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-center">Not Yet Approved for Payment</div>
                                }
                            </td>
                            <td>
                                @* <a href="ChainsawImporterApproval?uid=@item.tbl_user_id&appid=@item.id">Take Action</a> *@
                                @if (item.application_type.Contains("Importer"))
                                {
                                    <a href="../Application/EditApplication?uid=@item.tbl_user_id&appid=@item.id">View</a>
                                }
                                @if (item.application_type.Contains("Seller"))
                                {
                                    <a href="../Application/EditApplication?uid=@item.tbl_user_id&appid=@item.id">View</a>
                                }
                                @if (item.application_type.Contains("Owner"))
                                {
                                    <a href="../Application/EditApplication?uid=@item.tbl_user_id&appid=@item.id">View</a>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">

    function uploadPaymentClicked(that) {
        //console.log("Test 1");
        $("#uploadPOPModal").modal("show");
        //console.log("Test 2");
        //console.log(that);
        //console.log(that.dataset.applicationId);
        var applicID = that.dataset.applicationId;
        document.getElementById("applicationID").value = applicID;
    }
</script>