@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model FMB_CIS.Models.ApplicantListViewModel *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Account Management";
}

<div id="card-container">
    <div id="card">
        <form asp-controller="AccountManagement" asp-action="AccountsApproval" method="post" id="AcctApprvlForm">
            <div class="row m-0">
                <input asp-for="uid" type="hidden" />
                <input asp-for="appid" type="hidden" />
                <div class="d-flex justify-content-end gap-2">
                    @if (((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("CENRO") == true || ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("RED") == true || ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Implementing") == true)
                    {
                        @* <input id="approveBtn" class="btn btn-primary w-105" name="SubmitButton" type="button" value="Approve" />
                        <input id="declineBtn" class="btn btn-danger w-105 btnCancel" name="SubmitButton" type="button" value="Decline" /> *@
                        <button type="button" name="SubmitButton" id="approveBtn" class="btn btn-primary w-105">Approve</button>
                        <button type="button" name="SubmitButton" id="declineBtn" class="btn btn-danger w-105 btnCancel">Decline</button>
                        <input asp-for="decision" id="decisionID" type="hidden" />
                    }
                    @if (((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Administrator") == true || ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value.Contains("Super Admin") == true)
                    {
                        <button type="button" name="SubmitButton" id="approveBtn" class="btn btn-primary w-105" style="display: none;">Approve</button>
                        <button type="button" name="SubmitButton" id="declineBtn" class="btn btn-danger w-105 btnCancel" style="display: none;">Decline</button>
                        <button type="button" name="SubmitButton" id="enableBtn" class="btn btn-primary w-105">Enable</button>
                        <button type="button" name="SubmitButton" id="disableBtn" class="btn btn-danger w-105 btnCancel">Disable</button>
                        <input asp-for="decision" id="decisionID" type="hidden" />
                    }

                </div>
            </div>
            <hr />
            <div id="profileSection" class="row m-0">
                <div class="col-md-3">
                    <div class="d-flex justify-content-center gap-1">
                        <img src="@ViewBag.profilePhotoSource" class="img-fluid rounded" width="220px"/>
                        @* <img src="/assets/images/default-avatar.png" class="img-fluid rounded" /> *@
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                           @if (Model.acctApprovalViewModels.user_classification == "Corporation")
                            {
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                User Type
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.acctApprovalViewModels.userType)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Classification
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.acctApprovalViewModels.user_classification)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Company Name
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.acctApprovalViewModels.company_name)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row mb-5">
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                User Type
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.acctApprovalViewModels.userType)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group d-flex flex-column gap-1">
                                            <label class="text-secondary small">
                                                Classification
                                            </label>
                                            <span class="fw-bold">
                                                @Html.DisplayFor(model => model.acctApprovalViewModels.user_classification)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Full Name
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.FullName)
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.first_name)
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.middle_name)
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.last_name)
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.suffix)
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.FullName)
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.userID)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Gender
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.gender)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Email Address
                                        </label>
                                        <span class="fw-bold">
                                            @* @Model.acctApprovalViewModels.email *@
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.email)      
                                            @Html.HiddenFor(model => model.acctApprovalViewModels.email)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Contact Number
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.contact_no)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Valid ID
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.valid_id)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Valid ID Number
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.valid_id_no)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Birth Date
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.birth_date)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        @if (Model.acctApprovalViewModels.user_classification == "Corporation")
                                        {
                                            <label class="text-secondary small">Company Street Address</label>
                                        }
                                        else
                                        {
                                            <label class="text-secondary small">Street Address</label>
                                        }
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.street_address)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Region
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.region)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Province
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.province)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            City/Municipality
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.city)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Barangay
                                        </label>
                                        <span class="fw-bold">
                                            @Html.DisplayFor(model => model.acctApprovalViewModels.brgy)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row d-flex justify-content-center m-0">
                <div class="d-flex gap-4 mb-5">
                    <h2 class="text-secondary fw-bold m-0">Attached Documents</h2>
                </div>
                <div class="d-flex mb-4 gap-3">
                    @foreach (tbl_files file in Model.tbl_Files)
                     {
                        <div class="card mw-18rem">
                            <div class="card-body">
                                @if(file.tbl_file_type_id == ".pdf")
                                {
                                    <i class="fas fa-file-pdf text-light-green fs-1 mb-3"></i>
                                }
                                else if (file.tbl_file_type_id == ".docx")
                                {
                                    <i class="fas fa-file-word text-light-green fs-1 mb-3"></i>
                                }
                                else if (file.tbl_file_type_id == ".jpg")
                                {
                                    <i class="fas fa-file-image text-light-green fs-1 mb-3"></i>
                                }
                                else
                                {
                                    <i class="fas fa-file text-light-green fs-1 mb-3"></i>
                                }
                                <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="~/Files/UserDocs/@file.filename" target="_blank">View</a></li>
                                    @* <li><a class="dropdown-item" href="#">Delete</a></li> *@
                                    <li><a href="@Url.Action("DownloadFile", new { filename = file.filename, path = file.path })" class="dropdown-item" href="#">Download</a></li>
                                </ul>
                                <h6 class="card-title text-secondary">@file.filename</h6>
                                <ul class="list-unstyled small mb-0">
                                    <li><span class="text-muted">type: @file.tbl_file_type_id</span></li>
                                    <li><span class="text-muted">size: @(file.file_size/1024) kB</span></li>
                                    <li><span class="text-muted">uploaded: @file.date_created.ToString("MMM dd yyyy")</span></li>
                                </ul>
                            </div>
                        </div>
                     }
                </div>
                @* <div class="row d-flex justify-content-center px-0 mb-5">
                    <div class="col-md-11 d-flex flex-column gap-2">
                        <span>
                            Comments
                        </span>
                        <textarea asp-for="acctApprovalViewModels.comment" class="form-control"></textarea>
                        <button type="button" id="commentBtn" class="btn btn-primary w-105">Approve</button>
                    </div>
                </div> *@
            </div>
        </form>
        <hr />
        <form id="commentSection" asp-action="CommentSection">
            <div class="row d-flex justify-content-center px-0 mb-5 mt-3">
                <div class="col-md-12 d-flex flex-column px-4 gap-2">
                    <input asp-for="uid" type="hidden" />
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <span class="text-secondary">
                                Please select the file you want to address a comment
                            </span>
                            @* Dropdown to select which file to comment *@
                            <select asp-for="tbl_Comments.tbl_files_id" class="form-select mb-4">
                                @foreach (tbl_files file in Model.tbl_Files)
                                {
                                    <option value="@file.Id">@file.filename</option>
                                }
                            </select>
                            @* @Html.DisplayFor(model => model.acctApprovalViewModels.birth_date) *@
                            <textarea asp-for="tbl_Comments.comment" class="form-control mb-4" placeholder="Add comments here."></textarea>
                            <button type="submit" id="commentBtn" class="btn btn-primary w-110">Add Comment</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="row d-flex justify-content-center px-0 mb-5">
            @{var prev = " ";}
            @foreach (CommentsViewModel item in Model.commentsViewModelsList)
            {

                @* if (prev != item.fileName)
                {
                    <section id="@item.fileName.Trim().Replace(" ","_")"></section>
                } *@
                prev = item.fileName;

                <div class="row">
                    <div class="col-md-12 py-2">
                        <div class="px-2 py-1">
                            <div class="border px-3 py-2">
                            <div class="row d-flex justify-content-between mb-1">
                                <div class="col-md-6 fs-6 fw-bold text-secondary">
                                    @item.commenterName
                                </div>
                                <div class="col-md-6 text-end">
                                    <span class="border rounded small px-2 fw-bold text-secondary">
                                        @item.fileName
                                    </span>
                                </div>
                            </div>
                            <div class="row d-flex mb-3">
                                <div class="col-md-12 fst-normal fs-6">
                                    @item.comment
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-md-12 text-end small text-muted pe-3">
                                    @item.date_created
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
 
        // Add an event listener for the 'change' event on the file input element
        // Add an event listener for the 'change' event on the file input element
        $("#FilesFromDB").on("load", function () {
            // Get the selected file(s)
            var selectedFiles = $(this).prop("files");
            var fafile = "";
            // Clear the previous output
            $(".output").empty();

            // Display file information in the specified format
            for (var i = 0; i < selectedFiles.length; i++) {
                //ifelse for fa-file type
                if (selectedFiles[i].type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                    fafile = "fa-file-word"
                }
                else if (selectedFiles[i].type == "application/pdf") {
                    fafile = "fa-file-pdf"
                }
                else if (selectedFiles[i].type == "image/jpeg") {
                    fafile = "fa-file-image"
                }
                else {
                    fafile = "fa-file"
                }
                // Create div elements and set their classes and content
                var cardDiv = $("<div>").addClass("card mw-18rem");
                var fileDiv = $("<div>").addClass("card-body");
                var fileIcon = $("<i>").addClass("fas " + fafile + " text-light-green fs-1 mb-3");
                var dropdownIcon = $("<i>").addClass("fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary").attr({
                    "data-bs-toggle": "dropdown",
                    "aria-expanded": "false"
                });
                var dropdownMenu = $("<ul>").addClass("dropdown-menu").append(
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("View")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Delete")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Download"))
                );
                var fileName = $("<h6>").addClass("card-title text-secondary").text(selectedFiles[i].name);
                var fileInfoList = $("<ul>").addClass("list-unstyled small mb-0").append(
                    $("<li>").append($("<span>").addClass("text-muted").text("type: " + selectedFiles[i].type)),
                    $("<li>").append($("<span>").addClass("text-muted").text("size: " + (selectedFiles[i].size / 1024).toFixed(2) + "kb")),
                    $("<li>").append($("<span>").addClass("text-muted").text("uploaded: " + new Date().toLocaleDateString()))
                );

                // Append created elements to the fileDiv
                fileDiv.append(fileIcon, dropdownIcon, dropdownMenu, fileName, fileInfoList);

                // Append the fileDiv to the cardDiv
                cardDiv.append(fileDiv);

                // Append the cardDiv to the output div
                $(".output").append(cardDiv);
            }
        });

    });


    $(document).ready(function () {
        $('#approveBtn').click(function () {
            $('#confirmApproveModal').modal("show");
            document.getElementById("decisionID").value = "Approve";
        });

        $("#backApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
        });

        $("#confirmApproveBtn").click(function () {
            $('#confirmSuccessApproveModal').modal("show");
        });

        $('#declineBtn').click(function () {
            $('#confirmDeclineModal').modal("show");
            document.getElementById("decisionID").value = "Decline";
        });

        $('#backDeclineBtn').click(function () {
            $('#confirmDeclineModal').modal("hide");
        });

        $("#confirmDeclineBtn").click(function () {
            $("#confirmDeclineModal").modal('hide');
            $('#confirmSuccessDeclineModal').modal("show");
        });
        $('#enableBtn').click(function () {
            $('#confirmEnableModal').modal("show");
            document.getElementById("decisionID").value = "Enable";
        });

        $("#backEnableBtn").click(function () {
            $("#confirmEnableModal").modal('hide');
        });

        $("#confirmEnableBtn").click(function () {
            $('#confirmSuccessEnableModal').modal("show");
        });

        $('#disableBtn').click(function () {
            $('#confirmDisableModal').modal("show");
            document.getElementById("decisionID").value = "Disable";
        });

        $('#backDisableBtn').click(function () {
            $('#confirmDisableModal').modal("hide");
        });

        $("#confirmDisableBtn").click(function () {
            $("#confirmDisableModal").modal('hide');
            $('#confirmSuccessDisableModal').modal("show");
        });

    });



</script>