@using System.Security.Claims;
@model FMB_CIS.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Change Password";
}

<div id="card-container">
    <div id="card">
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100">
            <div class="col-md-12 p-md-2 text-start">
                <img src="~/assets/images/logo.png" height="100" />
            </div>
            <hr class="hr" />
            <div class="col-md-12 d-flex flex-column align-items-center text-center my-auto pb-5">
                <img src="~/assets/images/key.png" class="mb-2" />
                <h2 class="text-green mb-4">Change Your Password</h2>
                <div style="width: min(300px, 100%);">
                    <p class="fw-bold fs-5 text-md-start mb-1">
                        New password must be:
                    </p>
                    <ul class="text-md-start text-secondary mb-4">
                        <li>At least 8 characters long</li>
                        <li>At least 1 number</li>
                        <li>At least 1 lower case character</li>
                        <li>At least 1 upper case character</li>
                        <li>Minimum of 2 special characters(s)</li>
                    </ul>
                </div>
                <div class="d-flex flex-column mb-5" style="width: min(400px, 100%);">
                    <div id="success-prompt" class="bg-green border rounded py-2 mb-4">
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center justify-content-end pe-0">
                                <img src="~/assets/images/small-check.png" />
                            </div>
                            <div class="col-md-10 d-flex align-items-center justify-content-center ps-0">
                                <p class="text-white text-start m-0">
                                    Your password has been changed successfully.<br />
                                    You will be redirected to the dashboard after 5 seconds.<br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @* <input asp-for="email" /> *@
                        <div id="credentials-input" class="d-flex flex-column align-items-start">
                            <label class="form-label">Old Password</label>
                            <div class="input-group password-toggle mb-md-2">
                                @* @Html.Editor("OldPassword", new { htmlAttributes = new { @class = "form-control", @id = "OldPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } }) *@
                                <input asp-for="OldPassword" class="form-control" id="OldPassword" type="password" tabindex="2" style="border-right:none;" />
                                <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                                    <i data-feather="eye" class="data-feather"></i>
                                </span>
                            </div>
                            <label class="form-label">Confirm Old Password</label>
                            <div class="input-group password-toggle mb-md-2">
                                @* @Html.Editor("ConfirmOldPassword", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmOldPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } }) *@
                                <input asp-for="ConfirmOldPassword" class="form-control" id="ConfirmOldPassword" type="password" tabindex="2" style="border-right:none;" onkeyup="checkOldPasswordMatch()" />
                                <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                                    <i data-feather="eye" class="data-feather"></i>
                                </span>
                            </div>
                            <span id="oldPasswordValidation" class="text-danger"></span>
                            <label class="form-label">New Password</label>
                            <div class="input-group password-toggle mb-md-2">
                                @* @Html.Editor("NewPassword", new { htmlAttributes = new { @class = "form-control", @id = "NewPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } }) *@
                                <input asp-for="NewPassword" class="form-control" id="NewPassword" type="password" tabindex="2" style="border-right:none;" />
                                <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                                    <i data-feather="eye" class="data-feather"></i>
                                </span>
                            </div>
                            <label class="form-label">Confirm Password</label>
                            <div class="input-group password-toggle mb-md-4">
                                @* @Html.Editor("ConfirmNewPassword", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmNewPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } }) *@
                                <input asp-for="ConfirmNewPassword" class="form-control" id="ConfirmNewPassword" type="password" tabindex="2" style="border-right:none;" onkeyup="checkNewPasswordMatch()" />
                                <span class="input-group-text cursor-pointer show-conf-password" title="show/hide password">
                                    <i data-feather="eye" class="data-feather"></i>
                                </span>
                            </div>
                            <span id="newPasswordValidation" class="text-danger"></span>
                            <button type="submit" id="btnSubmit" class="btn btn-primary w-100">Submit</button>
                            <input asp-for="isSuccess" value="@Model.isSuccess" id="isSuccessInput" type="hidden" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();

        $('#success-prompt').hide();

        const oldPasswordInput = document.getElementById('OldPassword');
        const confirmOldPasswordInput = document.getElementById('ConfirmOldPassword');
        const newPasswordInput = document.getElementById('NewPassword');
        const confirmNewPasswordInput = document.getElementById('ConfirmNewPassword');
        const togglePasswordElements = document.getElementsByClassName('show-password');
        const toggleCPasswordElements = document.getElementsByClassName('show-conf-password');

        for (const togglePasswordElement of togglePasswordElements) {
            togglePasswordElement.addEventListener('click', function () {
                if (oldPasswordInput.type === 'password' || confirmOldPasswordInput.type === 'password') {
                    oldPasswordInput.type = 'text';
                    confirmOldPasswordInput.type = 'text';
                } else {
                    oldPasswordInput.type = 'password';
                    confirmOldPasswordInput.type = 'password';
                }
            });
        }

        for (const toggleCPasswordElement of toggleCPasswordElements) {
            toggleCPasswordElement.addEventListener('click', function () {
                if (oldPasswordInput.type === 'password' || confirmOldPasswordInput.type === 'password') {
                    oldPasswordInput.type = 'text';
                    confirmOldPasswordInput.type = 'text';
                } else {
                    oldPasswordInput.type = 'password';
                    confirmOldPasswordInput.type = 'password';
                }
            });
        }

        for (const togglePasswordElement of togglePasswordElements) {
            togglePasswordElement.addEventListener('click', function () {
                if (newPasswordInput.type === 'password' || confirmNewPasswordInput.type === 'password') {
                    newPasswordInput.type = 'text';
                    confirmNewPasswordInput.type = 'text';
                } else {
                    newPasswordInput.type = 'password';
                    confirmNewPasswordInput.type = 'password';
                }
            });
        }

        for (const toggleCPasswordElement of toggleCPasswordElements) {
            toggleCPasswordElement.addEventListener('click', function () {
                if (newPasswordInput.type === 'password' || confirmNewPasswordInput.type === 'password') {
                    newPasswordInput.type = 'text';
                    confirmNewPasswordInput.type = 'text';
                } else {
                    newPasswordInput.type = 'password';
                    confirmNewPasswordInput.type = 'password';
                }
            });
        }

        //var btnSubmit = document.getElementById('btnSubmit');

        //btnSubmit.addEventListener('click',
        var isSuccInpVal = document.getElementById("isSuccessInput").value;
            if (isSuccInpVal == true || isSuccInpVal == 'True' || isSuccInpVal == 'true') {
                $('#success-prompt').show();
                $("#credentials-input").removeClass("d-flex");
                $('#credentials-input').hide();

                setTimeout(function () {
                    window.location.href = '@Url.Action("Index", "Home")';
                }, 5000);
            }
        
    });

    var oldPasswordMatch = false;
    function checkOldPasswordMatch() {
        var oldPasswordInpVal = document.getElementById("OldPassword").value;
        var confirmOldPasswordInpVal = document.getElementById("ConfirmOldPassword").value;
        if (oldPasswordInpVal == confirmOldPasswordInpVal) {
            oldPasswordMatch = true;
            document.getElementById("oldPasswordValidation").innerHTML = "";
        }
        else {
            oldPasswordMatch = false;
            document.getElementById("oldPasswordValidation").innerHTML = "Confirm Old Password doesn't match with Old Password field!";
        }
    }

    var newPasswordMatch = false;
    function checkNewPasswordMatch() {
        var newPasswordInpVal = document.getElementById("NewPassword").value;
        var confirmNewPasswordInpVal = document.getElementById("ConfirmNewPassword").value;
        if (newPasswordInpVal == confirmNewPasswordInpVal) {
            newPasswordMatch = true;
            document.getElementById("newPasswordValidation").innerHTML = "";
        }
        else {
            newPasswordMatch = false;
            document.getElementById("newPasswordValidation").innerHTML = "Confirm New Password doesn't match with New Password field";
        }
    }

</script>