@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Account Management";
    var baseurl = ViewBag.BaseUrl;
}

<div id="card-container">
    <div id="card">
        <div class="row m-0">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    Your account is not yet approved by the CENRO Officer. 
                    For the meantime, you will be allowed to edit your information if you wish to. 
                    If your account has been declined, you may read the comments left by the officer. Thank you!
                </div>
                <form asp-action="EditAccount" id="EditAcctForm" role="form" class="w-75 mx-auto" enctype="multipart/form-data">
                    <input asp-for="uid" type="hidden" />
                    <a href="@Url.Action("Index", "AccountManagement")" class="me-auto" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="form-group mb-2">
                                <label class="form-label small">User Type</label>
                                <select asp-for="tbl_User.tbl_user_types_id" class="form-select" aria-label="User Type">
                                    <option selected disabled>- Select User Type -</option>
                                    <option value="1">Chainsaw Importer Only</option>
                                    <option value="2">Chainsaw Seller Only</option>
                                    <option value="3">Chainsaw Owner Only</option>
                                    <option value="4">Chainsaw Importer and Seller</option>
                                    <option value="5">Chainsaw Importer and Owner</option>
                                    <option value="6">Chainsaw Seller and Owner</option>
                                    <option value="7">Chainsaw Importer, Owner, and Seller</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label small">First Name</label>
                                                <input asp-for="tbl_User.first_name" class="form-control" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label small">Middle Name</label>
                                                <input asp-for="tbl_User.middle_name" class="form-control" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label small">Last Name</label>
                                                <input asp-for="tbl_User.last_name" class="form-control" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label small">Suffix</label>
                                                <input asp-for="tbl_User.suffix" class="form-control" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="form-label small">Email</label>
                                <input asp-for="tbl_User.email" class="form-control" placeholder="name@address.com" readonly />
                                @* <span class="fw-bold">
                                    @Html.DisplayFor(model => model.tbl_User.email)
                                </span> *@
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        @* <div class="col-md-3">
                        <div class="form-group">
                        <label asp-for="password" class="form-label small">Password</label>
                        <input asp-for="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="form-group">
                        <label asp-for="confirmPassword" class="form-label small">Confirm Password</label>
                        <input asp-for="confirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>
                        </div> *@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label small">Contact Number (11 Digits)</label>
                                <input asp-for="tbl_User.contact_no" class="form-control" placeholder="09XX XXX XXXX" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label small">Valid ID</label>
                                <input asp-for="tbl_User.valid_id" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label small">Valid ID Number</label>
                                <input asp-for="tbl_User.valid_id_no" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label small">Street Address</label>
                                <input asp-for="tbl_User.street_address" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_User.tbl_region_id" class="control-label small">Region</label>
                            <select asp-for="tbl_User.tbl_region_id" class="form-control"
                                    asp-items="ViewBag.RegionData"
                                    id="RegionId" onchange="loadProvince(this)"></select>
                            <span asp-validation-for="tbl_User.tbl_region_id" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_User.tbl_province_id" class="control-label small">Province</label>
                            <select asp-for="tbl_User.tbl_province_id" class="form-control" asp-items="ViewBag.ProvinceData" id="ddlProvinceId" onchange="loadCity(this)"></select>
                            <span asp-validation-for="tbl_User.tbl_province_id" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_User.tbl_city_id" class="control-label small">City/Municipality</label>
                            <select asp-for="tbl_User.tbl_city_id" class="form-control" asp-items="ViewBag.CityData" id="ddlCityId" onchange="loadBrgy(this)"></select>
                            <span asp-validation-for="tbl_User.tbl_city_id" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_User.tbl_brgy_id" class="control-label small">Barangay</label>
                            <select asp-for="tbl_User.tbl_brgy_id" class="form-control" asp-items="ViewBag.BrgyData" id="ddlBrgyId"></select>
                            <span asp-validation-for="tbl_User.tbl_brgy_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <table class="w-100 striped-table">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">
                                            Name of form
                                        </th>
                                        <th class="text-nowrap text-center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (tbl_files file in Model.tbl_Files)
                                    {
                                        <tr>
                                            <td class="text-nowrap">
                                                @file.filename
                                            </td>
                                            <td class="text-nowrap">
                                                <div class="d-flex justify-content-center gap-3">
                                                    @* @Html.ActionLink("Download", "DownloadFile", new { filename = file.filename }) *@
                                                    <a href="@Url.Action("DownloadFile", new { filename = file.filename, path = file.path })" class="bg-green text-white px-1 pb-1 rounded" title="view">
                                                        <i data-feather="eye" class="data-feather-20"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @* <div class="form-group">
                                <label class="form-label small">Attach Forms</label>
                                <input type="text" class="form-control" />
                                <span class="text-danger"></span>
                            </div> *@
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label small">Attach Additional Forms</label>
                                <input type="file" asp-for="filesUpload.Files" class="form-control" multiple />
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center px-0 mb-5">
                        <div class="col-md-11 d-flex flex-column gap-2">
                            <span>
                                Comments from Officers
                            </span>
                            @* @Html.DisplayFor(model => model.acctApprovalViewModels.birth_date) *@
                            <textarea asp-for="tbl_User.comment" class="form-control" readonly></textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">

    const form = document.getElementById('EditAcctForm');
    const showModalButton = document.getElementById('btnSave');
    const confirmationModal = document.getElementById('confirmSaveModal');
    const confirmButton = document.getElementById('confirmSaveBtn');

    $(document).ready(function () {
        $("#btnSave").click(function () {
            $("#confirmSaveModal").modal("show");
        });

        $("#backSaveBtn").click(function () {
            $("#confirmSaveModal").modal("hide");
        });

        $("#confirmSaveBtn").click(function () {
            $("#confirmSaveModal").modal("hide");
            form.submit();
            $("#confirmSaveSuccessModal").modal("show");
        });
    });

    

    // Function to display the modal
    function showModal() {
        confirmationModal.style.display = 'block';
    }

    // Function to hide the modal
    function hideModal() {
        confirmationModal.style.display = 'none';
    }

    // Event listener for the "Submit" button
    showModalButton.addEventListener('click', showModal);

    // Event listener for the "Confirm" button
    confirmButton.addEventListener('click', function () {
        // Submit the form when the "Confirm" button is clicked
        form.submit();
    });

    // Close the modal when the user clicks outside of it
    window.addEventListener('click', function (event) {
        if (event.target === confirmationModal) {
            hideModal();
        }
    });

    //Location Dropdowns
    $(document).ready(function () {
        var a = 0;
    });

    function loadProvince(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "AccountManagement/GetProvinceByRegionId", { tbl_region_id: value }, function (data) {
            debugger;
            PopulateProvinceDropDown("#ddlProvinceId", data);
        });
    }

    function PopulateProvinceDropDown(dropDownId, list, selectedId) {
        $(dropDownId).empty();
        $(dropDownId).append("<option>--Please Select a Province--</option>")
        $.each(list, function (index, row) {
            $(dropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    //loadCity
    $(document).ready(function () {
        var a = 0;
    });

    function loadCity(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "AccountManagement/GetCityByProvinceId", { tbl_province_id: value }, function (data) {
            debugger;
            PopulateCityDropDown("#ddlCityId", data);
        });
    }

    function PopulateCityDropDown(ctDropDownId, list, selectedId) {
        $(ctDropDownId).empty();
        $(ctDropDownId).append("<option>--Please Select a City--</option>")
        $.each(list, function (index, row) {
            $(ctDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    //loadBrgy
    $(document).ready(function () {
        var a = 0;
    });

    function loadBrgy(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "AccountManagement/GetBrgyByCityId", { tbl_city_id: value }, function (data) {
            debugger;
            PopulateBrgyDropDown("#ddlBrgyId", data);
        });
    }

    function PopulateBrgyDropDown(brgyDropDownId, list, selectedId) {
        $(brgyDropDownId).empty();
        $(brgyDropDownId).append("<option>--Please Select a Barangay--</option>")
        $.each(list, function (index, row) {
            $(brgyDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

</script>