@using System.Security.Claims;
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Dashboard";
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<link rel="stylesheet" href="~/js/DataTable/dataTables.min.css">
<script src="~/js/jquery/jquery-3.7.1/jquery-3.7.1.js"></script>
<script src="~/js/DataTable/dataTables.min.js"></script>

<div id="card-container">
    
    <!-- User History -->
    <div id="card">
        @Html.Partial("~/Views/Dashboard/UserHistory.cshtml")
    </div>

    <!-- Owned Chainsaws -->
    @if (ViewBag.UserType.Contains("Owner") == true)
    {
        
        <div id="card">
            @Html.Partial("~/Views/Owner/OwnedChainsaws.cshtml")
        </div>
    }
    @if (ViewBag.UserType.Contains("Seller") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Seller/Index.cshtml")
        </div>
    }
    @if (ViewBag.UserType.Contains("Importer") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Importer/ImportedChainsaws.cshtml")
        </div>
    }
    <!-- User Services -->
    @if (ViewBag.UserType.Contains("Owner") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Owner/OwnerServices.cshtml")
        </div>
    }
    @if (ViewBag.UserType.Contains("Seller") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Seller/SellerServices.cshtml")
        </div>
    }
    @if (ViewBag.UserType.Contains("Importer") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Importer/ImporterServices.cshtml")
        </div>
    }
    

    
</div>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        

        js('#ChainsawRecordTable').DataTable({
            pageLength: 3,
        });
    });
</script>


}

