@model System.Data.DataTable

@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div id="card-container">
    <div id="card">
        
        <h1>REGISTERED CHAINSAW</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Brand
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Engine
                    </th>
                    <th>
                        Power
                    </th>
                    <th>
                        Watt
                    </th>
                    <th>
                        HP
                    </th>
                    <th>
                        GB
                    </th>
                    <th>
                        Supplier
                    </th>
                    <th>
                        Purchase Price
                    </th>
                    <th>
                        Sell Price
                    </th>
                    <th>
                        Date Purchased
                    </th>
                    <th>
                        Remarks
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.Rows[i]["brand"]
                        </td>
                        <td>
                            @Model.Rows[i]["model"]
                        </td>
                        <td>
                            @Model.Rows[i]["engine"]
                        </td>
                        <td>
                            @Model.Rows[i]["power"]
                        </td>
                        <td>
                            @Model.Rows[i]["watt"]
                        </td>
                        <td>
                            @Model.Rows[i]["hp"]
                        </td>
                        <td>
                            @Model.Rows[i]["gb"]
                        </td>
                        <td>
                            @Model.Rows[i]["supplier"]
                        </td>
                        <td>
                            @Model.Rows[i]["purchase_price"]
                        </td>
                        <td>
                            @Model.Rows[i]["sell_price"]
                        </td>
                        <td>
                            @Model.Rows[i]["date_purchase"]
                        </td>
                        <td>
                            @Model.Rows[i]["remarks"]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>