@using System.Security.Claims;
@using Services.Utilities;
@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Dashboard";
    ViewBag.AccessRights = ((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value;
    ViewBag.UserType = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<div>
    <div>
        <div>
            <div>
                <h3 class="c-dashboard-item-title-main">Charts </h3>
            </div>

            <span>
                <p>
                    <div class="row">
                        <div class="col-2 form-group mb-3">
                            <label class="fw-bolder p-2" for="ChartType">
                                <span><strong>Chart-Type<span style="color:red">*</span></strong></span>
                            </label>
                            @Html.DropDownList("ChartType", new List<SelectListItem>
                            {
                            new SelectListItem { Text = "Bar", Value = "bar", Selected=true},
                            new SelectListItem { Text = "Line", Value = "line"},
                            new SelectListItem { Text = "Pie", Value = "pie"},
                            new SelectListItem { Text = "Doughnut", Value = "doughnut"},
                            }, new { @class = "form-select" })
                        </div>

                        @* <div class="col-2">
                        <select id="ChartType" class="form-select" style="width:150px">
                        <option>bar</option>
                        <option>line</option>
                        <option>pie</option>
                        <option>doughnut</option>
                        </select>
                        </div> *@

                        <div class="col-2 form-group mb-3">
                            <label class="fw-bolder p-2" for="DateType">
                                <span><strong>Date Type<span style="color:red">*</span></strong></span>
                            </label>
                            @Html.DropDownList("DateType", new List<SelectListItem>
                            {
                            new SelectListItem { Text = "Per Day", Value = "day"},
                            new SelectListItem { Text = "Per Month", Value = "month"},
                            new SelectListItem { Text = "Per Year", Value = "year"},
                            }, new { @class = "form-select" })
                        </div>

                    </div>
                    <div class="col-4">
                        <input id="showGraph" value="Show Graph" type="button" />
                    </div>
                </p>

                <form id="ChartDatesFilterForm">
                    <div class="row" id="dateFilters" style="display: none;">
                        <div class="col-3">
                            <label for="startDate">Start Date</label>
                            <input type="date" id="startDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required />
                        </div>
                        <div class="col-3">
                            <label for="endDate">End Date</label>
                            <input type="date" id="endDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required />
                        </div>
                        <div class="col-3 justify-content-center align-self-center">
                            <button type="button" class="btn btn-primary" id="FilterChartDateBtn">Filter Dates</button>
                            <button type="button" class="btn btn-primary" id="ResetChartDateBtn">Reset Dates</button>
                        </div>
                    </div>
                </form>
                <form id="ChartOfficeFilterForm">
                    <div class="row" id="DivisionFilters" style="display: none;">
                        <div class="col-5">
                            <label class="fw-bolder p-2" for="OfficeDivisionList">
                                Choose DENR Office
                            </label>
                            @Html.DropDownList("OfficeDivision",
                            new SelectList(Model.tbl_Division_List, "id", "office_name"),
                            "-- Select Office --", // Placeholder text
                            htmlAttributes: new
                            { @class = "form-select", @required = "required"})
                        </div>

                        <div class="col-4 justify-content-center align-self-center">
                            @* <button type="button" class="btn btn-primary" id="FilterChartOfficeBtn">Filter Office</button> *@
                            <button type="button" class="btn btn-primary" id="ResetChartOfficeBtn">Reset Office</button>
                        </div>
                    </div>
                </form>

                <div id="ChartView">
                    <canvas id="myChart"></canvas>
                </div>

            </span>

        </div>
    </div>
</div>

<div class="c-dashboard-container">
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_users"))
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/account-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row">
                    <h3 class="c-dashboard-item-title-main">Users </h3>
                </div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Active</h3><span class="c-dashboard-item-count">@Model.dashboardView.UserActiveCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Change Requests</h3><span class="c-dashboard-item-count">@Model.dashboardView.UserChangeRequestCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Users active number and how to use the system properly.</p></div>
            </div>
        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_office_management"))
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/creation-of-new-denr-office.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Office</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Office types</h3><span class="c-dashboard-item-count">@Model.dashboardView.OfficeTypesCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Offices</h3><span class="c-dashboard-item-count">@Model.dashboardView.OfficesCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Used to represent different types of office functions.</p></div>
            </div>

        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_access_rights_management"))
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/account-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Access</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">User Types</h3><span class="c-dashboard-item-count">@Model.dashboardView.UserTypesCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Access Rights</h3><span class="c-dashboard-item-count">@Model.dashboardView.AccessRightsCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Assign user types and access rights to users.</p></div>
            </div>

        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_workflow_management"))
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/account-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Workflows</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Total</h3><span class="c-dashboard-item-count">@Model.dashboardView.WorkflowsCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Workflow settings of different permit types.</p></div>
            </div>

        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_announcement_management") || AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_email_management"))
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/announcement-templates.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Notes</h3></div>
                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_announcement_management"))
                {
                    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Announcements</h3><span class="c-dashboard-item-count">@Model.dashboardView.AnnouncementsCount</span></a>
                }
                @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_email_management"))
                {
                    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Emails</h3><span class="c-dashboard-item-count">@Model.dashboardView.EmailsCount</span></a>
                }
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Sitewide notifications and email templates.</p></div>
            </div>

        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_checklist_management"))
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Checklist</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Total</h3><span class="c-dashboard-item-count">@Model.dashboardView.ChecklistsCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Checklist for required documents.</p></div>
            </div>

        </div>
    }


    @*
    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_own_applications"))// || usrRoleList.Contains("Chainsaw Importer")
    {
    <div class="c-dashboard-item">
    <div class="c-dashboard-item-icon">
    <img src="~/assets/images/menu-icons/checklist-management.png" /></div>
    <div class="c-dashboard-item-row-container">
    <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Renewal</h3></div>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">100</span></a>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">100</span></a>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">100</span></a>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Total</h3><span class="c-dashboard-item-count">300</span></a>
    <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Checklist for required documents.</p></div>
    </div>

    </div>
    } *@

    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_import_applications"))// || usrRoleList.Contains("Chainsaw Importer")
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Importer</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">@Model.dashboardView.ImporterPendingCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">@Model.dashboardView.ImporterApprovedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">@Model.dashboardView.ImporterDeclinedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Submitted Applications</h3><span class="c-dashboard-item-count">@Model.dashboardView.ImporterTotalCount</span></a>
                <a class="c-dashboard-item-row" onclick="ImporterChecklistModal()"><p class="c-dashboard-item-info">Checklist for required documents.</p></a>
            </div>

        </div>
    }

    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_sell_applications"))// || usrRoleList.Contains("Chainsaw Importer")
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Seller</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">@Model.dashboardView.SellerPendingCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">@Model.dashboardView.SellerApprovedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">@Model.dashboardView.SellerDeclinedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Submitted Applications</h3><span class="c-dashboard-item-count">@Model.dashboardView.SellerTotalCount</span></a>
                <a class="c-dashboard-item-row" onclick="SellerChecklistModal()"><p class="c-dashboard-item-info">Checklist for required documents.</p></a>
            </div>

        </div>
    }


    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_create_own_applications"))// || usrRoleList.Contains("Chainsaw Importer")
    {
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Owner</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">@Model.dashboardView.OwnerPendingCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">@Model.dashboardView.OwnerApprovedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">@Model.dashboardView.OwnerDeclinedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Submitted Applications</h3><span class="c-dashboard-item-count">@Model.dashboardView.OwnerTotalCount</span></a>
                <a class="c-dashboard-item-row" onclick="OwnerChecklistModal()"><p class="c-dashboard-item-info">Checklist for required documents.</p></a>
            </div>

        </div>
    }



    @if (AccessRightsUtilities.IsAccessRights(ViewBag.AccessRights, "allow_page_manage_approve_reject_applications"))
    {
        <!--DENR PERMIT APPROVER VIEW-->
        <!--IMPORTER COUNT (Filtered per region)-->
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Importer</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewImporterPendingCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewImporterApprovedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewImporterDeclinedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Submitted Applications</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewImporterTotalCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Checklist for required documents.</p></div>
            </div>

        </div>
        <!--SELLER COUNT (Filtered per region)-->
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Seller</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewSellerPendingCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewSellerApprovedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewSellerDeclinedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Submitted Applications</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewSellerTotalCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Checklist for required documents.</p></div>
            </div>

        </div>

        <!--OWNER COUNT (Filtered per region)-->
        <div class="c-dashboard-item">
            <div class="c-dashboard-item-icon">
                <img src="~/assets/images/menu-icons/checklist-management.png" />
            </div>
            <div class="c-dashboard-item-row-container">
                <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Owner</h3></div>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewOwnerPendingCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewOwnerApprovedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewOwnerDeclinedCount</span></a>
                <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Submitted Applications</h3><span class="c-dashboard-item-count">@Model.dashboardView.officerViewOwnerTotalCount</span></a>
                <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Checklist for required documents.</p></div>
            </div>

        </div>
    }

    @*
    <div class="c-dashboard-item">
    <div class="c-dashboard-item-icon">
    <img src="~/assets/images/menu-icons/checklist-management.png" /></div>
    <div class="c-dashboard-item-row-container">
    <div class="c-dashboard-item-row"><h3 class="c-dashboard-item-title-main">Renewal</h3></div>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Pending</h3><span class="c-dashboard-item-count">100</span></a>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Approved</h3><span class="c-dashboard-item-count">100</span></a>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Declined</h3><span class="c-dashboard-item-count">100</span></a>
    <a class="c-dashboard-item-row"><h3 class="c-dashboard-item-title">Total</h3><span class="c-dashboard-item-count">300</span></a>
    <div class="c-dashboard-item-row"><p class="c-dashboard-item-info">Checklist for required documents.</p></div>
    </div>

    </div> *@
</div>



@*Cards region*@
<div id="card-container" class="border-0 bg-none">
    <div class="row m-0" style="display: none;">
        @* IMPORTER COLUMN *@
        @if (ViewBag.UserType.Contains("Importer") == true)
        {
            <div class="col-md-3">
                <div class="bg-green rounded px-4 py-2">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <h4 class="text-light-green">
                                IMPORTER
                            </h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <img src="~/assets/images/dashboard-icons/dashboard-icon-importer.png" height="65" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4 pe-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    5
                                </span>
                                <span class="text-white fw-light">
                                    Pending
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    4
                                </span>
                                <span class="text-white fw-light">
                                    Approved
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    3
                                </span>
                                <span class="text-white fw-light">
                                    Declined
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between mb-2">
                        <div class="col-md-6">
                            <h4 class="text-white fw-light">
                                Submitted Application
                            </h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <h1 class="text-white">
                                12
                            </h1>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 d-flex justify-content-end">
                            <span class="text-light-green cursor-pointer">
                                View more
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
        @* SELLER COLUMN *@
        @if (ViewBag.UserType.Contains("Seller") == true)
        {
            <div class="col-md-3">
                <div class="bg-green rounded px-4 py-2">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <h4 class="text-light-green">
                                SELLER
                            </h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <img src="~/assets/images/dashboard-icons/dashboard-icon-seller.png" height="65" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4 pe-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    11
                                </span>
                                <span class="text-white fw-light">
                                    Pending
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    9
                                </span>
                                <span class="text-white fw-light">
                                    Approved
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    2
                                </span>
                                <span class="text-white fw-light">
                                    Declined
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between mb-2">
                        <div class="col-md-6">
                            <h4 class="text-white fw-light">
                                Submitted Application
                            </h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <h1 class="text-white">
                                22
                            </h1>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 d-flex justify-content-end">
                            <span class="text-light-green cursor-pointer">
                                View more
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
        @* OWNER COLUMN *@
        @if (ViewBag.UserType.Contains("Owner") == true)
        {
            <div class="col-md-3">
                <div class="bg-green rounded px-4 py-2">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <h4 class="text-light-green">
                                OWNER
                            </h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <img src="~/assets/images/dashboard-icons/dashboard-icon-owner.png" height="65" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4 pe-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    15
                                </span>
                                <span class="text-white fw-light">
                                    Pending
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    18
                                </span>
                                <span class="text-white fw-light">
                                    Approved
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="d-flex flex-column gap-1">
                                <span class="text-white fw-bold fs-3">
                                    4
                                </span>
                                <span class="text-white fw-light">
                                    Declined
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between mb-2">
                        <div class="col-md-6">
                            <h4 class="text-white fw-light">
                                Submitted Application
                            </h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <h1 class="text-white">
                                37
                            </h1>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 d-flex justify-content-end">
                            <span class="text-light-green cursor-pointer">
                                View more
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
        @* RENEWAL COLUMN *@
        <div class="col-md-3">
            <div class="bg-green rounded px-4 py-2">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h4 class="text-light-green">
                            RENEWAL
                        </h4>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <img src="~/assets/images/dashboard-icons/dashboard-icon-renewal.png" height="65" />
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 pe-0">
                        <div class="d-flex flex-column gap-1">
                            <span class="text-white fw-bold fs-3">
                                6
                            </span>
                            <span class="text-white fw-light">
                                Pending
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-0">
                        <div class="d-flex flex-column gap-1">
                            <span class="text-white fw-bold fs-3">
                                9
                            </span>
                            <span class="text-white fw-light">
                                Approved
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-0">
                        <div class="d-flex flex-column gap-1">
                            <span class="text-white fw-bold fs-3">
                                3
                            </span>
                            <span class="text-white fw-light">
                                Declined
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-2">
                    <div class="col-md-6">
                        <h4 class="text-white fw-light">
                            Submitted Application
                        </h4>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <h1 class="text-white">
                            18
                        </h1>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12 d-flex justify-content-end">
                        <span class="text-light-green cursor-pointer">
                            View more
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Cards region end*@
    @*
    @if (ViewBag.UserType.Contains("CENRO") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Cenro/CenroApplicationList.cshtml")
        </div>
    }
    *@


    <!-- User History -->
    @* @if (ViewBag.UserType.Contains("Owner") == true || ViewBag.UserType.Contains("Seller") == true || ViewBag.UserType.Contains("Importer") == true) *@
    @if (AccessRightsUtilities.IsAccessRights(((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value, "allow_table_history"))
    {
        <div id="card">
            @Html.Partial("~/Views/Dashboard/UserHistory.cshtml")
        </div>
    }

    <!-- Owned Chainsaws -->
    @* if (ViewBag.UserType.Contains("Owner") == true) *@
    @if (AccessRightsUtilities.IsAccessRights(((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value, "allow_table_owned_chainsaws"))
    {
        <div id="card">
            @Html.Partial("~/Views/Owner/OwnedChainsaws.cshtml")
        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value, "allow_table_chainsaws_for_sale"))
    {
        <div id="card">
            @Html.Partial("~/Views/Seller/Index.cshtml")
        </div>
    }
    @if (AccessRightsUtilities.IsAccessRights(((ClaimsIdentity)User.Identity).FindFirst("accessRights").Value, "allow_table_imported_chainsaws"))
    {
        <div id="card">
            @Html.Partial("~/Views/Importer/ImportedChainsaws.cshtml")
        </div>
    }
    <!-- User Services -->
    @* @if (ViewBag.UserType.Contains("Owner") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Owner/OwnerServices.cshtml")
        </div>
    }
    @if (ViewBag.UserType.Contains("Seller") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Seller/SellerServices.cshtml")
        </div>
    }
    @if (ViewBag.UserType.Contains("Importer") == true)
    {
        <div id="card">
            @Html.Partial("~/Views/Importer/ImporterServices.cshtml")
        </div>
    } *@
</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script type="text/javascript">
    /* var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#ChainsawRecordTable').DataTable({
            pageLength: 3,
        });
    });
    */
    function ImporterChecklistModal() {
        $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=1", function (data) {
            console.log(data);
            var listHTMLStart = "<li class=\"list-group-item text-secondary border-0 d-flex align-items-center p-0\">";
            var listHTMLEnd = "</li>"
            var innerHTML = "";
            for (let i = 0; i < data.length; i++) {
                innerHTML += listHTMLStart + (i + 1) + ". " + data[i] + listHTMLEnd;
            }
            Swal.fire({
                html: `
                               <div class="m-2">

                                <p class="mb-0"><span class="h2 me-2">Permit to Import</span></p>
                                <p class="text-muted pb-2">Requirements</p>

                                <ul class="list-group">
                                  ${innerHTML}

                                </ul>

                              </div>
                                    `,
                confirmButtonText: "OK",
                confirmButtonColor: '#14984a'
            });
        });
    }

    function SellerChecklistModal() {
        var listHTMLStart = "<li class=\"list-group-item text-secondary border-0 d-flex align-items-center p-0\">";
        var listHTMLEnd = "</li>";

        // Array to store promises
        var promises = [
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=2"),
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=3")
        ];

        Promise.all(promises)
            .then(function (results) {
                var purchaseData = results[0];
                var sellData = results[1];

                var innerHTMLPurchase = "";
                var innerHTMLSell = "";

                for (let i = 0; i < purchaseData.length; i++) {
                    innerHTMLPurchase += listHTMLStart + (i + 1) + ". " + purchaseData[i] + listHTMLEnd;
                }

                for (let i = 0; i < sellData.length; i++) {
                    innerHTMLSell += listHTMLStart + (i + 1) + ". " + sellData[i] + listHTMLEnd;
                }

                Swal.fire({
                    html: `
                                                <div class="m-2">
                                                    <p class="mb-0"><span class="h2 me-2">Permit to Sell</span></p>
                                                    <p class="text-muted">Requirements</p>
                                                    <ul class="list-group">
                                                        ${innerHTMLSell}
                                                    </ul>
                                                </div>
                                                    <hr/>
                                                <div class="m-2 pt-2">
                                                    <p class="mb-0"><span class="h2 me-2">Permit to Purchase</span></p>
                                                    <p class="text-muted">Requirements</p>
                                                    <ul class="list-group">
                                                        ${innerHTMLPurchase}
                                                    </ul>
                                                </div>
                                        `,
                    confirmButtonText: "OK",
                    confirmButtonColor: '#14984a',
                    width: '700px'
                });
            })
            .catch(function (error) {
                // Handle errors
                console.error("Error fetching data:", error);
            });
    }

    function OwnerChecklistModal() {
        var listHTMLStart = "<li class=\"list-group-item text-secondary border-0 d-flex align-items-center p-0\">";
        var listHTMLEnd = "</li>";

        // Array to store promises
        var promises = [
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=5"),
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=6"),
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=7"),
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=13"),
            $.get("/ChecklistManagement/GetRequirementsList?tbl_permit_type_id=14")
        ];

        Promise.all(promises)
            .then(function (results) {
                var leaseData = results[0];
                var rentData = results[1];
                var lendData = results[2];
                var CoRData = results[3];
                var resellData = results[4];

                var innerHTMLLease = "";
                var innerHTMLRent = "";
                var innerHTMLLend = "";
                var innerHTMLCoR = "";
                var innerHTMLResell = "";

                for (let i = 0; i < leaseData.length; i++) {
                    innerHTMLLease += listHTMLStart + (i + 1) + ". " + leaseData[i] + listHTMLEnd;
                }

                for (let i = 0; i < rentData.length; i++) {
                    innerHTMLRent += listHTMLStart + (i + 1) + ". " + rentData[i] + listHTMLEnd;
                }

                for (let i = 0; i < lendData.length; i++) {
                    innerHTMLLend += listHTMLStart + (i + 1) + ". " + lendData[i] + listHTMLEnd;
                }

                for (let i = 0; i < CoRData.length; i++) {
                    innerHTMLCoR += listHTMLStart + (i + 1) + ". " + CoRData[i] + listHTMLEnd;
                }

                for (let i = 0; i < resellData.length; i++) {
                    innerHTMLResell += listHTMLStart + (i + 1) + ". " + resellData[i] + listHTMLEnd;
                }

                Swal.fire({
                    html: `
                            <div>

                                <div class="m-2 pt-2">
                                    <p class="mb-0"><span class="h2 me-2">Authority to Lease</span></p>
                                    <p class="text-muted">Requirements</p>
                                    <ul class="list-group">
                                        ${innerHTMLLease}
                                    </ul>
                                </div>
                                    <hr/>
                                <div class="m-2 pt-2">
                                    <p class="mb-0"><span class="h2 me-2">Authority to Rent</span></p>
                                    <p class="text-muted">Requirements</p>
                                    <ul class="list-group">
                                        ${innerHTMLRent}
                                    </ul>
                                </div>

                                    <hr/>
                                <div class="m-2 pt-2">
                                    <p class="mb-0"><span class="h2 me-2">Authority to Lend</span></p>
                                    <p class="text-muted">Requirements</p>
                                    <ul class="list-group">
                                        ${innerHTMLLend}
                                    </ul>
                                </div>
                                    <hr/>
                                <div class="m-2 pt-2">
                                    <p class="mb-0"><span class="h2 me-2">Permit to Re-sell/Transfer Ownership</span></p>
                                    <p class="text-muted">Requirements</p>
                                    <ul class="list-group">
                                        ${innerHTMLResell}
                                    </ul>
                                </div>

                                <hr/>
                                <div class="m-2 pt-4">
                                    <p class="mb-0"><span class="h2 me-2">Certificate of Registration</span></p>
                                    <p class="text-muted">Requirements</p>
                                    <ul class="list-group">
                                        ${innerHTMLCoR}
                                    </ul>
                                </div>

                            </div>


                                                    `,
                    confirmButtonText: "OK",
                    confirmButtonColor: '#14984a',
                    width: '700px'
                });
            })
            .catch(function (error) {
                // Handle errors
                console.error("Error fetching data:", error);
            });
    }


    $(function () {

        $("#showGraph").click(function () {

            var typeofChart = $("#ChartType").val();
            var chartView = document.getElementById('ChartView');
            var dateTypeSelectValue = $("#DateType").val();
            $('#dateFilters').show();
            $('#DivisionFilters').show();
            chartView.innerHTML = ''
            $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px"></canvas>')

            DisplayGraphs(typeofChart, dateTypeSelectValue, null, null, null);

        });


        $("#FilterChartDateBtn").click(function () {
            if ($("#ChartDatesFilterForm")[0].checkValidity()) {
                var typeofChart = $("#ChartType").val();
                var chartView = document.getElementById('ChartView');
                var dateTypeSelectValue = $("#DateType").val();
                //var officeDivisionValue = $("#OfficeDivision").val();
                $('#dateFilters').show();
                $('#DivisionFilters').show();
                chartView.innerHTML = ''
                $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px"></canvas>')

                startDate = $("#startDate").val();
                endDate = $("#endDate").val();
                DisplayGraphs(typeofChart, dateTypeSelectValue, startDate, endDate, null);
            }
            else {
                $("#ChartDatesFilterForm")[0].reportValidity();
            }
        });

        $("#ResetChartDateBtn").click(function () {
            var typeofChart = $("#ChartType").val();
            var chartView = document.getElementById('ChartView');
            var dateTypeSelectValue = $("#DateType").val();
            $('#dateFilters').show();
            chartView.innerHTML = ''
            $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px"></canvas>')

            $("#startDate").val('');
            $("#endDate").val('');

            DisplayGraphs(typeofChart, dateTypeSelectValue, null, null, null);
        });

        /*
        $("#FilterChartOfficeBtn").click(function () {
            if ($("#ChartOfficeFilterForm")[0].checkValidity()) {
                var typeofChart = $("#ChartType").val();
                var chartView = document.getElementById('ChartView');
                var dateTypeSelectValue = $("#DateType").val();
                var officeDivisionValue = $("#OfficeDivision").val();
                $('#dateFilters').show();
                $('#DivisionFilters').show();
                chartView.innerHTML = ''
                $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px"></canvas>')

                startDate = $("#startDate").val();
                endDate = $("#endDate").val();
                DisplayGraphs(typeofChart, dateTypeSelectValue, startDate, endDate, officeDivisionValue);
            }
            else {
                $("#ChartOfficeFilterForm")[0].reportValidity();
            }
        });*/

        $("#OfficeDivision").change(function () {
            var typeofChart = $("#ChartType").val();
            var chartView = document.getElementById('ChartView');
            var dateTypeSelectValue = $("#DateType").val();
            var officeDivisionValue = $("#OfficeDivision").val();
            $('#dateFilters').show();
            $('#DivisionFilters').show();
            chartView.innerHTML = ''
            $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px"></canvas>')

            startDate = $("#startDate").val();
            endDate = $("#endDate").val();
            DisplayGraphs(typeofChart, dateTypeSelectValue, startDate, endDate, officeDivisionValue);

        });

        $("#ResetChartOfficeBtn").click(function () {
            var typeofChart = $("#ChartType").val();
            var chartView = document.getElementById('ChartView');
            var dateTypeSelectValue = $("#DateType").val();
            $('#dateFilters').show();
            chartView.innerHTML = ''
            $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px"></canvas>')

            $("#OfficeDivision").val('');

            startDate = $("#startDate").val();
            endDate = $("#endDate").val();

            DisplayGraphs(typeofChart, dateTypeSelectValue, startDate, endDate, null);
        });

        function DisplayGraphs(chartType, dateTypeValue, dateStart, dateEnd, officeDivisionID) {
            $.ajax({
                type: "POST",
                url: "/Dashboard/GetChartsData",
                data: {
                    DateType: dateTypeValue,
                    startDate: dateStart,
                    endDate: dateEnd,
                    divisionID: officeDivisionID
                },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });


            function OnSuccessResult(data) {
                var _data = data;
                //var _chartLabels = _data[0];
                var newData = data[0];
                var renewData = data[1];
                var expiredData = data[2];

                var UpperCaseDateType = dateTypeValue.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                    return letter.toUpperCase();
                });
                var myChart = new Chart("myChart", {
                    type: chartType,
                    data: {
                        //labels: _chartLabels,
                        datasets: [{
                            label: 'New Registered',
                            backgroundColor: "green",
                            data: newData,
                            stack: 'Stack 0',
                        }, {
                            label: 'Renewed',
                            backgroundColor: "yellow",
                            data: renewData,
                            stack: 'Stack 0',
                        }, {
                            label: 'Expired',
                            backgroundColor: "red",
                            data: expiredData,
                            stack: 'Stack 0' // For multiple stacking
                        }],
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Total Chainsaws Registered per ' + UpperCaseDateType
                            },
                        },
                        interaction: {
                            intersect: false,
                        },
                        scales: {
                            x: {
                                stacked: true,
                                type: 'time',
                                time: {
                                    unit: dateTypeValue
                                }
                            },
                            y: {
                                stacked: true
                            }
                        },
                        responsive: true
                    }
                });
            }

            function OnError(data) {

            }
        }
    });


</script>