@model FMB_CIS.Models.ViewModel

<link rel="stylesheet" href="~/js/DataTable/dataTables.min.css">
<script src="~/js/jquery/jquery-3.7.1/jquery-3.7.1.js"></script>
<script src="~/js/DataTable/dataTables.min.js"></script>

<div id="card">
    <h1>
        History
    </h1>
    <p>
        <table class="table dataTable" id="tblUserHistory">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Application Type
                    </th>
                    <th>
                        Permit Type
                    </th>
                    <th>
                        Permit Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicationModel item in Model.applicationModels)
                {
                    <tr>
                        <td class="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td class="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.application_type)
                        </td>
                        <td class="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.permit_type)
                        </td>
                        <td class="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.permit_status)
                        </td>
                        <td>
                            <a class="hide-on-mobile">edit</a>
                            @* <a class="hide-on-mobile">edit</a> *@
                             @* href="ChainsawImporterApproval?uid=@item.application.tbl_user_id&appid=@item.id" *@
                            <div class="show-on-mobile">
                                <div class="c-card">
                                    <div class="c-card-pre">
                                        @Html.DisplayFor(modelItem => item.id)
                                    </div>
                                    <div class="c-card-main">
                                        @Html.DisplayFor(modelItem => item.application_type)
                                    </div>
                                    <div class="c-card-sub">
                                        @Html.DisplayFor(modelItem => item.permit_type)
                                    </div>
                                    <div class="c-card-sub">
                                        @Html.DisplayFor(modelItem => item.permit_status)
                                    </div>
                                    <div class="c-card-action">
                                        <a>edit</a>
                                         @* href="ChainsawImporterApproval?uid=@item.application.tbl_user_id&appid=@item.id" *@
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </p>
</div>