@model FMB_CIS.Models.UserRegistrationViewModel
@* @model FMB_CIS.Models.UserRegistrationViewModel *@

@{
    ViewBag.Title = "Registration";
    var baseurl = ViewBag.BaseUrl;
}

<link rel="stylesheet" href="/font-awesome/css/all.css" />

<link href="/bootstrap-fileinput-master/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />


<style>
</style>
<div class="c-full-container">
    <div class="c-max-box">
        <div class="c-step-flex-title-container">
            <div class="c-form-images-title-container">
                <div class="c-form-images-container">
                    <img class="c-form-image" src="~/assets/images/denr.png" />
                    <img class="c-form-image" src="~/assets/images/forestmanagementbureau.png" />
                </div>
                <div class="c-form-image-title-container">
                    <p class="c-form-image-pretitle">Department of Environment and Natural Resources</p>
                    <p class="c-form-image-title">Forest Management Bureau</p>
                </div>
            </div>

         <div class="c-form-text-title-container">
                <h1 class="c-form-title text-green">REGISTER YOUR ACCOUNT</h1>
                <p class="c-form-subtitle">Forest Management Bureau - Chainsaw Information System
                                            <a class="header-link" href="@Url.Action("Index", "Home")" class="me-auto my-4" title="back to login">Already have an account? Login</a>

                </p>
            </div>
        </div>
    <div class="c-step-flex-container">
        <div class="c-steps-container">
            <div class="stepwizard col-md-offset-3">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step selected">
                        <div class="stepwizard-step-text">
                            <h2 class="stepwizard-step-title">User Type</h2>
                            <p class="stepwizard-step-subtitle">Choose how you will use the system</p>
                        </div>
                        <a href="#step-1" type="button" class="stepwizard-logo btn btn-primary btn-circle fw-bold">1</a>
                        <span class="selected-marker"></span>
                    </div>
                    <div class="stepwizard-step">
                        <div class="stepwizard-step-text">
                            <h2 class="stepwizard-step-title">User Information</h2>
                            <p class="stepwizard-step-subtitle">Fill out personal, contact, location details</p>
                        </div>
                        <a href="#step-2" type="button" class="stepwizard-logo disabled btn btn-default btn-circle fw-bold"
                            disabled="disabled">2</a>
                            <span class="selected-marker"></span>
                    </div>
                    <div class="stepwizard-step">
                        <div class="stepwizard-step-text">
                            <h2 class="stepwizard-step-title">Supporting Documents</h2>
                            <p class="stepwizard-step-subtitle">Upload your files so we can identify you</p>
                        </div>
                        <a href="#step-3" type="button" class="stepwizard-logo disabled btn btn-default btn-circle fw-bold"
                            disabled="disabled">3</a>
                            <span class="selected-marker"></span>
                    </div>
                </div>
            </div>
        <div class="c-steps-container-toggle">
            <a class="c-show-steps show-steps">Show steps</a>
            <a class="c-show-steps hide-steps">Hide steps</a>
        </div>
        </div>
        <div class="c-steps-content-container">
            <form asp-action="Registration" id="RegForm" role="form" class="" method="post"
                enctype="multipart/form-data">
                <div class="c-step-content-container setup-content" id="step-1">
                    <p class="c-step-content-pretitle">Step 1/3</p>
                    <label class="c-step-content-title">Choose your user type & classification</label>
                    <p class="c-step-content-subtitle">This will help us identify how you will use the system</p>
                    <div class="row mt-5">
                        <div class="form-group">
                            <label class="c-formcontrol-label c-formcontrol-inline">User Type <span class="s-required">*</span></label>
                            <p class="c-formcontrol-sublabel c-formcontrol-inline">Pick one ore more</p>
                            <input type="hidden" required="required" asp-for="tbl_user_types_string"
                                id="tbl_user_types_ids" />
                            <div class="c-button-boxes-container">
                                <button class="user_types_button" id="checkbox_chainsawImporter" type="button">
                                    <label class="user_type_button_mainlabel">Chainsaw Importer</label>
                                    <label class="user_type_button_sublabel">Permit to import</label>
                                </button>
                                <button class="user_types_button" id="checkbox_chainsawSeller" type="button">
                                    <label class="user_type_button_mainlabel">Chainsaw Seller</label>
                                    <label class="user_type_button_sublabel">Permit to Sell, Purchase</label>
                                </button>
                                <button class="user_types_button" id="checkbox_chainsawOwner" type="button">
                                    <label class="user_type_button_mainlabel">Chainsaw Owner</label>
                                    <label class="user_type_button_sublabel">Chainsaw Registration, Authority to Lease,
                                        Rent, Lend, Permit to Resell</label>
                                </button>
                            </div>
                            <span asp-validation-for="tbl_user_types_ids" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="form-group c-mobile-max">
                            <label class="control-label text-secondary small mb-1">User Classification <span class="s-required">*</span></label>
                            <select id="user_classification" asp-for="tbl_Users.user_classification" class="form-select"
                                aria-label="User Classification" onchange="userClassification(this)"
                                required="required">
                                <option value="" selected disabled>--Select User Classification--</option>
                                <option value="Individual">Individual</option>
                                <option value="Corporate/Cooperative">Corporate/Cooperative</option>
                                <option value="Government">Government</option>
                            </select>
                            <span asp-validation-for="tbl_Users.user_classification" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="form-group">
                            <button class="btn btn-primary nextBtn text-center" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div class="c-step-content-container setup-content" id="step-2">
                    <p class="c-step-content-pretitle">Step 2/3</p>
                        <label class="c-step-content-title">Enter your information</label>
                    <p class="c-step-content-subtitle">This will ensure the validity of your account</p>
                    <div class="col-xs-6 col-md-offset-3">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h2 class="c-title-info">Personal Information</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                            <label asp-for="tbl_Users.first_name" class="c-formcontrol-label c-formcontrol-inline">First Name <span class="s-required">*</span></label>
                            @* <p class="c-formcontrol-sublabel c-formcontrol-inline"></p> *@
                                                <input asp-for="tbl_Users.first_name" class="form-control"
                                                    required="required" placeholder="Enter First Name" />
                                                <span asp-validation-for="tbl_Users.first_name"
                                                    class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                            <label asp-for="tbl_Users.middle_name" class="c-formcontrol-label c-formcontrol-inline">Middle Name <span class="s-required">*</span></label>
                            @* <p class="c-formcontrol-sublabel c-formcontrol-inline"></p> *@
                                                <input asp-for="tbl_Users.middle_name" class="form-control"
                                                    required="required" placeholder="Enter Middle Name" />
                                                <span asp-validation-for="tbl_Users.middle_name"
                                                    class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                            <label asp-for="tbl_Users.last_name" class="c-formcontrol-label c-formcontrol-inline">Last Name <span class="s-required">*</span></label>
                            @* <p class="c-formcontrol-sublabel c-formcontrol-inline"></p> *@
                                                <input asp-for="tbl_Users.last_name" class="form-control"
                                                    required="required" placeholder="Enter Last Name" />
                                                <span asp-validation-for="tbl_Users.last_name"
                                                    class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @* <label asp-for="tbl_Users.suffix" class="form-label small mb-1">Suffix
                                                    (If any)</label> *@
                            <label asp-for="tbl_Users.suffix" class="c-formcontrol-label c-formcontrol-inline">Suffix</label>
                            <p class="c-formcontrol-sublabel c-formcontrol-inline">If any</p>
                                                <input asp-for="tbl_Users.suffix" class="form-control"
                                                    placeholder="Enter Suffix" />
                                                <span asp-validation-for="tbl_Users.suffix" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @* <label asp-for="tbl_Users.email"
                                            class="control-label small text-secondary mb-1">Email  <span class="s-required">*</span> (Please use official
                                            email address)</label> *@

                            <label asp-for="tbl_Users.email" class="c-formcontrol-label c-formcontrol-inline">Email <span class="s-required">*</span></label>
                            <p class="c-formcontrol-sublabel c-formcontrol-inline">Please use official email address</p>
                                        <input asp-for="tbl_Users.email" class="form-control" type="email" 
                                            placeholder="name@address.com" required="required" id="emailInput"
                                            onchange="checkExistingEmail()" />
                                        <span asp-validation-for="tbl_Users.email" class="text-danger"></span>
                                        <span id="emailValidation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @* <label asp-for="tbl_Users.contact_no"
                                            class="control-label small text-secondary mb-1">Contact Number  <span class="s-required">*</span>(11
                                            Digits)</label> *@

                            <label asp-for="tbl_Users.contact_no" class="c-formcontrol-label c-formcontrol-inline">Contact Number <span class="s-required">*</span></label>
                            <p class="c-formcontrol-sublabel c-formcontrol-inline">11 digits</p>
                                        <input asp-for="tbl_Users.contact_no" type="tel" pattern="[0-9]{11}"
                                            class="form-control" placeholder="09XX XXX XXXX" required="required" />
                                        <span asp-validation-for="tbl_Users.contact_no" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">

                            <label asp-for="tbl_Users.birth_date" class="c-formcontrol-label c-formcontrol-inline">Birth Date <span class="s-required">*</span></label>
                            <p class="c-formcontrol-sublabel c-formcontrol-inline">Must be 18 years old and above</p>
                                        @* <label asp-for="tbl_Users.birth_date"
                                            class="control-label small text-secondary mb-1">Birth Date  <span class="s-required">*</span>(Must be 18 years
                                            old and above)</label> *@
                                        <input asp-for="tbl_Users.birth_date" type="date" class="form-control"
                                            max="@DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd")"
                                            required="required" />
                                        <span asp-validation-for="tbl_Users.birth_date" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @* <label class="control-label small text-secondary mb-1">Gender</label> *@

                            <label asp-for="tbl_Users.gender" class="c-formcontrol-label c-formcontrol-inline">Gender</label>
                                        <select asp-for="tbl_Users.gender" class="form-select" aria-label="Gender"
                                            required>
                                            <option value="" selected disabled>--Select Gender--</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                        <span asp-validation-for="tbl_Users.gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="tbl_Users.valid_id"
                                            class="c-formcontrol-label c-formcontrol-inline">Valid ID</label>
                                        <select asp-for="tbl_Users.valid_id" class="form-select" required="required">
                                            <option selected disabled>--Select Valid ID--</option>
                                            <option value="AFP Beneficiary ID">AFP Beneficiary ID</option>
                                            <option value="AFPSLAI ID">AFPSLAI ID</option>
                                            <option value="Barangay ID">Barangay ID</option>
                                            <option value="BIR (TIN)">BIR (TIN)</option>
                                            <option value="COMELEC / Voter’s ID / COMELEC Registration Form">COMELEC /
                                                Voter’s ID / COMELEC Registration Form</option>
                                            <option value="Driver’s License">Driver’s License</option>
                                            <option value="e-Card / UMID"> e-Card / UMID</option>
                                            <option value="Employee’s ID / Office Id">Employee’s ID / Office Id</option>
                                            <option value="Firearms License">Firearms License</option>
                                            <option value="Integrated Bar of the Philippines (IBP) ID">Integrated Bar of
                                                the Philippines (IBP) ID</option>
                                            <option value="NBI Clearance">NBI Clearance</option>
                                            <option value="Pag-ibig ID">Pag-ibig ID</option>
                                            <option value="Pantawid Pamilya Pilipino Program (4Ps) ID">Pantawid Pamilya
                                                Pilipino Program (4Ps) ID</option>
                                            <option value="Passport">Passport</option>
                                            <option value="Person’s With Disability (PWD) ID">Person’s With Disability
                                                (PWD) ID</option>
                                            <option value="Phil-health ID">Phil-health ID</option>
                                            <option value="Philippine Identification (PhilID / ePhilID)">Philippine
                                                Identification (PhilID / ePhilID)</option>
                                            <option value="Philippine Postal ID">Philippine Postal ID</option>
                                            <option value="Professional Regulation Commission (PRC) ID">Professional
                                                Regulation Commission (PRC) ID</option>
                                            <option value="PVAO ID">PVAO ID</option>
                                            <option value="School ID">School ID</option>
                                            <option value="Senior Citizen ID">Senior Citizen ID</option>
                                            <option value="Solo Parent ID">Solo Parent ID</option>
                                            <option value="SSS ID">SSS ID</option>
                                            <option value="Other valid government-issued IDs">Other valid
                                                government-issued IDs</option>
                                        </select>
                                        <span asp-validation-for="tbl_Users.valid_id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                                                    <label asp-for="tbl_Users.valid_id_no" class="c-formcontrol-label c-formcontrol-inline">Valid ID Number</label>

                                        @* <label asp-for="tbl_Users.valid_id_no"
                                            class="control-label small text-secondary mb-1">Valid ID Number</label> *@
                                        <input asp-for="tbl_Users.valid_id_no" class="form-control" required="required"
                                            placeholder="Enter Valid ID Number" />
                                        <span asp-validation-for="tbl_Users.valid_id_no" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                                    <div class="row" id="companyContainer" style="display:none">
                                        <div class="col-lg-12">
                                            <h2 class="c-title-info">Company Information</h2>
                                        </div>
                                    </div>
                            <div class="row mb-4" id="companyNameInpField" style="display:none">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="tbl_Users.company_name"
                                            class="control-label text-secondary small mb-1">Company Name</label>
                                        <input asp-for="tbl_Users.company_name" class="form-control" />
                                        <span asp-validation-for="tbl_Users.company_name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="c-title-info">Location</h2>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="tbl_Users.street_address"
                                            class="cc-formcontrol-label c-formcontrol-inline" id="strtAddLbl">Street
                                            Address</label>

                                        <textarea asp-for="tbl_Users.street_address" class="form-control"
                                            required="required" placeholder="Enter Complete Street Address">
                                    </textarea>
                                        <span asp-validation-for="tbl_Users.street_address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="tbl_Users.tbl_region_id"
                                            class="c-formcontrol-label c-formcontrol-inline">Region</label>
                                        <select asp-for="tbl_Users.tbl_region_id" class="form-select"
                                            asp-items="ViewBag.RegionData" id="RegionId"
                                            onchange="loadProvince(this)"></select>
                                        <span asp-validation-for="tbl_Users.tbl_region_id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="tbl_Users.tbl_province_id"
                                            class="c-formcontrol-label c-formcontrol-inline">Province</label>
                                        <select asp-for="tbl_Users.tbl_province_id" class="form-select"
                                            asp-items="ViewBag.ProvinceData" id="ddlProvinceId"
                                            onchange="loadCity(this)"></select>
                                        <span asp-validation-for="tbl_Users.tbl_province_id" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="tbl_Users.tbl_city_id"
                                            class="c-formcontrol-label c-formcontrol-inline">City/Municipality</label>
                                        <select asp-for="tbl_Users.tbl_city_id" class="form-select"
                                            asp-items="ViewBag.CityData" id="ddlCityId"
                                            onchange="loadBrgy(this)"></select>
                                        <span asp-validation-for="tbl_Users.tbl_city_id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="tbl_Users.tbl_brgy_id"
                                            class="c-formcontrol-label c-formcontrol-inline">Barangay</label>
                                        <select asp-for="tbl_Users.tbl_brgy_id" class="form-select"
                                            asp-items="ViewBag.BrgyData" id="ddlBrgyId"></select>
                                        <span asp-validation-for="tbl_Users.tbl_brgy_id" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                    <div class="row mt-5 mb-5">
                        <div class="form-group">
                                <button class="btn btn-secondary text-center prevBtn mr-5" type="button">Previous</button>
                                <button class="btn btn-primary text-center nextBtn" type="button">Next</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-step-content-container setup-content" id="step-3">
                     <p class="c-step-content-pretitle">Step 3/3</p>
                        <label class="c-step-content-title">Attach Required Documents</label>
                    <div class="col-xs-6 col-md-offset-3">
                        <div class="d-flex my-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="d-flex flex-column justify-content-start">
                                <div class="mb-4">
                                    <span
                                        style="white-space: pre-line">@Model.soloAnnouncement.announcement_content</span>
                                </div>
                                <div class="gap-4 mb-5">
                                    <div class="alert alert-warning mt-3 mb-3" role="alert">
                                            <ul style="margin-bottom: 0px;">
                                                <li>When uploading multiple files, drag all files at once on the field.</li>
                                                <li>Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed for filenames. Spaces are not allowed. Please rename before uploading.</li>
                                            </ul>
                                    </div>
                                    <input asp-for="filesUpload.Files" type="file" class="file" multiple
                                        data-show-upload="false" data-show-caption="true"
                                        data-msg-placeholder="Select {files} for upload...">
                                </div>
                            </div>
                        </div>
                        <hr class="my-5" />
                        <div class="d-flex flex-column">
                            <div class="mb-4 mt-3">
                                <div id="g-recaptcha"></div>
                                <input type="hidden" id="hfCaptcha" />
                                <span id="rfvCaptcha" class="text-danger text-center" style="display:none">Captcha
                                    validation is required.</span>
                            </div>
                            <div class="text-center mb-4">
                                <small class="text-secondary fw-bold fst-italic">
                                    By submitting this form, you agree to our <a
                                        href="@Url.Action("TermsPolicy", "Home")" target="_blank"
                                        class="text-decoration-none">Privacy Policy and Terms & Conditions.</a>
                                </small>
                            </div>
                        </div>
                    <div class="row mt-5 mb-5">
                        <div class="form-group">
                            <button class="btn btn-secondary text-center prevBtn mr-5" type="button">Previous</button>
                            <button type="button" id="submitBtn" value="Submit" class="btn btn-primary text-center submitBtn"
                                style="width: min(100px, 100%) !important;">Submit</button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </div>
</div>




<partial name="~/Views/Modals/AccountModal.cshtml" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    asyncdefer></script>

<script src="/bootstrap-fileinput-master/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="/bootstrap-fileinput-master/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>


<script type="text/javascript">

    //Things to change when selected User Classification is Corporation
    function userClassification(that) {
        if (that.value == "Corporate/Cooperative") {
            document.getElementById("companyContainer").style.display = "block";
            document.getElementById("companyNameInpField").style.display = "block";
            document.getElementById("strtAddLbl").innerHTML = "Company Street Address";
        }

        else {
            document.getElementById("companyContainer").style.display = "none";
            document.getElementById("companyNameInpField").style.display = "none";
            document.getElementById("strtAddLbl").innerHTML = "Street Address";
        }
    }
    //END

    //captcha
    var onloadCallback = function () {
        grecaptcha.render('g-recaptcha', {
            'sitekey': '@Model.reCaptcha.Key'
        });
    };

    //captcha end

    var emailExist = false;
    //Check Existing Email
    function checkExistingEmail() {
        var emailValue = document.getElementById("emailInput").value;
        var url = "@baseurl";
        $.post(url + "Account/CheckExistingEmailOnField", { email: emailValue }, function (data) {
            emailExist = data;
            if (data == true) {
                //console.log(emailExist);
                document.getElementById("emailValidation").innerHTML = "Email exist! Please use a different email!";
            }
            else {
                document.getElementById("emailValidation").innerHTML = "";
            }
            
            //check validation on valid email

              //if (fileName.search(/(?:\.(?![^.]+$)|[^\w.-])+/g) >= 0) {
              //      Swal.fire({
              //          icon: "error",
              //          title: "File name not allowed!",
              //          text: "Only upload filenames without special characters and spaces. Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed ",
              //          confirmButtonColor: '#14984a'
              //      });
              //      const removeFileButton = document.querySelector('.fileinput-remove-button');
              //      removeFileButton.click();
              //      $select.clear();
              //      $select.clearOptions();
              //      break;
              //  }


        });
    }
    const form = document.getElementById('RegForm');

    $(document).ready(function () {

        $('.user_types_button').on('click', function () {
            // get checked user types
            var tbl_user_types_ids = [];

            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
            }
            else {
                $(this).addClass("selected");
            }

            if ($('#checkbox_chainsawImporter').hasClass("selected")) { tbl_user_types_ids.push(1); }
            if ($('#checkbox_chainsawSeller').hasClass("selected")) { tbl_user_types_ids.push(2); }
            if ($('#checkbox_chainsawOwner').hasClass("selected")) { tbl_user_types_ids.push(3); }

            $('#tbl_user_types_ids').val(tbl_user_types_ids.join(','));

            console.log(tbl_user_types_ids.join(','));
        });


        // Step by step form
        var navListItemsContainer = $('div.setup-panel div.stepwizard-step')
            navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);
            if (!$item.hasClass('disabled')) {
                navListItemsContainer.removeClass('selected');
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                $item.parent().addClass('selected');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],input[type='date'],input[type='tel'],input[type='email']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if ($("#tbl_user_types_ids").val().length === 0) {
                isValid = false;
                $("#tbl_user_types_ids").closest(".form-group").addClass("has-error");
            }
            else {
                $("#tbl_user_types_ids").closest(".form-group").removeClass("has-error");
            }

            if ($("#user_classification").val() === null) {
                isValid = false;
                $("#user_classification").closest(".form-group").addClass("has-error");
            }
            else {
                $("#user_classification").closest(".form-group").removeClass("has-error");
            }


            if (isValid && curStepBtn != 'step-2') {
                //console.log(curStepBtn);
                nextStepWizard.removeAttr('disabled').removeClass('disabled').trigger('click');
            }
            if (isValid && curStepBtn == 'step-2' && !emailExist) {
                //console.log(curStepBtn);
                nextStepWizard.removeAttr('disabled').removeClass('disabled').trigger('click');
            }
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
        // Step by step form end



        feather.replace();

        //CONFIRMATION MODALS
        var formFiles = document.forms['RegForm']['filesUpload.Files'];
        $("#submitBtn").click(function () {

            //check if user uploaded a file
            if (formFiles.files.length == 0) {
                //console.log("formFiles.files.length = 0");
                Swal.fire({
                    title: "No File Selected",
                    text: "Please upload the required documents to proceed with the registration.",
                    icon: "error",
                    confirmButtonColor: '#14984a'
                });
            }
            else {
                //captcha upon submission
                //var response = grecaptcha.getResponse();
                //if (response.length == 0) {
                //    $("#rfvCaptcha").show();
                //}
                //else {
                //    $("#rfvCaptcha").hide();
                $("#confirmSubmitModal").modal("show");


                $('#check').on('change', function () {
                    var val = this.checked ? this.value : '';
                    $('#show').html(val);
                });


            }

        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            form.submit();
            $("#confirmSubmitModal").modal("hide");
            $("#confirmSuccessModal").modal("show");
        });

        //END FOR CONFIRMATION MODALS

    });

    // //const form = document.getElementById('RegForm');
    // const showModalButton = document.getElementById('submitBtn');
    // const confirmationModal = document.getElementById('confirmSubmitModal');
    // const confirmButton = document.getElementById('confirmBtn');

    // // Function to display the modal
    // function showModal() {
    //     confirmationModal.style.display = 'block';
    // }

    // // Function to hide the modal
    // function hideModal() {
    //     confirmationModal.style.display = 'none';
    // }

    // // Event listener for the "Submit" button
    // showModalButton.addEventListener('click', showModal);

    // // Event listener for the "Confirm" button
    // confirmButton.addEventListener('click', function () {
    //     // Submit the form when the "Confirm" button is clicked
    //     form.submit();
    // });

    // // Close the modal when the user clicks outside of it
    // window.addEventListener('click', function (event) {
    //     if (event.target === confirmationModal) {
    //         hideModal();
    //     }
    // });



    //Location Dropdowns
    $(document).ready(function () {
        var a = 0;
    });

    function loadProvince(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "Account/GetProvinceByRegionId", { tbl_region_id: value }, function (data) {
            PopulateProvinceDropDown("#ddlProvinceId", data);
        });
    }

    function PopulateProvinceDropDown(dropDownId, list, selectedId) {
        $(dropDownId).empty();
        $(dropDownId).append("<option selected disabled>--Please Select a Province--</option>")
        $.each(list, function (index, row) {
            $(dropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    $(".show-steps").on("click", function(){
        $(".c-step-flex-container").addClass("show-steps-active");
    });
    $(".hide-steps").on("click", function(){
        $(".c-step-flex-container").removeClass("show-steps-active");});

    //loadCity
    $(document).ready(function () {
        var a = 0;
    });

    function loadCity(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "Account/GetCityByProvinceId", { tbl_province_id: value }, function (data) {
            PopulateCityDropDown("#ddlCityId", data);
        });
    }

    function PopulateCityDropDown(ctDropDownId, list, selectedId) {
        $(ctDropDownId).empty();
        $(ctDropDownId).append("<option selected disabled>--Please Select a City--</option>")
        $.each(list, function (index, row) {
            $(ctDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    //loadBrgy
    $(document).ready(function () {
        var a = 0;
    });

    function loadBrgy(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "Account/GetBrgyByCityId", { tbl_city_id: value }, function (data) {
            PopulateBrgyDropDown("#ddlBrgyId", data);
        });
    }

    function PopulateBrgyDropDown(brgyDropDownId, list, selectedId) {
        $(brgyDropDownId).empty();
        $(brgyDropDownId).append("<option selected disabled>--Please Select a Barangay--</option>")
        $.each(list, function (index, row) {
            $(brgyDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

</script>

<style type="text/css">
    /*body {
                    margin-top: 40px;
                }*/



    .has-error {
        color: red;
    }

    .has-error .form-control {
        border: solid 1px red;
    }

    .nextBtn,
    .prevBtn {
        width: min(100px, 100%) !important;
    }

    .form-check-border {
        border: solid 1px #CCCCCC;
        margin-bottom: 5px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 36px;
        cursor: pointer;
    }

    .form-check-border {}

    .has-error .form-check-border,
    .has-error .form-select {
        border: solid 1px red;
    }
</style>