@model FMB_CIS.Models.UserRegistrationViewModel
@* @model FMB_CIS.Models.UserRegistrationViewModel *@

@{
    ViewBag.Title = "Registration";
    var baseurl = ViewBag.BaseUrl;
}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="col-md-12 p-md-2 text-start">
        <img src="~/assets/images/logo.png" height="100" />
    </div>
    <hr class="hr" />


    <div class="container"></div>,<div class="container">
        <a href="@Url.Action("Index", "Home")" class="me-auto my-4" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <p class="mb-1 fw-bold">Step</p>
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle fw-bold">1</a>
                </div>
                <div class="stepwizard-step">
                    <p class="mb-1 fw-bold">Step</p>
                    <a href="#step-2" type="button" class="btn btn-default btn-circle fw-bold" disabled="disabled">2</a>
                </div>
                <div class="stepwizard-step">
                    <p class="mb-1 fw-bold">Step</p>
                    <a href="#step-3" type="button" class="btn btn-default btn-circle fw-bold" disabled="disabled">3</a>
                </div>
                <div class="stepwizard-step">
                    <p class="mb-1 fw-bold">Step</p>
                    <a href="#step-4" type="button" class="btn btn-default btn-circle fw-bold" disabled="disabled">4</a>
                </div>
                <div class="stepwizard-step">
                    <p class="mb-1 fw-bold">Step</p>
                    <a href="#step-5" type="button" class="btn btn-default btn-circle fw-bold" disabled="disabled">5</a>
                </div>
                <div class="stepwizard-step">
                    <p class="mb-1 fw-bold">Step</p>
                    <a href="#step-6" type="button" class="btn btn-default btn-circle fw-bold" disabled="disabled">6</a>
                </div>
            </div>
        </div>
        <h3 align="center">REGISTER YOUR ACCOUNT</h3>
        <form asp-action="Registration" id="RegForm" role="form" class="w-75 mx-auto" enctype="multipart/form-data">
            <div class="row setup-content" id="step-1">
                <center><label class="control-label text-align:center">Choose Your User Type</label></center>
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label small">User Type</label>
                            <select asp-for="tbl_Users.tbl_user_types_id" class="form-control" aria-label="User Type" required="required">
                                <option value="" selected disabled>- Select User Type -</option>
                                <option value="1">Chainsaw Importer Only</option>
                                <option value="2">Chainsaw Seller Only</option>
                                <option value="3">Chainsaw Owner Only</option>
                                <option value="4">Chainsaw Importer and Seller</option>
                                <option value="5">Chainsaw Importer and Owner</option>
                                <option value="6">Chainsaw Seller and Owner</option>
                                <option value="7">Chainsaw Importer, Owner, and Seller</option>
                            </select>
                            <span asp-validation-for="tbl_Users.tbl_user_types_id" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-primary nextBtn text-center" type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <center><label class="control-label">User Information</label></center>
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.first_name" class=" control-label small">First Name</label>
                            <input asp-for="tbl_Users.first_name" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.first_name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.middle_name" class="control-label small">Middle Name</label>
                            <input asp-for="tbl_Users.middle_name" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.middle_name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.last_name" class="control-label small">Last Name</label>
                            <input asp-for="tbl_Users.last_name" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.last_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="tbl_Users.suffix" class="form-label small">Suffix</label>
                            <input asp-for="tbl_Users.suffix" class="form-control" />
                            <span asp-validation-for="tbl_Users.suffix" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-secondary prevBtn" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn" type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <center><label class="control-label">User Information</label></center>
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.email" class="control-label small">Email (Please use official email address)</label>
                            <input asp-for="tbl_Users.email" class="form-control" placeholder="name@address.com" required="required" />
                            <span asp-validation-for="tbl_Users.email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="tbl_Users.contact_no" class="control-label small">Contact Number (11 Digits)</label>
                            <input asp-for="tbl_Users.contact_no" class="form-control" placeholder="09XX XXX XXXX" required="required" />
                            <span asp-validation-for="tbl_Users.contact_no" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-secondary prevBtn" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn" type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-4">
                <center><label class="control-label">User Information</label></center>
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.birth_date" class="control-label small">Birth Date (Must be 18 years old and above)</label>
                            <input asp-for="tbl_Users.birth_date" type="date" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.birth_date" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.valid_id" class="control-label small">Valid ID</label>
                            <input asp-for="tbl_Users.valid_id" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.valid_id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="tbl_Users.valid_id_no" class="control-label small">Valid ID Number</label>
                            <input asp-for="tbl_Users.valid_id_no" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.valid_id_no" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-secondary prevBtn" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn" type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-5">
                <center><label class="control-label">User Information</label></center>
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.street_address" class="control-label small">Street Address</label>
                            <input asp-for="tbl_Users.street_address" class="form-control" required="required" />
                            <span asp-validation-for="tbl_Users.street_address" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.tbl_region_id" class="control-label small">Region</label>
                            <select asp-for="tbl_Users.tbl_region_id" class="form-control"
                                    asp-items="ViewBag.RegionData"
                                    id="RegionId" onchange="loadProvince(this)"></select>
                            <span asp-validation-for="tbl_Users.tbl_region_id" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.tbl_province_id" class="control-label small">Province</label>
                            <select asp-for="tbl_Users.tbl_province_id" class="form-control" asp-items="ViewBag.ProvinceData" id="ddlProvinceId" onchange="loadCity(this)"></select>
                            <span asp-validation-for="tbl_Users.tbl_province_id" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.tbl_city_id" class="control-label small">City/Municipality</label>                            
                            <select asp-for="tbl_Users.tbl_city_id" class="form-control" asp-items="ViewBag.CityData" id="ddlCityId" onchange="loadBrgy(this)"></select>
                            <span asp-validation-for="tbl_Users.tbl_city_id" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="tbl_Users.tbl_brgy_id" class="control-label small">Barangay</label>                            
                            <select asp-for="tbl_Users.tbl_brgy_id" class="form-control" asp-items="ViewBag.BrgyData" id="ddlBrgyId"></select>
                            <span asp-validation-for="tbl_Users.tbl_brgy_id" class="text-danger"></span>
                        </div>

                        <div class="form-group" hidden="hidden">
                            <label asp-for="tbl_Users.tbl_division_id" class="form-label small">DIVISION ID</label>
                            <input asp-for="tbl_Users.tbl_division_id" class="form-control" value=" " disabled />
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-secondary prevBtn" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn" type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-6">
                <center><label class="control-label">Upload Proof of Company SEC Registration</label></center>
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        <div class="form-group" hidden="hidden">
                            <label asp-for="tbl_Users.comment" class="form-label small">Remarks</label>
                            <input asp-for="tbl_Users.comment" class="form-control" disabled />
                            <span asp-validation-for="tbl_Users.comment" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-5">
                            <label class="control-label small text-black">Attach Forms</label>
                            <input type="file" asp-for="filesUpload.Files" class="form-control" multiple />
                        </div>

                        <div class="text-center mb-4">
                            <small class="text-secondary text-center my-5 fs-5">
                                By submitting this form, you agree to our <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-decoration-none">Privacy Policy and Terms & Conditions.</a>
                            </small>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-secondary prevBtn" type="button">Previous</button>
                            <button type="button" id="submitBtn" value="Submit" class="btn btn-primary submitBtn" style="width: min(100px, 100%) !important;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="~/Views/Modals/AccountModal.cshtml" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        // Step by step form
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],input[type='date']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
        // Step by step form end



        feather.replace();

        $("#submitBtn").click(function () {
            $("#confirmSubmitModal").modal("show");

        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            $("#confirmSuccessModal").modal("show");
        });
    });
    const form = document.getElementById('RegForm');
    const showModalButton = document.getElementById('submitBtn');
    const confirmationModal = document.getElementById('confirmSubmitModal');
    const confirmButton = document.getElementById('confirmBtn');

    // Function to display the modal
    function showModal() {
        confirmationModal.style.display = 'block';
    }

    // Function to hide the modal
    function hideModal() {
        confirmationModal.style.display = 'none';
    }

    // Event listener for the "Submit" button
    showModalButton.addEventListener('click', showModal);

    // Event listener for the "Confirm" button
    confirmButton.addEventListener('click', function () {
        // Submit the form when the "Confirm" button is clicked
        form.submit();
    });

    // Close the modal when the user clicks outside of it
    window.addEventListener('click', function (event) {
        if (event.target === confirmationModal) {
            hideModal();
        }
    });

    //Location Dropdowns
    $(document).ready(function () {
        var a = 0;
    });

    function loadProvince(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "Account/GetProvinceByRegionId", { tbl_region_id: value }, function (data) {
            debugger;
            PopulateProvinceDropDown("#ddlProvinceId", data);
        });
    }

    function PopulateProvinceDropDown(dropDownId, list, selectedId) {
        $(dropDownId).empty();
        $(dropDownId).append("<option>--Please Select a Province--</option>")
        $.each(list, function (index, row) {
            $(dropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    //loadCity
    $(document).ready(function () {
        var a = 0;
    });

    function loadCity(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "Account/GetCityByProvinceId", { tbl_province_id: value }, function (data) {
            debugger;
            PopulateCityDropDown("#ddlCityId", data);
        });
    }

    function PopulateCityDropDown(ctDropDownId, list, selectedId) {
        $(ctDropDownId).empty();
        $(ctDropDownId).append("<option>--Please Select a City--</option>")
        $.each(list, function (index, row) {
            $(ctDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

    //loadBrgy
    $(document).ready(function () {
        var a = 0;
    });

    function loadBrgy(obj) {
        var value = obj.value;
        var url = "@baseurl";

        $.post(url + "Account/GetBrgyByCityId", { tbl_city_id: value }, function (data) {
            debugger;
            PopulateBrgyDropDown("#ddlBrgyId", data);
        });
    }

    function PopulateBrgyDropDown(brgyDropDownId, list, selectedId) {
        $(brgyDropDownId).empty();
        $(brgyDropDownId).append("<option>--Please Select a Barangay--</option>")
        $.each(list, function (index, row) {
            $(brgyDropDownId).append("<option value='" + row.id + "'>" + row.name + "</option>")
        });
    }

</script>

<style type="text/css">
    /*body {
            margin-top: 40px;
        }*/

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
        margin-bottom: 2rem;
    }

    .stepwizard-step a[disabled] {
        background-color: lightgrey;
        opacity: 1;
        pointer-events: none;
        color: white;
    }

    .stepwizard-row:before {
        top: 53px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
        opacity: 50%;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .has-error {
        color: red;
    }

        .has-error .form-control {
            border: solid 1px red;
        }

    .nextBtn, .prevBtn {
        width: min(100px, 100%) !important;
    }
</style>