@model FMB_CIS.Models.ResetPasswordViewModel





<div class="c-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="c-box col-md-6 d-flex flex-column justify-content-center mb-5 pb-5">
        @* <img src="~/assets/images/logo.png" /> *@
        <div class="c-form-images-title-container">
            <div class="c-form-images-container">

                <img class="c-form-image" src="~/assets/images/denr.png" />
                <img class="c-form-image" src="~/assets/images/forestmanagementbureau.png" />
            </div>
            <div class="c-form-image-title-container">
                <p class="c-form-image-pretitle">Department of Environment and Natural Resources</p>
                <p class="c-form-image-title">Forest Management Bureau</p>
            </div>
        </div>
        @if (ViewBag.message != null)
        {
                    <div class="px-5">
                        <div class="alert alert-success" role="alert">
                    @ViewBag.message
                        </div>
                    </div>
        }
        <div class="c-form-image-circle-container">
            <img src="~/assets/images/key.png" class="mb-2" />
        </div>
        <h1 class="c-form-title text-green">@(ViewBag.isNewParam == true? "CREATE": "RESET") PASSWORD</h1>

            <p class="fw-bold fs-5 text-md-start mb-1">
                The new password must be:
            </p>
            <ul class="text-md-start text-secondary mb-4">
                <li>At least 8 characters long</li>
                <li>At least 1 number</li>
                <li>At least 1 lower case character</li>
                <li>At least 1 upper case character</li>
                <li>Minimum of 1 special characters(s)</li>
            </ul>


        <div id="success-prompt" class="bg-green border rounded py-2 mb-4">
            @* <div class="row">
                    <div class="col-md-2 d-flex align-items-center justify-content-end pe-0">
                        <img src="~/assets/images/small-check.png" />
                    </div>
                    <div class="col-md-10 d-flex align-items-center justify-content-center ps-0">
                        <p class="text-white text-start m-0">
                            Your password has been updated successfully.<br />
                            You will be redirected to login page after 3 seconds.<br />
                        </p>
                    </div>
                </div> *@
            </div>

             <form method="post" class="c-form d-flex flex-column align-items-start w-100">
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
            @* <div asp-validation-summary="All" class="alert alert-danger"></div> *@
            @if (ViewData.ModelState.IsValid == false)
            {
                                    <div asp-validation-summary="All" class="alert alert-danger w-100">
                                    <div style="padding-bottom:5px;">The following errors were encountered: </div>
                                </div>
            }
                <input asp-for="tokencode" type="hidden" />
                <input asp-for="email" type="hidden" />
                <div class="c-field">
                    <label class="form-label">Password</label>
                    <div class="input-group password-toggle mb-md-2">
                    @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @id = "Password", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                        <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                            <i data-feather="eye" class="data-feather"></i>
                        </span>
                    </div>
                </div>
                <div class="c-field">

                    <label class="form-label">Confirm Password</label>
                    <div class="input-group password-toggle mb-md-4">
                    @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                        <span class="input-group-text cursor-pointer show-conf-password" title="show/hide password">
                            <i data-feather="eye" class="data-feather"></i>
                        </span>
                    </div>
                </div>
                <div class="c-field">
                    <button type="submit" id="btnSubmit" class="btn btn-primary w-100 mb-4">Submit</button>
                </div>
                <p class="c-text-center"><a class="c-form-link" onclick="window.location.href = '@Url.Action("Index", "Home")'">Go back to Login Page</a></p>

            </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();

        $('#success-prompt').hide();

        const passwordInput = document.getElementById('Password');
        const confirmPasswordInput = document.getElementById('ConfirmPassword');
        const togglePasswordElements = document.getElementsByClassName('show-password');
        const toggleCPasswordElements = document.getElementsByClassName('show-conf-password');

        for (const togglePasswordElement of togglePasswordElements) {
            togglePasswordElement.addEventListener('click', function () {
                if (passwordInput.type === 'password' || confirmPasswordInput.type === 'password') {
                    passwordInput.type = 'text';
                    confirmPasswordInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                    confirmPasswordInput.type = 'password';
                }
            });
        }

        for (const toggleCPasswordElement of toggleCPasswordElements) {
            toggleCPasswordElement.addEventListener('click', function () {
                if (passwordInput.type === 'password' || confirmPasswordInput.type === 'password') {
                    passwordInput.type = 'text';
                    confirmPasswordInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                    confirmPasswordInput.type = 'password';
                }
            });
        }

        // var btnSubmit = document.getElementById('btnSubmit');

        // btnSubmit.addEventListener('click', function () {
        //     $('#success-prompt').show();
        //     $("#credentials-input").removeClass("d-flex");
        //     $('#credentials-input').hide();

        //     setTimeout(function () {
        //         window.location.href = '@Url.Action("Index", "Home")';
        //     }, 3000);
        // });
    });
</script>
<style>
    .c-form-image-circle-container {
        width: 100px;
        height: 100px;
        backgorund-image: rgb(20, 152, 74);
        background: linear-gradient(325deg, rgba(132, 200, 106, 1) 0%, rgba(20, 152, 74, 1) 50%, rgba(20, 152, 74, 1) 100%);
        padding: 30px;
        border-radius: 100%;
        border: none;
        box-sizing: border-box;
        margin-bottom: 12px;
    }
    .c-form-image-circle-container img {
        width: 100%;
            filter: brightness(0) invert(1);
    }
</style>