@using System.Security.Claims;
@model FMB_CIS.Models.ManageProfile.ManageProfileViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Profile";
}

<div id="card-container" style="background-color: transparent; border: none;">
    <div id="card">
        @* <div class="row m-0">
            <div id="editBtnSection" class="col-md-12">
                <div class="d-flex justify-content-end gap-2">
                    <button id="btnSave" class="btn btn-primary w-105">Save</button>
                    <button class="btn btn-secondary w-105 btnCancel">Cancel</button>
                </div>
            </div>
            <div id="passwordBtnSection" class="col-md-12">
                <div class="d-flex justify-content-end gap-2">
                    <button id="btnSave" class="btn btn-primary w-105" type="button">Save</button>
                    <button class="btn btn-secondary w-105 btnCancel" type="button">Cancel</button>
                </div>
            </div>
        </div> *@
        
        <!--
            <hr />
        <div id="profileSection" class="row m-0">
            <div class="col-md-3">
                <div class="d-flex justify-content-center gap-1" id="ProfilePicDIV">
                    <img src="@ViewBag.ProfilePhotoSource" class="img-fluid rounded" style="width: 100%;" id="ProfilePicIMG" />
                </div>
                <div class="d-flex justify-content-center align-items-center p-1 mb-5">
                    <a class="text-decoration-none" id="EditPhoto"><i data-feather="edit" class="me-1"></i>Edit Photo</a>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12 text-center">
                        <button id="changePassword" class="btn text-secondary bg-gray border-0">Change Password</button>
                    </div>

                </div>

                @* <div class="d-flex justify-content-end align-items-center me-5 p-1">
                    <label for="profilePicInput" class="btn btn-primary custom-file-upload">
                        <i data-feather="edit" class="me-1"></i> Change Photo
                    </label>
                    <input type="file" asp-for="profilePicUpload.Files" class="form-control" id="profilePicInput" hidden accept="image/jpeg" onchange="profilePicInputChange()" />
                </div> *@
                
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            @if (Model.tbl_User.company_name != null || Model.tbl_User.company_name != "")
                            {
                                <div class="col-md-6 mb-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Full Name
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.first_name @Model.tbl_User.middle_name @Model.tbl_User.last_name @Model.tbl_User.suffix
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Gender
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.gender
                                        </span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Full Name
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.first_name @Model.tbl_User.middle_name @Model.tbl_User.last_name @Model.tbl_User.suffix
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Company Name
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.company_name
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Gender
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.gender
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        User Type(s)
                                    </label>
                                    <span class="fw-bold">
                                        @if (ViewBag.UserTypes != null)
                                        {
                                            <ul>
                                                @foreach (var userType in ViewBag.UserTypes)
                                                {
                                                    <li>@userType</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No user types available.</p>
                                        }
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        User Classification
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.user_classification
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Email Address
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.email
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Contact Number
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.contact_no
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Valid ID
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.valid_id
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Valid ID Number
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.valid_id_no
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Birth Date
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.birth_date
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Street Address
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.street_address
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Region
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.Region
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Province
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.Province
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        City/Municipality
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.City
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Barangay
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.Brgy
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    @* <div class="col-md-2 d-flex justify-content-end">
                        <a href="#" class="text-decoration-none me-5"><i data-feather="settings" class="me-1"></i>Edit</a>
                    </div> *@
                </div>
            </div>
        </div> -->
        @* <form asp-controller="ProfileManagement" asp-action="Index" id="ChangePasswordForm">
            <div id="passwordSection" class="row m-0 m-5">
                <div class="col-md-12">
                    <p class="fw-bold text-md-start mb-1">
                        New password must be:
                    </p>
                    <ul class="text-md-start text-secondary mb-5">
                        <li>At least 8 characters long</li>
                        <li>At least 1 number</li>
                        <li>At least 1 lower case character</li>
                        <li>At least 1 upper case character</li>
                        <li>At least of 1 special characters</li>
                    </ul>
                    <div class="col-md-4 col-sm-12">
                        <label class="form-label">Old Password</label>
                        <div class="input-group password-toggle mb-md-2">
                            @Html.Editor("OldPassword", new { htmlAttributes = new { @class = "form-control", @id = "OldPassword", @type = "password", @tabindex = "2", @style = "border-right:none;", @required = "true"} })
                            <span class="input-group-text cursor-pointer show-password" id="showOldPassword" title="show/hide password">
                                <i data-feather="eye" class="data-feather"></i>
                            </span>
                        </div>
                        <div id="oldPassValidationFeedback" class="invalid-feedback">Test</div>
                        <label class="form-label">New Password</label>
                        <div class="input-group password-toggle mb-md-2">
                            @Html.Editor("NewPassword", new { htmlAttributes = new { @class = "form-control", @id = "NewPassword", @type = "password", @tabindex = "2", @style = "border-right:none;", @required = "true" } })
                            <span class="input-group-text cursor-pointer show-password" id="showNewPassword" title="show/hide password">
                                <i data-feather="eye" class="data-feather"></i>
                            </span>
                        </div>
                        <div id="newPassValidationFeedback" class="invalid-feedback"></div>
                        <label class="form-label">Confirm Password</label>
                        <div class="input-group password-toggle mb-md-4">
                            @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword", @type = "password", @tabindex = "2", @style = "border-right:none;", @required = "true" } })
                            <span class="input-group-text cursor-pointer show-password" id="showConfirmPassword" title="show/hide password">
                                <i data-feather="eye" class="data-feather"></i>
                            </span>
                        </div>
                        <div id="confirmPassValidationFeedback" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr /> *@

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@ViewBag.ProfilePhotoSource" class="img-fluid rounded mb-5" style="width: 230px;" id="ProfilePicIMG" style="width: 150px;">

                        <div class="d-flex justify-content-center mb-2">
                            <a class="text-decoration-none" id="EditPhoto"><i data-feather="edit" class="me-1"></i>Edit Photo</a>
                        </div>
                        <div class="row mb-2" id="changePasswordBtnSection">
                            <div class="col-md-12 text-center">
                                <button id="changePassword" class="btn btn-primary"><i data-feather="settings" class="me-1"></i>Change Password</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="row">
                                    <p class="mb-0">User Classification</p>
                                </div>
                                <div class="row">
                                    <p class="text-dark fw-bold mb-0 ml-1">@Model.tbl_User.user_classification</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="row">
                                    <p class="mb-0">User Type(s)</p>
                                </div>
                                <div>
                                    @if (ViewBag.UserTypes != null)
                                    {
                                        <ul class="text-dark fw-bold">
                                            @foreach (var userType in ViewBag.UserTypes)
                                            {
                                                <li>@userType</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>No user types available.</p>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body" id="profileSection">
                        <div class="row mb-3">
                            <h4 class="text-center">Personal Information</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.first_name @Model.tbl_User.middle_name @Model.tbl_User.last_name @Model.tbl_User.suffix</p>
                            </div>
                        </div>
                        @if (Model.tbl_User.company_name != null)
                        {
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Company Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-dark fw-bold mb-0">@Model.tbl_User.company_name</p>
                                </div>
                            </div>
                        }
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.gender</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact Number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.contact_no</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Birth Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Convert.ToDateTime(Model.tbl_User.birth_date).ToString("MMMM dd, yyyy")</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Valid ID</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.valid_id</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Valid ID Number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.valid_id_no</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Street Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@Model.tbl_User.street_address</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Barangay</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@ViewBag.Brgy</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">City/Municipality</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@ViewBag.City</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Province</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@ViewBag.Province</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Region</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-dark fw-bold mb-0">@ViewBag.Region</p>
                            </div>
                        </div>
                    </div>

                    <form asp-controller="ProfileManagement" asp-action="Index" id="ChangePasswordForm">
                        <div class="card-body" id="passwordSection">                            
                            <div class="col-md-12 d-flex flex-column justify-content-center px-5 py-3">
                                <div class="row mb-3">
                                    <h4 class="text-center">Change Password</h4>
                                </div>
                                <div class="alert alert-warning mt-4 mb-5">
                                    <p class="fw-bold text-md-start mb-1">
                                        New password must be:
                                    </p>
                                    <ul class="text-md-start text-secondary">
                                        <li>At least 8 characters long</li>
                                        <li>At least 1 number</li>
                                        <li>At least 1 lower case character</li>
                                        <li>At least 1 upper case character</li>
                                        <li>At least of 1 special characters</li>
                                    </ul>
                                </div>
                                <div class="d-flex flex-column align-items-start px-4">
                                    <label class="form-label">Old Password</label>
                                    <div class="input-group password-toggle mb-md-2">
                                        @Html.Editor("OldPassword", new { htmlAttributes = new { @class = "form-control", @id = "OldPassword", @type = "password", @tabindex = "2", @style = "border-right:none;", @required = "true"} })
                                        <span class="input-group-text cursor-pointer show-password" id="showOldPassword" title="show/hide password">
                                            <i data-feather="eye" class="data-feather"></i>
                                        </span>
                                    </div>
                                    <div id="oldPassValidationFeedback" class="invalid-feedback">Test</div>
                                    <label class="form-label">New Password</label>
                                    <div class="input-group password-toggle mb-md-2">
                                        @Html.Editor("NewPassword", new { htmlAttributes = new { @class = "form-control", @id = "NewPassword", @type = "password", @tabindex = "2", @style = "border-right:none;", @required = "true", @pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$" } })
                                        <span class="input-group-text cursor-pointer show-password" id="showNewPassword" title="show/hide password">
                                            <i data-feather="eye" class="data-feather"></i>
                                        </span>
                                    </div>
                                    <div id="newPassValidationFeedback" class="invalid-feedback"></div>
                                    <label class="form-label">Confirm Password</label>
                                    <div class="input-group password-toggle mb-md-4">
                                        @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword", @type = "password", @tabindex = "2", @style = "border-right:none;", @required = "true" } })
                                        <span class="input-group-text cursor-pointer show-password" id="showConfirmPassword" title="show/hide password">
                                            <i data-feather="eye" class="data-feather"></i>
                                        </span>
                                    </div>
                                    <div id="confirmPassValidationFeedback" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div id="passwordBtnSection" class="col-md-12">
                                <div class="d-flex justify-content-center gap-2">
                                    <button id="btnSave" class="btn btn-primary w-105" type="button">Save</button>
                                    <button class="btn btn-secondary w-105 btnCancel" type="button">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                                
            </div>
        </div>        
    </div>


</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#passwordSection').hide();
        $('#editBtnSection').hide();
        $('#passwordBtnSection').hide();

        $("#changePassword").click(function () {
            $('#profileSection').hide();
            $('#passwordSection').show();
            $('#passwordBtnSection').show();
            $('#changePasswordBtnSection').hide();
        });

        const oldPasswordInput = document.getElementById('OldPassword');
        const newPasswordInput = document.getElementById('NewPassword');
        const confirmPasswordInput = document.getElementById('ConfirmPassword');
        const togglePasswordElements = document.getElementsByClassName('show-password');

        for (const togglePasswordElement of togglePasswordElements) {
            togglePasswordElement.addEventListener('click', function () {
                var toggleID = togglePasswordElement.id;
                if (toggleID == "showOldPassword") {
                    if (oldPasswordInput.type === 'password') {
                        oldPasswordInput.type = 'text';
                    }
                    else {
                        oldPasswordInput.type = 'password';
                    }
                }
                if (toggleID == "showNewPassword") {
                    if (newPasswordInput.type === 'password') {
                        newPasswordInput.type = 'text';
                    }
                    else {
                        newPasswordInput.type = 'password';
                    }
                }
                if (toggleID == "showConfirmPassword") {
                    if (confirmPasswordInput.type === 'password') {
                        confirmPasswordInput.type = 'text';
                    }
                    else {
                        confirmPasswordInput.type = 'password';
                    }
                }


            });
        }

        $(".btnCancel").click(function () {
            location.reload(true);
        });

        $("#EditPhoto").click(function () {
            console.log("EditPhoto Clicked");
            Swal.fire({
                title: 'Change Profile Photo',
                input: 'file',
                inputAttributes: {
                    accept: 'image/*',
                    'aria-label': 'Upload your profile picture',
                    required: 'true'
                },
                showCancelButton: true,
                confirmButtonText: 'Upload',
                confirmButtonColor: '#14984a',
                cancelButtonText: 'Cancel',
                showLoaderOnConfirm: true,
                preConfirm: (file) => {
                    return new Promise((resolve) => {
                        let formData = new FormData();
                        formData.append('ProfilePhoto', file);

                        fetch('/ProfileManagement/UploadProfilePhoto', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('File upload failed.');
                                }
                                return response.json();
                            })
                            .then(data => {
                                resolve(data.webPathWithFilename);
                                document.getElementById('ProfilePicIMG').src = data.webPathWithFilename;
                                document.getElementById('profilePhotoMainPage').src = data.webPathWithFilename;
                            })
                            .catch(error => {
                                Swal.showValidationMessage(`Upload failed: ${error}`);
                            });
                    });
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log("result is ", result);
                    Swal.fire({
                        title: 'Profile Photo Uploaded!',
                        icon: 'success',
                        confirmButtonColor: '#14984a'
                    });
                }
            });


        });

        // Attach a click event handler to the button
        $("#btnSave").click(function() {
            var newPassword = document.getElementById("NewPassword").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            if (newPassword != confirmPassword) {
                document.getElementById("ConfirmPassword").setCustomValidity("Passwords don't Match")
                $("#ChangePasswordForm")[0].reportValidity();
            }
            else
            {
                document.getElementById("ConfirmPassword").setCustomValidity("")
                if ($("#ChangePasswordForm")[0].checkValidity()) {
                    showConfirmationModal();
                }
                else {
                    //Validate Form
                    $("#ChangePasswordForm")[0].reportValidity();
                }
            }
            
        });

        function showConfirmationModal() {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to change your password.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#14984a',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, change it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User clicked "Yes, change it!" button
                    changePassword();
                }
            });
        }

        function changePassword() {
            var oldPassword = $("#OldPassword").val();
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();

            // Update the URL based on your endpoint
            var url = "/ProfileManagement/ChangePassword";

            // Create a JavaScript object to represent the password change model
            var passwordChangeModel = {
                OldPassword: oldPassword,
                NewPassword: newPassword,
                ConfirmPassword: confirmPassword
            };

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(passwordChangeModel),
                success: function (response) {
                    // Handle success, maybe show a success message to the user
                    if (response.success) {
                        // Handle success
                        //console.log('Password changed successfully');
                        Swal.fire({
                            icon: 'success',
                            title: 'Password Changed Successfully',
                            showConfirmButton: false,
                            confirmButtonColor: '#14984a',
                            timer: 1500,
                            willClose: () => {
                                location.reload(true);
                            }
                        });
                    } else {
                        // Handle failure
                        //console.log('Password change failed:', response.errors || 'Unknown error');
                        //console.log("response.errors", response.errors);
                        showErrorModal(response.errors || [response.error] || ['Unknown error']);
                    }
                },
                error: function (error) {
                    // Handle errors, maybe show an error message to the user
                    //console.log('Password change failed:', error.responseText);
                    showErrorModal([error.responseText] || ['Unknown error']);
                }
            });
        }

        function showErrorModal(errors) {
            let errorMessages = [];

            // Iterate through each field in the errors object
            for (let field in errors) {
                if (errors.hasOwnProperty(field)) {
                    // Concatenate the error messages for each field
                    errorMessages = errorMessages.concat(errors[field]);
                }
            }

            Swal.fire({
                icon: 'error',
                title: 'Password Change Failed',
                confirmButtonColor: '#14984a',
                html: '<ul style="text-align: left;">' +
                    errorMessages.map(message => `<li>${message}</li>`).join('') +
                    '</ul>'
            });
        }

        // $("#btnSave").click(function () {
        //     // Show SweetAlert2 modal
        //     Swal.fire({
        //         title: 'Are you sure?',
        //         text: 'Do you really want to change your password?',
        //         icon: 'warning',
        //         showCancelButton: true,
        //         confirmButtonColor: '#14984a',
        //         cancelButtonColor: '#d33',
        //         confirmButtonText: 'Yes, change it!'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             // If user clicks "Yes, change it!", submit the form
        //             submitChangePasswordForm();
        //         }
        //     });
        // });

        // function submitChangePasswordForm() {
        //     try {
        //         // Submit the form using form.submit()
        //         document.getElementById('ChangePasswordForm').submit();

        //         // Simulate success
        //         Swal.fire({
        //             title: 'Success!',
        //             text: 'Your password has been changed successfully.',
        //             icon: 'success',
        //             confirmButtonColor: '#14984a'
        //         });
        //     } catch (error) {
        //         // If an error occurs during form submission, show an error message
        //         Swal.fire({
        //             title: 'Error!',
        //             text: 'Something went wrong while changing your password.',
        //             icon: 'error',
        //             confirmButtonColor: '#14984a'
        //         });
        //     }
        // }


    });
</script>