@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Manage Profile";
}

<div id="card-container">
    <div id="card">
        @* <div class="row m-0">
            <div id="editBtnSection" class="col-md-12">
                <div class="d-flex justify-content-end gap-2">
                    <button id="btnSave" class="btn btn-primary w-105">Save</button>
                    <button class="btn btn-secondary w-105 btnCancel">Cancel</button>
                </div>
            </div>
            <div id="passwordBtnSection" class="col-md-12">
                <div class="d-flex justify-content-end gap-2">
                    <button id="btnSave" class="btn btn-primary w-105">Save</button>
                    <button class="btn btn-secondary w-105 btnCancel">Cancel</button>
                </div>
            </div>
        </div> *@
        <hr />
        <div id="profileSection" class="row m-0">
            @* <div class="col-md-3">
                <div class="d-flex justify-content-center gap-1">
                    <img src="/assets/images/default-avatar.png" class="img-fluid rounded" />
                </div>
                <div class="d-flex justify-content-end align-items-center me-5 p-1">
                    <a href="#" class="text-decoration-none"><i data-feather="edit" class="me-1"></i>Edit Photo</a>
                </div>
            </div> *@
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mb-5">
                            @if (Model.tbl_User.company_name != null || Model.tbl_User.company_name != "")
                            {
                                <div class="col-md-6">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Full Name
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.first_name @Model.tbl_User.middle_name @Model.tbl_User.last_name @Model.tbl_User.suffix
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Gender
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.gender
                                        </span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Full Name
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.first_name @Model.tbl_User.middle_name @Model.tbl_User.last_name @Model.tbl_User.suffix
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Company Name
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.company_name
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Gender
                                        </label>
                                        <span class="fw-bold">
                                            @Model.tbl_User.gender
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        User Type(s)
                                    </label>
                                    <span class="fw-bold">
                                        @if (ViewBag.UserTypes != null)
                                        {
                                            <ul>
                                                @foreach (var userType in ViewBag.UserTypes)
                                                {
                                                    <li>@userType</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No user types available.</p>
                                        }
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        User Classification
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.user_classification
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Email Address
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.email
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Contact Number
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.contact_no
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Valid ID
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.valid_id
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Valid ID Number
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.valid_id_no
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Birth Date
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.birth_date
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Street Address
                                    </label>
                                    <span class="fw-bold">
                                        @Model.tbl_User.street_address
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Region
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.Region
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Province
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.Province
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        City/Municipality
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.City
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex flex-column gap-1">
                                    <label class="text-secondary small">
                                        Barangay
                                    </label>
                                    <span class="fw-bold">
                                        @ViewBag.Brgy
                                    </span>
                                </div>
                            </div>
                        </div>
                        @* <div class="row mb-2">
                            <div class="col-md-12">
                                <button id="changePassword" class="btn text-secondary bg-gray border-0">Change Password</button>
                            </div>

                        </div> *@
                    </div>
                    @* <div class="col-md-2 d-flex justify-content-end">
                        <a href="#" class="text-decoration-none me-5"><i data-feather="settings" class="me-1"></i>Edit</a>
                    </div> *@
                </div>
            </div>
        </div>
        <div id="passwordSection" class="row m-0 m-5">
            <div class="col-md-12">
                <p class="fw-bold text-md-start mb-1">
                    New password must be:
                </p>
                <ul class="text-md-start text-secondary mb-5">
                    <li>At least 8 characters long</li>
                    <li>At least 1 number</li>
                    <li>At least 1 lower case character</li>
                    <li>At least 1 upper case character</li>
                    <li>Minimum of 2 special characters</li>
                </ul>
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">Old Password</label>
                    <div class="input-group password-toggle mb-md-2">
                        @Html.Editor("OldPassword", new { htmlAttributes = new { @class = "form-control", @id = "OldPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                        <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                            <i data-feather="eye" class="data-feather"></i>
                        </span>
                    </div>
                    <label class="form-label">New Password</label>
                    <div class="input-group password-toggle mb-md-2">
                        @Html.Editor("NewPassword", new { htmlAttributes = new { @class = "form-control", @id = "NewPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                        <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                            <i data-feather="eye" class="data-feather"></i>
                        </span>
                    </div>
                    <label class="form-label">Confirm Password</label>
                    <div class="input-group password-toggle mb-md-4">
                        @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                        <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                            <i data-feather="eye" class="data-feather"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#passwordSection').hide();
        $('#editBtnSection').hide();
        $('#passwordBtnSection').hide();

        $("#changePassword").click(function () {
            $('#profileSection').hide();
            $('#passwordSection').show();
            $('#passwordBtnSection').show();
        });

        const oldPasswordInput = document.getElementById('OldPassword');
        const newPasswordInput = document.getElementById('NewPassword');
        const confirmPasswordInput = document.getElementById('ConfirmPassword');
        const togglePasswordElements = document.getElementsByClassName('show-password');

        for (const togglePasswordElement of togglePasswordElements) {
            togglePasswordElement.addEventListener('click', function () {
                if (oldPasswordInput.type === 'password' || newPasswordInput.type === 'password' || confirmPasswordInput.type === 'password') {
                    oldPasswordInput.type = 'text';
                    newPasswordInput.type = 'text';
                    confirmPasswordInput.type = 'text';
                } else {
                    oldPasswordInput.type = 'password';
                    newPasswordInput.type = 'password';
                    confirmPasswordInput.type = 'password';
                }
            });
        }

        $(".btnCancel").click(function () {
            location.reload(true);
        });
    });
</script>