@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model FMB_CIS.Models.ApplicantListViewModel *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Importer";
}

<div id="card-container">
    <div id="card">
        <form asp-action="ChainsawImporterApproval" method="post">
            <div class="row m-0">
                <input asp-for="uid" type="hidden" />
                <input asp-for="appid" type="hidden" />
                <div class="d-flex justify-content-end gap-2">
                    @* <button id="ApproveBtn" class="btn btn-primary w-105">Approve</button>
                    <button class="btn btn-danger w-105 btnCancel">Decline</button> *@
                    <input id="ApproveBtn" class="btn btn-primary w-105" name="SubmitButton" type="submit" value="Approve" />
                    <input class="btn btn-danger w-105 btnCancel" name="SubmitButton" type="submit" value="Decline" />

                </div>
            </div>
            <hr />
            <div id="profileSection" class="row m-0">
                <div class="col-md-3">
                    <div class="d-flex justify-content-center gap-1">
                        <img src="/assets/images/default-avatar.png" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            User Type
                                        </label>
                                        <span class="fw-bold">
                                            @* @Html.DisplayFor(model => model.user_type) *@
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.user_type) }
                                            @* @Html.DisplayFor(modelItem => item.Engine) *@
                                            @* Chainsaw Importer *@
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Name
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.full_name) }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Email Address
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                                            {
                                                @Html.DisplayFor(modelItem => item.email)
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Contact Number
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.contact) }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Valid ID
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.valid_id) }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Valid ID Number
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.valid_id_no) }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Birth Date
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.birth_date) }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Street Address
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.address) }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Region
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.tbl_region_id) }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Province
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.tbl_province_id) }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            City/Municipality
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.tbl_city_id) }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex flex-column gap-1">
                                        <label class="text-secondary small">
                                            Barangay
                                        </label>
                                        <span class="fw-bold">
                                            @foreach (ApplicantListViewModel item in Model.applicantListViewModels) { @Html.DisplayFor(modelItem => item.tbl_brgy_id) }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row d-flex justify-content-center m-0">
                <div class="col-md-11 mb-5">
                    <span>Attached Forms</span>
                    <table class="w-100 striped-table">
                        <thead>
                            <tr>
                                <th class="text-nowrap">
                                    Name of form
                                </th>
                                <th class="text-nowrap text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap">
                                    Form 01.doc
                                </td>
                                <td class="text-nowrap">
                                    <div class="d-flex justify-content-center gap-3">
                                        <a href="#" class="bg-green text-white px-1 pb-1 rounded" title="view">
                                            <i data-feather="eye" class="data-feather-20"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Form 01.doc
                                </td>
                                <td class="text-nowrap">
                                    <div class="d-flex justify-content-center gap-3">
                                        <a href="#" class="bg-green text-white px-1 pb-1 rounded" title="view">
                                            <i data-feather="eye" class="data-feather-20"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    Form 01.doc
                                </td>
                                <td class="text-nowrap">
                                    <div class="d-flex justify-content-center gap-3">
                                        <a href="#" class="bg-green text-white px-1 pb-1 rounded" title="view">
                                            <i data-feather="eye" class="data-feather-20"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row d-flex justify-content-center px-0 mb-5">
                    <div class="col-md-11 d-flex flex-column gap-2">
                        <span>
                            Comments
                        </span>
                        @* <textarea asp-for="comment" class="form-control"></textarea> *@
                        @* @Html.EditorFor(model => model.applicantListViewModels.ToList(comment), new { htmlAttributes = new { @class = "form-control" } }) *@
                        @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                        {
                            @Html.TextAreaFor(modelItem => item.comment, new { @class = "form-control", @name="newComment", @id="commentFromDB", @hidden ="true" })
                            @Html.TextAreaFor(modelItem => item.email, new { @id="myEmailAdd", @name="myEmailAddress", @hidden ="true"})

                            @* @Html.TextAreaFor *@
                        }
                        @Html.TextAreaFor(model => model.comment, new { @class = "form-control", @id="commentToPass"})
                        @Html.TextAreaFor(model => model.email, new { @class = "form-control", @id="emailCopy", @hidden ="true"})
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#approveBtn').click(function () {
            $('#confirmApproveModal').modal("show");
        });

        $("#backApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
        });

        $("#confirmApproveBtn").click(function () {
            $("#confirmApproveModal").modal('hide');
            $('#confirmSuccessApproveModal').modal("show");
        });
        
        $('#declineBtn').click(function () {
            $('#confirmDeclineModal').modal("show");
        });

        $('#backDeclineBtn').click(function () {
            $('#confirmDeclineModal').modal("hide");
        });

        $("#confirmDeclineBtn").click(function () {
            $("#confirmDeclineModal").modal('hide');
            $('#confirmSuccessDeclineModal').modal("show");
        });
    });
    var x = document.getElementById("commentFromDB").value;
    document.getElementById('commentToPass').value = x;

    var y = document.getElementById("myEmailAdd").value;
    document.getElementById('emailCopy').value = y;
    

</script>