@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@* @model IEnumerable<FMB_CIS.Models.tbl_application> *@
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "List of Import Permit Application";
    var loggedUsrRole = ((ClaimsIdentity)User.Identity).FindFirst("userRole").Value;
}

<div id="card-container">
    <div id="card">
                <table class="table dataTable" id="tblUserHistory">
            <thead>
                <tr>
                    <th>
                        Reference Number
                    </th>
                    <th>
                        Name of Applicant
                    </th>
                    <th>
                        Application Date
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Status
                    </th>                    
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicantListViewModel item in Model.applicantListViewModels)
                {
                    <tr>
                        @if(item.isRead == true)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.full_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.applicationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.qty)
                            </td>
                            <td>
                                <div class="progress-text">
                                    <span class="progress-status">
                                        @Html.DisplayFor(modelItem => item.permit_status)
                                    </span>
                                    <span class="progress-count">
                                        @Html.DisplayFor(modelItem => item.currentStepCount) /
                                        @Html.DisplayFor(modelItem => item.currentMaxCount)
                                    </span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: @Html.DisplayFor(modelItem => item.currentPercentage)%" aria-valuenow="@Html.DisplayFor(modelItem => item.currentStepCount)" aria-valuemin="@Html.DisplayFor(modelItem => item.currentStepCount)" aria-valuemax="@Html.DisplayFor(modelItem => item.currentMaxCount)"></div>
                                </div>
                            </td>
                            <td>
                                @* @Html.ActionLink("Take Action", "ChainsawImporterApproval?uid="+ item.tbl_user_id + "&appid=" + item.id) *@
                                <a href="ChainsawImporterApproval?uid=@item.tbl_user_id&appid=@item.id">View</a>
                            </td>
                        }
                        else
                        {
                            <td style="font-weight:bold;">
                                @Html.DisplayFor(modelItem => item.id)
                            </td>

                            <td style="font-weight:bold;">
                                @Html.DisplayFor(modelItem => item.full_name)
                            </td>
                            <td style="font-weight:bold;">
                                @Html.DisplayFor(modelItem => item.applicationDate)
                            </td>
                            <td style="font-weight:bold;">
                                @Html.DisplayFor(modelItem => item.qty)
                            </td>
                            <td style="font-weight:bold;">
                                <div class="progress-text">
                                    <span class="progress-status">
                                        @Html.DisplayFor(modelItem => item.permit_status)
                                    </span>
                                    <span class="progress-count">
                                        @Html.DisplayFor(modelItem => item.currentStepCount) /
                                        @Html.DisplayFor(modelItem => item.currentMaxCount)
                                    </span>
                                </div>
                                <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: @Html.DisplayFor(modelItem => item.currentPercentage)%" aria-valuenow="@Html.DisplayFor(modelItem => item.currentStepCount)" aria-valuemin="@Html.DisplayFor(modelItem => item.currentStepCount)" aria-valuemax="@Html.DisplayFor(modelItem => item.currentMaxCount)"></div>
</div>
                            </td>
                            <td style="font-weight:bold;">
                                @* @Html.ActionLink("Take Action", "ChainsawImporterApproval?uid="+ item.tbl_user_id + "&appid=" + item.id) *@
                                <a href="ChainsawImporterApproval?uid=@item.tbl_user_id&appid=@item.id">View</a>

                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    //location.reload
</script>
<style>
    .progress {
        height: 5px;
    }
    .progress-text {
        display: flex;
    }
    .progress-status {
        flex: 1;
    }
    .progress-count {
    }
</style>