﻿@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel

@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "New Chainsaw Registration";
    var baseurl = ViewBag.BaseUrl;
}

<div id="card-container">
    <form asp-action="Index" asp-controller="NewChainsawRegistration" method="post" enctype="multipart/form-data" id="ChainsawRegForm">
        <div id="card">
            @if(ViewBag.message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.message
                </div>
            }
            <a href="@Url.Action("Index", "Dashboard")" class="mx-2" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
            <div class="row m-0 my-4">
                <div class="col-md-6">
                    <div class="p-4 shadow h-100">
                        <h2 class="text-secondary fw-bold mb-4">Chainsaw Details</h2>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Chainsaw Brand
                            </label>
                            <input asp-for="TBL_Chainsaw.Brand" type="text" class="form-control" required="required" placeholder="Enter chainsaw brand" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Chainsaw Model
                            </label>
                            <input asp-for="TBL_Chainsaw.Model" type="text" class="form-control" required="required" placeholder="Enter chainsaw model" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Engine
                            </label>
                            <input asp-for="TBL_Chainsaw.Engine" type="text" class="form-control" required="required" placeholder="Enter chainsaw engine" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Power Source
                            </label>
                            @* <input type="text" class="form-control" placeholder="Enter suffix (if any)" /> *@
                            <select asp-for="TBL_Chainsaw.Power" class="form-select" onchange="powerClassification(this)">
                                <option value="Electric">Electric</option>
                                <option value="Gas">Gas</option>
                                <option value="Battery">Battery</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3" id="WattDiv">
                            <label class="text-secondary fw-bold">
                                Watt
                            </label>
                            <input asp-for="TBL_Chainsaw.watt" type="number" class="form-control" placeholder="Enter chainsaw wattage" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3" id="HorsepowerDiv" style="display:none">
                            <label class="text-secondary fw-bold">
                                Horsepower
                            </label>
                            <input asp-for="TBL_Chainsaw.hp" type="number" class="form-control" placeholder="Enter chainsaw horsepower" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Length of Guidebar
                            </label>
                            <input asp-for="TBL_Chainsaw.gb" class="form-control" required="required" placeholder="Enter the length of Guidebar (ex. 12 in)" />
                            <span class="text-danger"></span>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-4 shadow h-100">
                        <h2 class="text-secondary fw-bold mb-4"></h2>
                        <div class="form-group mb-3">
                            <label asp-for="TBL_Chainsaw.chainsaw_serial_number" class="text-secondary fw-bold">Chainsaw Serial Number</label>
                            <input asp-for="TBL_Chainsaw.chainsaw_serial_number" class="form-control" placeholder="Enter Chainsaw Serial Number" required="required" id="chSerNumInput" onchange="checkExistingSerialNum()" />
                            <span asp-validation-for="TBL_Chainsaw.chainsaw_serial_number" class="text-danger"></span>
                            <span id="serialNumValidation" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Chainsaw Supplier
                            </label>
                            <input asp-for="TBL_Chainsaw.supplier" type="text" class="form-control" placeholder="Enter the name of supplier" required="required" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Enter Date of Purchase
                            </label>
                            <input asp-for="TBL_Chainsaw.date_purchase" type="date" class="form-control" required="required" />
                            <span class="text-danger"></span>
                        </div>
                        @* <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Number of chainsaws to registered
                            </label>
                            <input type="number" asp-for="tbl_Application.qty" class="form-control" placeholder="Enter number of chainsaws to be registered" />
                            <span class="text-danger"></span>
                        </div> *@
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Specification
                            </label>
                            <textarea class="form-control" asp-for="tbl_Application.tbl_specification_id" placeholder="Enter specification" required="required"></textarea>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-secondary fw-bold">
                                Purpose
                            </label>
                            <textarea class="form-control" asp-for="tbl_Application.purpose" placeholder="Enter purpose" required="required"></textarea>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-4">
                <div class="col-md-12">
                    <div class="p-4 shadow h-100">
                        <div class="mb-4">
                            <span style="white-space: pre-line">@ViewBag.RequiredDocsList</span>
                        </div>
                        <div class="gap-4 mb-5">
                            <h2 class="text-secondary fw-bold m-0">Attach Required Documents</h2>
                            <div class="alert alert-warning mt-3 mb-3" role="alert">
                                When uploading multiple files, drag all files at once on the field.
                            </div>
                            <input asp-for="filesUpload.Files" type="file" class="file" multiple data-show-upload="false" data-allowed-file-extensions='["pdf"]' accept="application/pdf" data-show-caption="true" data-msg-placeholder="Select {files} for upload..."> <!-- onchange="fileChange(this)" -->
                        </div>                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row d-flex justify-content-center m-0">
                <h5 class="text-secondary">Please match your uploaded file based on the checklist of requirements.</h5>
                <table class="table dataTable" id="tblApplicantFiles">
                    <thead>
                        <tr>
                            <th>
                                Required Document
                            </th>
                            <th>
                                Uploaded Document
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (tbl_document_checklist item in Model.tbl_Document_Checklist)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                    @* <a href="#" data-fileID="@item.tbl_files_id" data-fileName="@item.filename" onclick="DocHistory(this)">@item.filename</a> *@
                                </td>
                                <input type="hidden" asp-for="fileChecklistViewModel[i].tbl_document_checklist_id" value="@item.id" />
                                <td>
                                    <select class="form-select fileListDropDown" id="fileListDropDown_@i" data-prevVal="" data-curVal="" onchange="fileSelected(this)" asp-for="fileChecklistViewModel[i].FileNames" multiple required>
                                    </select>
                                </td>
                                @{
                                    i++;
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-center mb-4">
                <small class="text-secondary fw-bold fst-italic">
                    By submitting this form, you agree to our <a href="@Url.Action("TermsPolicy", "Home")" target="_blank" class="text-decoration-none">Privacy Policy and Terms & Conditions.</a>
                </small>
            </div>
            <div class="d-flex justify-content-end pe-2 me-1">
                <button type="button" id="btnSubmit" class="btn btn-primary w-125" style="float:right;">Submit</button>
            </div>
        </div>
    </form>
</div>




<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Selectize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script> *@
<!-- End for Selectize -->
<script type="text/javascript">
    $(document).ready(function () {

        //MODAL FORM SUBMISSION CONFIRMATIONS
        const csawRegform = document.getElementById('ChainsawRegForm');
        $("#btnSubmit").click(function () {

            //Check if required fields are filled up
            if ($("#ChainsawRegForm")[0].checkValidity()) {
                var formFiles = document.forms['ChainsawRegForm']['filesUpload.Files'];

                if (formFiles.files.length == 0) {
                    Swal.fire({
                        title: "No File Selected",
                        text: "Please upload the required documents to proceed with the application.",
                        icon: "error",
                        confirmButtonColor: '#14984a'
                    });
                }
                else {
                    $('#confirmSubmitModal').modal("show"); //proceed to submit modal
                }
            }
            //If fields are not filled up
            else {
                //Validate Form
                $("#ChainsawRegForm")[0].reportValidity();
            }

        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            csawRegform.submit();
            $("#confirmSuccessModal").modal("show");
        });

        $("#finalOKBtn").click(function () {
            $("#confirmSuccessModal").modal("hide");
        });
        //END FOR MODAL FORM SUBMISSION CONFIRMATION

        // $("#btnSubmit").click(function () {
        //     $("#confirmSubmitModal").modal("show");
        // });

        // $("#backBtn").click(function () {
        //     $("#confirmSubmitModal").modal("hide");
        // });

        // $("#confirmBtn").click(function () {
        //     $("#confirmSubmitModal").modal("hide");
        //     $("#confirmSuccessModal").modal("show");
        // });
    });


    // const form = document.getElementById('ChainsawRegForm');
    // const showModalButton = document.getElementById('btnSubmit');
    // const confirmationModal = document.getElementById('confirmSubmitModal');
    // const confirmButton = document.getElementById('confirmBtn');

    // // Function to display the modal
    // function showModal() {
    //     confirmationModal.style.display = 'block';
    // }

    // // Function to hide the modal
    // function hideModal() {
    //     confirmationModal.style.display = 'none';
    // }

    // // Event listener for the "Submit" button
    // showModalButton.addEventListener('click', showModal);

    // // Event listener for the "Confirm" button
    // confirmButton.addEventListener('click', function () {
    //     // Submit the form when the "Confirm" button is clicked
    //     form.submit();
    // });

    // // Close the modal when the user clicks outside of it
    // window.addEventListener('click', function (event) {
    //     if (event.target === confirmationModal) {
    //         hideModal();
    //     }
    // });


    function powerClassification(that) {
        if (that.value == "Gas") {
            document.getElementById("HorsepowerDiv").style.display = "block";
            document.getElementById("WattDiv").style.display = "none";
        }

        else {
            document.getElementById("HorsepowerDiv").style.display = "none";
            document.getElementById("WattDiv").style.display = "block";
        }
    }

    var chainsawSerNumExist = false;
    //Check Existing Chainsaw on Database
    function checkExistingSerialNum() {
        var serialNumValue = document.getElementById("chSerNumInput").value;
        var url = "@baseurl";
        $.post(url + "NewChainsawRegistration/CheckExistingSerialNumOnField", { serialNum: serialNumValue }, function (data) {
            chainsawSerNumExist = data;
            if (data == true) {
                //console.log(chainsawSerNumExist);
                document.getElementById("serialNumValidation").innerHTML = "Serial number exists!";
                //document.getElementById("submitbtnForChainsawReg").disabled = true;
            }
            else {
                document.getElementById("serialNumValidation").innerHTML = "";
                //document.getElementById("submitbtnForChainsawReg").disabled = false;
            }
        });
    }

    //Multiple Select
    $('.form-select.fileListDropDown').each(function () {
        //Initialize Selectize on the select element with the specified class

        var $select = $(this).selectize({
            create: true,
            placeholder: 'Please select your uploaded file',
            plugins: ['remove_button'], // Enable the remove button
        })[0].selectize;


        $('.file').on('change', function (event) {
            var files = event.target.files;
            //var formFiles = document.forms['ChainsawRegForm']['filesUpload.Files'];

            $select.clear();
            // Clear existing options
            $select.clearOptions();
            $select.addOption({ value: "N/A", text: "N/A" });
            // Loop through each selected file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Get the file name
                var fileName = file.name;

                // Add options based on the file name
                //var options = fileName.split('.')[0].split('_');
                var options = fileName.split('_');
                options.forEach(function (option) {
                    option = option.trim();
                    if (option !== '') {
                        $select.addOption({ value: option, text: option });
                    }
                });
            }

            // Refresh the Selectize control to update the UI
            //$select.refreshOptions();
        });

        //If files were placed using drag and drop feature
        $(document).on('drop', '.file-drop-zone.clearfix', function () {
            console.log("dropped");
            $select.clear();
            $select.clearOptions();

            var formFiles = document.forms['ChainsawRegForm']['filesUpload.Files'];
            var files = formFiles.files;

            $select.addOption({ value: "N/A", text: "N/A" });
            // Loop through each selected file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Get the file name
                var fileName = file.name;

                // Add options based on the file name
                var options = fileName.split('_');
                options.forEach(function (option) {
                    option = option.trim();
                    if (option !== '') {
                        $select.addOption({ value: option, text: option });
                    }
                });
            }

        });

        //If remove button of files will be clicked
        $(document).on('click', '.fileinput-remove-button', function () {
            console.log("remove button clicked");
            $select.clear();
            $select.clearOptions();
        });

    });

    //End of Multiple Select
    //FOR CHECKLIST OF DOCUMENTS
    function fileChange(that) {
        var formFiles = document.forms['ChainsawRegForm']['filesUpload.Files'];
        PopulateFileDropDown(".fileListDropDown", formFiles.files);
    }

    function PopulateFileDropDown(fileDropDownClass, list) {
        $(fileDropDownClass).empty();
        $(fileDropDownClass).append("<option value=\"\" selected disabled>--Please select your uploaded file--</option>")
        $(fileDropDownClass).append("<option value=\"N/A\" >N/A</option>")
        $.each(list, function (index, row) {
            $(fileDropDownClass).append("<option value=\"" + row.name + "\"id=\"uploadedFile_" + index + "\">" + row.name + "</option>")
        });
    }

    function fileSelected(that) {
        var curval = that.dataset.curval;
        document.getElementById(that.id).setAttribute("data-prevVal", curval);
        document.getElementById(that.id).setAttribute("data-curVal", that.value);

        // var selectClass = document.getElementsByClassName('fileListDropDown');
        // for (let i = 0; i < selectClass.length; i++) {
        //     if (selectClass[i].id != that.id) {

        //         //CODE TO DISABLE OPTIONS
        //         var selectedFileList = document.getElementById(selectClass[i].id);
        //         for (let j = 0; j < selectedFileList.options.length; j++) {
        //             if (selectedFileList.options[j].value == that.value) {
        //                 if (that.value != "N/A") {
        //                     //Disable options with the same selected value
        //                     selectedFileList.options[j].disabled = true;
        //                 }
        //             }
        //             if (selectedFileList.options[j].value == that.dataset.prevval) {
        //                 //Enable options based on prev value
        //                 selectedFileList.options[j].disabled = false;
        //             }
        //         }
        //     }
        // }
    }
    //END FOR CHECKLIST OF DOCUMENTS

</script>

<style>
    textarea {
        resize: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>