@model FMB_CIS.Models.ViewModel
<div class="modal fade" id="addAnnouncementTemplateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-controller="AnnouncementTemplates" asp-action="CreateEditAnnouncementTemplate" id="CreateEditAnnouncementTemplateForm">
                    <div class="d-flex flex-column align-items-center gap-4 p-5">
                        <p class="fw-bold fs-5" id="addAnnouncementTemplate">
                            Add Announcement Template
                        </p>
                        <div class="row w-100">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label class="form-label small">Type</label>
                                    <select asp-for="soloAnnouncement.tbl_announcement_type_id" class="form-select" id="announcementTypeIDDropdown" required>
                                        @foreach (tbl_announcement_type item in Model.tbl_Announcement_Type_List)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label small">Title</label>
                                    <input asp-for="soloAnnouncement.title" id="announcementTitle" class="form-control" required />
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label small">Subject</label>
                                    <input asp-for="soloAnnouncement.announcement_subject" id="announcementSubject" class="form-control" required />
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label small">Content</label>
                                    <textarea asp-for="soloAnnouncement.announcement_content" id="announcementContent" class="form-control" rows="8" required></textarea>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="typeOfActionID" name="typeOfAction" />
                        <input type="hidden" id="announcementIDVal" asp-for="soloAnnouncement.id" />
                        <div class="d-flex gap-4 w-100">
                            <button id="cancelBtn" type="button" class="btn btn-danger w-100">Cancel</button>
                            <button id="confirmSaveBtn" type="button" class="btn btn-primary w-100">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmAddModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div>
                        <img src="~/assets/images/submit.png" />
                    </div>
                    <p class="fw-bold fs-5 text-center">
                        Are you sure you want to add this announcement template?
                    </p>
                    <div class="d-flex gap-4 w-100">
                        <button id="backAddBtn" class="btn btn-danger w-100">Back</button>
                        <button id="confirmAddBtn" class="btn btn-primary w-100">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmAddSuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div>
                        <img src="~/assets/images/success.png" />
                    </div>
                    <p class="fw-bold fs-5">
                        Announcement template added successfully!
                    </p>
                    <div class="d-flex justify-content-center w-100">
                        <button class="btn btn-primary w-50" onclick="window.location.href = '@Url.Action("Index", "AnnouncementTemplates")'">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewAnnouncementTemplateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div class="row w-100">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label class="form-label small">Type</label>
                                <select asp-for="soloAnnouncement.tbl_announcement_type_id" class="form-select" id="announcementTypeIDDropdownView" disabled>
                                    @foreach (tbl_announcement_type item in Model.tbl_Announcement_Type_List)
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label small">Title</label>
                                <input class="form-control" id="announcementTitleView" readonly />
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label small">Subject</label>
                                <input class="form-control" id="announcementSubjectView" readonly />
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label small">Content</label>
                                <textarea class="form-control" rows="8" id="announcementContentView" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex just gap-4 w-100">
                        <div class="w-100 d-flex justify-content-end">
                            <button id="cancelSendBtn" class="btn btn-danger w-50" hidden>Cancel</button>
                        </div>
                        <div class="w-100">
                            <button id="confirmSendBtn" class="btn btn-primary w-50" hidden>Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSendModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div>
                        <img src="~/assets/images/submit.png" />
                    </div>
                    <p class="fw-bold fs-5 text-center">
                        Are you sure you want to send this announcement?
                    </p>
                    <div class="d-flex gap-4 w-100">
                        <button id="backSendBtn" class="btn btn-danger w-100">Back</button>
                        <button id="sendBtn" class="btn btn-primary w-100">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSendSuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div>
                        <img src="~/assets/images/success.png" />
                    </div>
                    <p class="fw-bold fs-5">
                        Announcement sent successfully!
                    </p>
                    <div class="d-flex justify-content-center w-100">
                        <button class="btn btn-primary w-50" onclick="window.location.href = '@Url.Action("Index", "AnnouncementTemplates")'">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $("#cancelBtn").click(function () {
        $("#addAnnouncementTemplateModal").modal("hide");
    });

    $("#confirmSaveBtn").click(function () {
        if ($("#CreateEditAnnouncementTemplateForm")[0].checkValidity()) {
            $("#addAnnouncementTemplateModal").modal("hide");
            $("#confirmAddModal").modal("show");
        }
        else {
            //Validate Form
            $("#CreateEditAnnouncementTemplateForm")[0].reportValidity();
        }
    });

    $("#backAddBtn").click(function () {
        $("#addAnnouncementTemplateModal").modal("show");
        $("#confirmAddModal").modal("hide");
    });

    $("#confirmAddBtn").click(function () {
        $("#confirmAddSuccessModal").modal("show");
        $("#confirmAddModal").modal("hide");
    });

    $("#cancelSendBtn").click(function () {
        $("#viewAnnouncementTemplateModal").modal("hide");
    });

    $("#backSendBtn").click(function () {
        $("#viewAnnouncementTemplateModal").modal("show");
        $("#confirmSendModal").modal("hide");
    });

    $("#confirmSendBtn").click(function () {
        $("#confirmSendModal").modal("show");
        $("#viewAnnouncementTemplateModal").modal("hide");
    });

    $("#sendBtn").click(function () {
        $("#confirmSendSuccessModal").modal("show");
        $("#confirmSendModal").modal("hide");
    });

    const createAnnouncementTemplForm = document.getElementById('CreateEditAnnouncementTemplateForm');
    const showConfirmSaveModalButton = document.getElementById('confirmSaveBtn');
    const confirmationAddModal = document.getElementById('confirmAddModal');
    const confirmAddButton = document.getElementById('confirmAddBtn');

    // Function to display the modal
    function showAddModal() {
        confirmationAddModal.style.display = 'block';
    }

    // Function to hide the modal
    function hideAddModal() {
        confirmationAddModal.style.display = 'none';
    }

    // Event listener for the "Submit" button
    showConfirmSaveModalButton.addEventListener('click', showAddModal);

    // Event listener for the "Confirm" button
    confirmAddButton.addEventListener('click', function () {
        // Submit the form when the "Confirm" button is clicked
        createAnnouncementTemplForm.submit();
    });

    // Close the modal when the user clicks outside of it
    window.addEventListener('click', function (event) {
        if (event.target === confirmationAddModal) {
            hideAddModal();
        }
    });

</script>   