@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Email Templates";
    var baseurl = ViewBag.BaseUrl;
}

<div id="card-container">
    <div id="card">
        <a href="@Url.Action("Index", "Home")" class="me-auto" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <button type="button" id="btnAdd" class="btn btn-primary float-end">Add New <i data-feather="plus" class=""></i></button>
        <table id="denrOfficeTable" class="table table-striped dataTable">
            <thead>
                <tr>
                    <th class="text-nowrap">Date Created</th>
                    <th class="text-nowrap">Template Title</th>
                    <th class="text-nowrap">Description</th>
                    <th class="text-nowrap text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (tbl_email_template item in Model.tbl_Email_Templates_List)
                {
                    <tr>
                        <td class="text-nowrap">@Convert.ToDateTime(item.date_created).ToString("yyyy-MM-dd HH:mm")</td>
                        <td class="text-nowrap">@item.template_name</td>
                        <td class="text-nowrap">@item.template_description</td>
                        <td class="text-nowrap">
                            <div class="d-flex justify-content-center gap-3">
                                <a href="#" id="viewEmailTemplate" class="bg-green text-white px-1 pb-1 rounded" title="view" data-template-id="@item.id" onclick="getEmailDetails(this)">
                                    <i data-feather="eye" class="data-feather-20"></i>
                                    @* <input type="hidden" id="templateID" value="@item.id" /> *@
                                </a>
                                <a href="#" class="bg-green text-white px-1 pb-1 rounded" title="edit" data-template-id="@item.id" onclick="editEmailDetails(this)">
                                    <i data-feather="edit" class="data-feather-20"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                

                @* <tr>
                    <td class="text-nowrap">Template 1</td>
                    <td class="text-nowrap">Failure to submit the given deadline to upload the documentary requirements</td>
                    <td class="text-nowrap">August 10, 2023</td>
                    <td class="text-nowrap">
                        <div class="d-flex justify-content-center gap-3">
                            <a href="#" id="viewEmailTemplate" class="bg-green text-white px-1 pb-1 rounded" title="view">
                                <i data-feather="eye" class="data-feather-20"></i>
                            </a>
                        </div>
                    </td>
                </tr> *@
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $("#btnAdd").click(function () {
        $("#addEmailTemplateModal").modal("show");
        document.getElementById("addEmailTemplate").innerHTML = "Add Email Template";
        document.getElementById("EmailTemplateName").value = null;
        document.getElementById("EmailTemplateDescription").value = null;
        document.getElementById("EmailTemplateSubject").value = null;
        document.getElementById("EmailTemplateContent").value = null;
        document.getElementById("typeOfActionID").value = "create";
    });

    // $("#viewEmailTemplate").click(function () {
    //     $("#viewEmailTemplateModal").modal("show");
    // });


    
    function getEmailDetails(that) {
        $("#viewEmailTemplateModal").modal("show");
        var templID = that.dataset.templateId; //data('data-template-id'); //document.getElementById("templateID").value;
        var url = "@baseurl";
        //console.log(templID);
        $.post(url + "EmailTemplates/GetEmailTemplateDetails", { id: templID }, function (data) {
            //debugger;
            //console.log(data);
            //alert(data.template_name);
            document.getElementById("Subject").value = data.email_subject;
            document.getElementById("emailContent").value = data.email_content;
            
        });
    }

    function editEmailDetails(that) {
        $("#addEmailTemplateModal").modal("show");
        var templID = that.dataset.templateId;
        var url = "@baseurl";
        //console.log(templID);
        document.getElementById("addEmailTemplate").innerHTML = "Edit Email Template";
        $.post(url + "EmailTemplates/GetEmailTemplateDetails", { id: templID }, function (data) {
            //debugger;
            //console.log(data);
            //alert(data.template_name);
            document.getElementById("EmailTemplateName").value = data.template_name;
            document.getElementById("EmailTemplateDescription").value = data.template_description;
            document.getElementById("EmailTemplateSubject").value = data.email_subject;
            document.getElementById("EmailTemplateContent").value = data.email_content;
            document.getElementById("typeOfActionID").value = "edit";
            document.getElementById("emailTemplateIDVal").value = data.id;

        });
    }

</script>